<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>我的特权</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header(${-1})">Header</div>
    <div class="eui-area">
        <div th:replace="project/cube/common/left :: left(${2})">sidebar</div>
        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent" style="height: 524px">

                <div class="visitorTitle eui-font22">我的特权</div>
                <div class="eui-marginL20">
                    <div class="eui-row eui-marginT20" id="no">
                        <div class="eui-col-xs9">
                            <div class="eui-font20 eui-color-blue">
                                <img src="/Styles/images/xymfImages/xymf/vip0.png" alt=""> 您还不是会员
                            </div>
                        </div>
                        <div class="eui-col-xs3">
                            <a href="/cube/pay/null" class="eui-btn eui-btn-normal">开通会员</a>
                        </div>
                    </div>
                    <div class="eui-row eui-marginT20" id="end">
                        <div class="eui-col-xs9">
                            <div class="eui-font20 eui-color-blue">
                                <img src="/Styles/images/xymfImages/xymf/vip0.png" alt=""> 您的会员已到期
                            </div>
                        </div>
                        <div class="eui-col-xs3">
                            <a href="/cube/pay/null" class="eui-btn eui-btn-normal">会员续费</a>
                        </div>
                    </div>
                    <div class="eui-row  eui-marginT10">
                            <div class="eui-col-xs9">
                                <div class="eui-font14  eui-color-gray3">开通年费会员，享受六大特权</div>
                            </div>
                            <div class="eui-col-xs3">
                                <div class="eui-font14 eui-marginL10 eui-color-blue">每天仅需5毛钱</div>
                            </div>
                    </div>
                    <fieldset class="eui-elem-field eui-field-title eui-marginT20 eui-marginR10" >
                    </fieldset>
                    <div class="eui-row eui-marginT20">
                        <div class="eui-col-xs4"><img src="/Styles/images/xymfImages/xymf/vip0.png" alt="" class="eui-marginR10"> 免费使用问卷</div>
                        <div class="eui-col-xs4"><img src="/Styles/images/xymfImages/xymf/noadv.png" alt=""class="eui-marginR10"> 精彩活动更多优惠</div>
                        <div class="eui-col-xs4"><img src="/Styles/images/xymfImages/xymf/voucher.png" alt=""class="eui-marginR10"> VIP专有身份标识</div>
                    </div>
                    <div class="eui-row eui-marginT20">
                        <div class="eui-col-xs4"><img src="/Styles/images/xymfImages/xymf/free.png" alt=""class="eui-marginR10"> 海量专业问卷</div>
                        <div class="eui-col-xs4"><img src="/Styles/images/xymfImages/xymf/voucher.png" alt=""class="eui-marginR10"> 专享定制问卷</div>
                        <div class="eui-col-xs4"><img src="/Styles/images/xymfImages/xymf/noadv.png" alt=""class="eui-marginR10"> 专享云心理大数据</div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>

</div>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>


<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script th:inline="javaScript">
var isVip =[[${isVip}]];
var isEnd =[[${isEnd}]];
$(function () {
    if(isVip){
        if(isEnd){
            $("#no").addClass("eui-hide");
            $("#end").addClass("eui-show");
        }else{
            $("#no").addClass("eui-hide");
            $("#end").addClass("eui-hide");
        }
    }else{

        $("#no").addClass("eui-show");
        $("#end").addClass("eui-hide");

    }
})




</script>
</body>
</html>