<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>渠道商用户</title>
    <link rel="stylesheet" href="/Styles/themes/default/style.css"  media="all">
    <style>
        .error{color: red;font-size: 12px;}
    </style>
</head>
<body class="eui-bg-white">
<div class="eui-margin20">
    <input th:value="${channelId}" type="hidden" id="channel_id" />
    <div class="eui-col-md6 eui-textAlignR">
        <a class="eui-btn eui-btn-small" onclick="addAccount()">添加用户</a>
    </div>
    <table id="test2"></table>
</div>
<div id="channelAccountAdd" style="display: none" class="eui-margin20 eui-form">
    <form id="channelAccountAddForm" onsubmit="return false;">
        <input  type="hidden" name="id"  />
        <input th:value="${channelId}" type="hidden" name="channelId"  />

        <div class="eui-form-item">
            <label class="eui-form-label">姓名</label>
            <div class="eui-input-block">
                <input type="text" name="userName"  placeholder="请输入姓名" class="eui-input" />
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">性别</label>
            <div class="eui-input-block eui-checkSmall">
                <input type="radio" name="sex" value="1" title="男" checked>
                <input type="radio" name="sex" value="0" title="女">
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">手机</label>
            <div class="eui-input-block">
                <input type="text" name="mobile"  placeholder="请输入手机号码" class="eui-input" />
            </div>
        </div>

        <div class="eui-form-item">
            <label class="eui-form-label">邮箱</label>
            <div class="eui-input-block">
                <input type="email" name="email"  placeholder="请输入邮箱地址" class="eui-input" />
            </div>
        </div>

        <input type="submit" style="display: none;">
    </form>
</div>

<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script th:src="@{/Scripts/plugins/md5/md5.min.js}" charset="utf-8"></script>
<script>
    var table;
    eui.use('table', function(){
        table = eui.table;

        var obj = new Object();
        obj.channel_id=$("#channel_id").val();
        //展示已知数据
        table.render({
            id: 'idTest'
            ,elem: '#test2'
            ,url:'/channel/manage/listByaccounts'
            ,method:'post'
            ,where: {json: JSON.stringify(obj)}
            ,height: 300
            ,cols: [[ //标题栏
                {checkbox: true}
                ,{field: 'USER_NAME', title: '姓名', width:150}
                ,{field: 'SEX', title: '性别', width: 100,templet:'<div>{{# if(d.SEX=="1"){ }} 男  {{#  }else{   }} 女 {{# } }}</div>'}
                ,{field: 'MOBILE', title: '手机', width: 150}
                ,{field: 'EMAIL', title: '邮箱', width: 150}
                ,{fixed: 'right', width:154,  toolbar: '#barDemo'}
            ]]
            ,response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                ,statusCode: 200 //成功的状态码，默认：0
                ,msgName: 'message' //状态信息的字段名称，默认：msg
                ,countName: 'count' //数据总数的字段名称，默认：count
                ,dataName: 'data' //数据列表的字段名称，默认：data
            }
            ,skin: 'row' //表格风格
            ,even: true
            ,loading: true
            ,page: true //是否显示分页
            ,limits: [5,10,15]
            ,limit: 5 //每页默认显示的数量
            ,done: function(res, curr, count){

            }
        });

        //监听工具条
        table.on('tool(idTest)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
           if(layEvent === 'del'){ //删除
               deleteUser(data.ID_)
            } else if(layEvent === 'edit'){ //编辑
               updateAccount(data.ID_);
            }
        });

        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");
        $("#channelAccountAddForm").validate({
            rules: {
                mobile: {
                    required : true,
                    minlength : 11,
                    isMobile : true
                },
                email: {
                    required: true,
                    email:true
                },
                userName: {
                    required: true,
                }
            },
            messages: {
                mobile: {
                    required : "请输入手机号",
                    minlength : "确认手机不能小于11个字符",
                    isMobile : "请正确填写您的手机号码"
                },
                email: {
                    required: "请输入邮箱地址",
                    email:'请输入正确的邮件地址'
                },
                userName: {
                    required: "请输入姓名",
                }
            },
            submitHandler: function() {
                var obj = $("#channelAccountAdd form").serializeObject();
                if ($("#channelAccountAddForm input[name='id']").val()==''){
                    obj.accountType=999;
                    obj.userPass='b706835de79a2b4e80506f582af3676a';
                    $.post('/channel/manage/channelAccountAdd',{params:JSON.stringify(obj)},function (result) {
                        if (result.code==200){
                            layer.closeAll();
                            location.reload();
                        }else {
                            layer.msg(result.message);
                        }
                    });
                }else {
                    $.post('/channel/manage/updateaccountInfo',{json:JSON.stringify(obj)},function (result) {
                        if (result.code==200){
                            layer.closeAll();
                            location.reload();
                        }else {
                            layer.msg(result.message);
                        }
                    });
                }
            }
        });
    });

    function deleteUser(ids) {
        if (ids==''){
            $(".mycheckbox:checked").each(function(i){
                var id = $(this).parent().find("input[name='userId']").val();
                ids += id + ',';
            });
        }
        if (ids==''){
            layer.msg('请选择要删除的账号', {
                time: 2000
            });
        }else {
            layer.confirm('您确定删除该账号吗？', {
                btn: ['确认', '取消'],
                shade: 0,
                title:'提示'
            }, function(){
                $.ajax({
                    url:"/sec/user/deleteBacth",
                    data: {
                        ids:ids
                    },
                    type:"post",
                    success:function(result){
                        layer.msg('删除成功', {
                            icon: 1,
                            time: 2000
                        });
                        location.reload();
                    }
                });
            });
        }
    }
    function addAccount() {
        $("#channelAccountAddForm input[name='id']").val('')
        var index = layer.open({
            title: '添加用户'
            , type: 1
            , area: ['600px', '400px']
            , content: $("#channelAccountAdd")
            ,offset: 't'
            ,btn: ['保存', '取消']
            ,yes: function(index, layero){
                $("#channelAccountAdd form").submit();
            }
            ,btn2: function(index, layero){
                $('#channelAccountAddForm')[0].reset();
            }
        });
    }
    function updateAccount(id) {
        var index = layer.open({
            title: '编辑用户'
            , type: 1
            , area: ['600px', '400px']
            , content: $("#channelAccountAdd")
            ,offset: 't'
            ,btn: ['保存', '取消']
            ,yes: function(index, layero){
                $("#channelAccountAdd form").submit();
            }
            ,btn2: function(index, layero){
                $('#channelAccountAddForm')[0].reset();
            }
        });
        $.post('/channel/manage/accountInfo',{id:id},function (result) {
            result.data.userPass='1234';
            $("#channelAccountAdd").setForm(result.data)
        });

    }
</script>
<div>

</div>

<script type="text/html" id="barDemo">
    <div class="eui-btn-group">
        <button e-event="edit" class="eui-btn eui-btn-primary eui-btn-mini proEdit" title="修改用户">
            <i class="eui-icon">&#xe642;</i></button>
        <button e-event="del"  class="eui-btn eui-btn-primary eui-btn-mini proEdit" title="删除用户">
            <i class="eui-icon">&#xe640;</i></button>
    </div>
</script>
</body>
</html>