<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>佣金统计</title>
    <link rel="stylesheet" href="/Styles/themes/default/style.css"  media="all">
    <style>
        .main {
            height: 400px;
            /* width: 778px !important; */
            overflow: hidden;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #e3e3e3;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }
    </style>
</head>
<body>
<input type="hidden" id="channelId">
<div class="eui-bd eui-padding15">
    <div class="eui-sd1 eui-sd1-type3">
        <div class="eui-col-md3 etree">
            <p>渠道树</p>
            <ul style="padding: 10px;" id="channelTree"></ul>
        </div>
    </div>
    <div class="eui-mn1 eui-bg-white">

        <div class="eui-mn1-type3">
            <form class="eui-form" id="searchFrom">
                <input type="hidden" id="id"  name="parentId"/>
                <input type="hidden"   name="type" value="3"/>
                <!--<div class="eui-input-inline eui-padding10">-->

                    <!--<input type="text" name="creator"  value=""-->
                            <!--placeholder="支付人/关键字" class="eui-input">-->
                <!--</div>-->
                <div class="eui-input-inline eui-padding10">
                    <input type="text" name="startTime" id="startTime"  value=""
                            placeholder="订单起始时间" class="eui-input">
                </div>

                <div class="eui-input-inline eui-padding10">
                    <input type="text" name="endTime" id="endTime"  value=""
                            placeholder="订单结束时间" class="eui-input">
                </div>
                <!--<div class="eui-input-inline eui-padding10">-->
                    <!--<select name="status">-->
                        <!--<option value="">请选择支付类型</option>-->
                        <!--<option selected="selected" value="1">未支付</option>-->
                        <!--<option value="2">已支付</option>-->
                    <!--</select>-->
                <!--</div>-->

                <div class="eui-input-inline">
                    <span class="eui-btn  eui-btn" onclick="doSearch()">查询</span>
                    <span class="eui-btn  eui-btn-primary" onclick="resetForm()">重置</span>
                </div>
            </form>
            <div class="eui-row eui-padding10 eui-borderB">
                <div class="eui-col-md6 eui-font18">
                    <!--<i class='eui-icon eui-font24'>&#xe61d;</i> 全部-->
                    <span>佣金统计</span>
                </div>
                <div class="eui-col-md6 eui-textAlignR">
                    <!--<a onclick="selectClearing()" class="eui-btn eui-btn-small" href="###">结算选中</a>-->
                    <a onclick="lookAll()" class="eui-btn eui-btn-small" href="###">查看全部</a>
                </div>
            </div>
            <div id="analysis"  class="main"></div>

            <table id="test2"></table>
        </div>
    </div>
</div>

<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="/Scripts/plugins/echarts/echarts.min.js"></script>
<!-- 引入 macarons 主题 -->
<script src="/Scripts/plugins/echarts/macarons.js"></script>
<script>

    eui.use(['form', 'laydate', 'element'], function () {
        var form = eui.form
            , element = eui.element
            , laydate = eui.laydate;

        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        });

    });

    function resetForm() {
        $('#searchFrom')[0].reset();
    }
    function doSearch() {
        var obj =$("#searchFrom").serializeObject();

        if (obj.startTime!='' &&  obj.endTime!=''){
            obj.startTime=obj.startTime+' 00:00:00';
            obj.endTime=obj.endTime+' 24:00:00';
        }
        if(obj.parentId!=''){
            if (obj.parentId =='0'){
                obj.type=2;
                obj.channel_id=$("#id").attr('searchId');
            }else {
                obj.type=1;
                obj.inviter_user=$("#id").attr('searchId');
            }

        }
        dataList(obj);
        lineChartRight(obj.parentId)
    }

    function dataList(obj) {
        eui.use(['form','layer'], function(){
            var form = eui.form,
                layer = eui.layer;
            layer.load();
            if (tableIns!=undefined){
                tableIns.reload({
                    where: {json: JSON.stringify(obj)}
                });
            }
            layer.closeAll();
        });
    }

    var channelTree;
    var myChart = echarts.init(document.getElementById('analysis'), 'macarons');

    $(function () {
       loadTree();
        lineChartRight('');
        var o =$("#searchFrom").serializeObject();
        dynamicTable2(o);

    });

    function lookAll() {
        loadTree();
        lineChartRight('');
        var o = new Object();
        dynamicTable2(o);
    }
    function loadTree() {
        $.ajax({
            url:"/channel/manage/channelTree",
            type:"post",
            success:function(result){
                //菜单树
                channelTree =   $("#channelTree").ligerTree({
                    data:result.data,
                    checkbox: false,
                    parentIcon: 'folder',
                    childIcon: 'leaf' ,
                    slide: false, //是否显示动画
                    nodeWidth: 200,
                    isExpand:2,
                    idFieldName: 'id',
                    textFieldName:'channelName',
                    parentIDFieldName: 'deleted',
                    onSelect: function (node)
                    {
                        lineChartRight(node.data.id);
                        var oj = $("#searchFrom").serializeObject();
                        if (oj.startTime!='' &&  oj.endTime!=''){
                            oj.startTime=oj.startTime+' 00:00:00';
                            oj.endTime=oj.endTime+' 24:00:00';
                        }
                        oj.type=2;
                        oj.channel_id=node.data.id;
                        dynamicTable(oj);
                        lineChartRight(oj.channel_id)
                    },
                    onAfterAppend:function (parentNode, newdata) {

                    }
                });
                $("#channelTree .l-body").mouseover(function(){
                    var text =$(this).find('span').html();
                    $(this).attr("title",text);
                });

            }
        });
    }

    function lineChartRight(channel_id) {
        var timeDataX=new Array;
        var timeDataY=new Array;
        var obj = $("#searchFrom").serializeObject();
        if (obj.startTime!='' &&  obj.endTime!=''){
            obj.startTime=obj.startTime+' 00:00:00';
            obj.endTime=obj.endTime+' 24:00:00';
        }
        if (channel_id!=''){
            obj.channel_id=channel_id;
        }
        $.post('/clearing/manage/clearingLineChart',{json:JSON.stringify(obj)},function (result) {
            var setingObj = new Object();
            setingObj.maxY=100;
            setingObj.interval=25;
            if(result.data !=null &&result.data.length>0){
                for(var i=0;i<result.data.length;i++){
                    timeDataX[i]= result.data[i].create_time;
                    timeDataY[i]=result.data[i].brokerage;
                }
                setingObj.maxY=Math.ceil((result.data[0].maxY)/50)*50;
                setingObj.interval=Math.ceil((setingObj.maxY)/4);
            }
            myChart.setOption(getOption(timeDataX,timeDataY,setingObj));
        }) ;
    }

    function getOption(timeData,data,setingObj) {
        option = {
            title: {
                text: '',
                x: 'left',
            },
            tooltip: {
                trigger: 'axis',

                axisPointer: {
                    animation: false
                }
            },
            legend: {
                data: ['流量'],
                x: 'left'
            },
            toolbox: {
                feature: {
//                    dataZoom: {
//                        yAxisIndex: 'none'
//                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            axisPointer: {
                link: {
                    xAxisIndex: 'all'
                }
            },
            dataZoom: [{
                show: true,
                realtime: true,
                start: 30,
                end: 70,

                xAxisIndex: [0, 1]
            }, {
                type: 'inside',
                realtime: true,
                start: 30,
                end: 70,
                xAxisIndex: [0, 1]
            }],
            grid: [{
                left: 40,
                right: 40,
            }, {
                left: 40,
                right: 40,
            }],
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLine: {
                    onZero: true
                },
                data: timeData
            }, {
                gridIndex: 1
            }],

            yAxis: [{
                type: 'value',
                max: setingObj.maxY,
                name: '单位:￥',
                min: 0,
                interval: setingObj.interval,


            }, {
                gridIndex: 1
            }],
            series: [{
                name: '佣金',
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 9,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                },
                markPoint: {
                    data: [{
                        type: 'max',
                        name: '最大值'
                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                markArea: {
                    silent: true,
                    label: {
                        normal: {
                            position: ['10%', '100%']
                        }
                    }
                },
                data: data

            }]
        };

        return option;
    }

    function dynamicTable(obj) {

        eui.use(['table', 'laydate'], function(){
            table = eui.table;
            var laydate = eui.laydate;

            laydate.render({
                elem: '#startTime'
                ,done: function(value, date, endDate){
                }
            });
            laydate.render({
                elem: '#endTime'
                ,done: function(value, date, endDate){
                }
            });

            tableIns = table.render({//<div>{{# if(d.SEX=="1"){ }} 男  {{#  }else{   }} 女 {{# } }}</div>  <div>{{new Date(d.create_time).Format("yyyy-MM-dd hh:mm:ss")}}</div>
                id: 'idTest'
                ,elem: '#test2'
                ,url:'/clearing/manage/listOrderOnlineClearing'
                ,method:'post'
                ,where: {json: JSON.stringify(obj)}
                ,height: 420
                ,cols: [[ //标题栏
//                    {checkbox: true},
                    {field: 'order_code', title: '订单编号', width: 120}
                    ,{field: 'order_money', title: '金额(￥)', width: 100}
                    ,{field: 'brokerage', title: '佣金(￥)', width: 100,templet:'<div>{{# if(d.brokerage==undefined ){ }} 未结算  {{#  }else{   }} {{ d.brokerage}} {{# } }}</div>'}
                    ,{field: 'status', title: '支付状态', width: 100,templet:'<div>{{# if(d.status=="1"){ }} 未支付  {{#  } }}  {{# if(d.status=="2"){ }} 已支付  {{#  } }}   {{# if(d.status==undefined){ }} 未结算  {{#  } }}</div>'}
                    ,{field: 'consultant_name', title: '咨询师', width: 100}
                    ,{field: 'referrer', title: '推荐人', width: 100}
                    ,{field: 'payment_time', title: '订单时间', width: 180,templet:'<div>{{new Date(d.payment_time).Format("yyyy-MM-dd hh:mm:ss")}}</div>'}
                    ,{field: 'create_time', title: '结算时间', width: 180,templet:'<div>{{# if(d.create_time==undefined ){ }} 未结算  {{#  }else{   }} {{new Date(d.create_time).Format("yyyy-MM-dd hh:mm:ss")}} {{# } }}</div>'}

                ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'message' //状态信息的字段名称，默认：msg
                    ,countName: 'count' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,skin: 'row' //表格风格
                ,even: true
                ,loading: true
                ,page: true //是否显示分页
                ,limits: [10,30,50,100]
                ,limit: 10 //每页默认显示的数量
                ,done: function(res, curr, count){

                }
            });

            //监听工具条
            table.on('tool(idTest)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                if(layEvent === 'edit'){ //编辑
                    var parentId = channelTree.getSelected().data.parentId;
                    var list = new Array();

                    var obj = new Object();
                    obj.ID_=data.ID_;
                    obj.payment_time=data.payment_time;
                    obj.order_money=data.order_money;
                    list.push(obj);
                    if (parentId=='0'){
                        parentId=channelTree.getSelected().data.id
                    }
                    sendSave(list,parentId);
                }
            });
        });
    }


    function dynamicTable2(obj) {
        eui.use(['table', 'laydate'], function(){
            table = eui.table;
            var laydate = eui.laydate;

            tableIns = table.render({
                id: 'idTest'
                ,elem: '#test2'
                ,url:'/clearing/manage/listClearingAllTable'
                ,method:'post'
                ,where: {json: JSON.stringify(obj)}
                ,height: 420
                ,cols: [[ //标题栏
                    {field: 'order_code', title: '订单编号', width: 120}
                    ,{field: 'order_money', title: '金额(￥)', width: 100}
                    ,{field: 'brokerage', title: '佣金(￥)', width: 100,templet:'<div>{{# if(d.brokerage==undefined ){ }} 未结算  {{#  }else{   }} {{ d.brokerage}} {{# } }}</div>'}
                    ,{field: 'status', title: '支付状态', width: 100,templet:'<div>{{# if(d.status=="1"){ }} 未支付  {{#  } }}  {{# if(d.status=="2"){ }} 已支付  {{#  } }}   {{# if(d.status==undefined){ }} 未结算  {{#  } }}</div>'}
                    ,{field: 'consultant_name', title: '咨询师', width: 100}
                    ,{field: 'referrer', title: '推荐人', width: 100}
                    ,{field: 'payment_time', title: '订单时间', width: 180,templet:'<div>{{new Date(d.payment_time).Format("yyyy-MM-dd hh:mm:ss")}}</div>'}
                    ,{field: 'create_time', title: '结算时间', width: 180,templet:'<div>{{# if(d.create_time==undefined ){ }} 未结算  {{#  }else{   }} {{new Date(d.create_time).Format("yyyy-MM-dd hh:mm:ss")}} {{# } }}</div>'}

                ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'message' //状态信息的字段名称，默认：msg
                    ,countName: 'count' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,skin: 'row' //表格风格
                ,even: true
                ,loading: true
                ,page: true //是否显示分页
                ,limits: [10,30,50,100]
                ,limit: 10 //每页默认显示的数量
                ,done: function(res, curr, count){

                }
            });
        });
    }

</script>
</body>
</html>