<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待审批渠道</title>
    <link rel="stylesheet" href="/Styles/themes/default/style.css"  media="all">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Scripts/libs/ztree/css/demo.css" media="all">
    <link rel="stylesheet" href="/Scripts/libs/ztree/css/metroStyle/metroStyle.css" type="text/css">
    <style>
        #channelAdd input + label{color: red; font-size: 12px;}
        .error{
            color: red; font-size: 12px;
        }
    </style>
</head>
<body>

<div class="eui-bg-white eui-row eui-padding15">
    <div class="eui-col-md12 eui-paddingR10">
        <form class="eui-form" id="searchFrom">
            <input type="hidden" name="status" value="1" />
            <div class="eui-input-inline eui-padding10">

                <input type="text" name="channelName" e-verify="title" value=""
                       autocomplete="off" placeholder="渠道名称/关键字" class="eui-input">
            </div>
            <div class="eui-input-inline eui-padding10">
                <input type="text" name="linkman" e-verify="title" value=""
                       autocomplete="off" placeholder="联系人/关键字" class="eui-input">
            </div>

            <div class="eui-input-inline eui-padding10">
                <input type="text" name="channelManager" e-verify="title" value=""
                       autocomplete="off" placeholder="渠道负责人/关键字" class="eui-input">
            </div>


            <div class="eui-inline">
                <div class="eui-input-inline">
                    <input type="text" class="eui-input eui-width200" id="joinTime6" placeholder="加入时间/起始-结束">

                </div>
            </div>
            <input name="joinStartTime" type="hidden" id="joinStartTime" />
            <input name="joinEndTime" type="hidden" id="joinEndTime" />
            <div class="eui-input-inline">
                <span class="eui-btn  eui-btn" onclick="doSearch()">查询</span>
                <span class="eui-btn  eui-btn-primary" onclick="resetForm()">重置</span>
            </div>
        </form>

        <div class="eui-row eui-padding10 eui-borderB">
            <div class="eui-col-md6 eui-font18">
                <i class='eui-icon eui-font24'>&#xe61d;</i> 待审批渠道列表
            </div>
            <div class="eui-col-md6 eui-textAlignR">
                <a href="###" class="eui-btn eui-btn-small userAdd">添加渠道商</a>
            </div>
        </div>
        <table class="eui-table eui-form" id="userTable">
            <colgroup>
                <col width="50">
                <col width="100">
                <col width="120">
                <col width="80">
                <col width="120">
                <col width="300">
                <col width="110">
                <col width="120">
                <col width="100">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" name="" title="" e-filter="allChoose" e-skin="primary"></th>
                <th>渠道编号</th>
                <th>渠道名称</th>
                <th>联系人</th>
                <th>联系人电话</th>
                <th>联系人住址</th>
                <th>渠道负责人</th>
                <th>加入时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div style="margin-left: 30px;" id="pages"></div>
    </div>
</div>


<!-- 左滑添加渠道商开始 -->
<div class="taskFiltrate">
</div>
<div  class="filtrateIn">
    <div class="eui-row eui-padding10 eui-borderB">
        <div class="eui-col-md10 eui-font18 eui-lineHeight30">
            <i class='eui-icon eui-font24'>&#xe654;</i> <span class="title-add-edit">添加渠道商</span>
        </div>
        <div class="eui-col-md2 eui-textAlignR">
            <i class='eui-icon eui-font24 taskClose'>&#x1006;</i>
        </div>
    </div>
    <form class="eui-form eui-marginT10 eui-paddingR10" id="channelAdd" onsubmit="return false;">
        <input type="hidden" id="flag" value="add"/>
        <input type="hidden" name="id" value="">
        <input type="hidden" name="channelCode" value="">
        <input type="hidden" name="creator" value="">
        <input type="hidden" name="deleted" value="">
        <div class="eui-form-item">
            <label class="eui-form-label">渠道商名称</label>
            <div class="eui-input-block">
                <input type="text" name="channelName" e-verify="title"  autocomplete="off" placeholder="请输入渠道名称" class="eui-input" />

            </div>
        </div>
        <div class="eui-form-item eui-grade">
            <label class="eui-form-label">联系人姓名</label>
            <div class="eui-input-block">
                <input type="text" name="linkman" e-verify="title" autocomplete="off" placeholder="请输入联系人" class="eui-input" >
            </div>
        </div>

        <div class="eui-form-item">
            <label class="eui-form-label">联系人手机</label>
            <div class="eui-input-block">
                <input type="text" name="linkmanTell" e-verify="title" autocomplete="off" placeholder="请输入联系人手机" class="eui-input">
            </div>
        </div>
        <div  data-toggle="distpicker">
        <div class="eui-form-item">
            <label class="eui-form-label">省</label>
            <div class="eui-input-block">
                <select  name="province"  data-province="" e-ignore class="eui-input"></select>
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">市</label>
            <div class="eui-input-block">
                <select  name="city" data-province="" e-ignore class="eui-input"></select>
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">区</label>
            <div class="eui-input-block">
                <select  name="district"  data-province="" e-ignore class="eui-input"></select>
            </div>
        </div>
        </div>

        <div class="eui-form-item">
            <label class="eui-form-label">联系人住址</label>
            <div class="eui-input-block">
                <input type="text" name="linkmanAddr"  class="eui-input">
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">渠道负责人</label>
            <div class="eui-input-block">
                <input type="text" name="channelManager"  placeholder="请输入渠道负责人" class="eui-input" >
            </div>
        </div>

        <div class="eui-form-item">
            <label class="eui-form-label">入驻时间</label>
            <div class="eui-input-block">
                <input type="text" name="createTime" class="eui-input" id="joinTime" placeholder="加入时间" readonly="readonly">
            </div>
        </div>

        <div class="taskConfirm"><button type="submit"  class="eui-btn">确定</button>
        </div>
    </form>
</div>
<!-- 左滑添加渠道商结束 -->


<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>


<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script src="/Scripts/plugins/distpicker.data.js"></script>
<script src="/Scripts/plugins/distpicker.js"></script>

<script type="text/javascript">


    eui.use('laydate', function() {
        var laydate = eui.laydate;
        //常规用法
        laydate.render({
            elem: '#joinTime'
        });

        laydate.render({
            elem: '#joinTime6'
            ,range: true
            ,change: function(value, date, endDate){
                var startTime=value.split(' - ')[0];
                var endTime=value.split(' - ')[1];
                $("#joinStartTime").val(startTime);
                $("#joinEndTime").val(endTime);
            }
        });

    });



    $(function () {
        doSearch();
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");
        jQuery.validator.addMethod("isProvincePNo", function(value, element) {
            return this.optional(element) || value!='—— 省 ——';
        }, "请选择省份");
        $("#channelAdd").validate({
            rules: {
                channelName: {
                    required : true
                },
                province:{
                    required:true,
                    isProvincePNo:true
                },
                linkman:"required",
                linkmanAddr:"required",
                linkmanTell:{
                    required : true,
                    minlength : 11,
                    isMobile : true
                },
                channelManager:"required",
                createTime:"required"

            },
            messages: {
                channelName: {
                    required : "请输入渠道名称",
                },
                linkman: "请输入联系人",
                province:{
                    required:'请选择省',
                    isProvincePNo:'请选择省份'
                },
                linkmanAddr:"请输入详细地址",
                linkmanTell:{
                    required : "请输入手机号",
                    minlength : "确认手机不能小于11个字符",
                    isMobile : "请正确填写您的手机号码"
                },
                channelManager:"请输入渠道负责人",
                createTime:"请选择加入时间"
            },
            submitHandler: function() {
                addChannel();
            }
        });
    });


    $(".taskFiltrate").hide();
    $(".userAdd").click(function(event) {

        $(".title-add-edit").html("添加渠道商（默认账号使用联系人手机）");
        $('#flag').val('add');

        document.getElementById('channelAdd').reset()
        $(".taskFiltrate").show();
        $(".filtrateIn").animate({right:'0'},400);
        /* Act on the event */
    });

    $(".taskClose,.taskFiltrate").click(function(event) {
        $(".filtrateIn").animate({right:'-400px'},400);
        $(".taskFiltrate").hide();
    });

    function resetForm() {
        $('#searchFrom')[0].reset();
        $("#joinStartTime").val('');
        $("#joinEndTime").val('');
    }

    function addChannel() {
        var obj = $("#channelAdd").serializeObject();
        var flag = $('#flag').val();

        if (flag == 'add'){
            $.post('/channel/manage/add',{json:JSON.stringify(obj)},function (resuslt) {
                resultHint(resuslt);
            });
        }else {
            $.post('/channel/manage/update',{json:JSON.stringify(obj)},function (resuslt) {
                resultHint(resuslt);
            });
        }
    }
    
    function resultHint(resuslt) {
        var msg = resuslt.message;
        if(msg=="SUCCESS"){
            layer.msg('添加成功', {
                icon: 1,
                time: 2000
            });
            $(".filtrateIn").animate({right:'-400px'},400);
            $(".taskFiltrate").hide();
            doSearch();
        }else{
            layer.msg(msg, {
                time: 2000
            });
        }
    }
    
    function loadOneData(id) {
        $.post('/channel/manage/detail',{id:id},function (result) {
            $(".title-add-edit").html("编辑渠道商");
            $('#flag').val('edit');
            $('#channelAdd input + label').remove();
            result.data.createTime=new Date(result.data.createTime).Format('yyyy-MM-dd');
            $("#channelAdd").setForm(result.data);
            $(".taskFiltrate").show();
            $(".filtrateIn").animate({right:'0'},400);
        });
    }



    //加载数据
    function doSearch() {
        eui.use(['form','laypage','layer'], function(){
            var form = eui.form
                ,laypage = eui.laypage
                ,layer = eui.layer,
                $ = eui.jquery;
            //全选
            form.on('checkbox(allChoose)', function(data){
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                child.each(function(index, item){
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            var params = $("#searchFrom").serializeObject();
            var index = layer.load(2); //加载
            $.ajax({
                url:"/channel/manage/listByparameter",
                data: {
                    json:JSON.stringify(params),
                    page:1,
                    pagesize:10
                },
                type:"post",
                success:function(result){
                    layer.closeAll();
                    // 分页
                    laypage.render({
                        elem: 'pages'
                        ,count: result.data.total //数据总数
                        ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                        ,skip: true
                        ,jump: function(obj,first){
                            if (first){
                                //第一次，不需要查询数据
                                var userList = result.data.list;
                                //遍历，拼接表格
                                var tableHtml = getTable(userList);
                                $("#userTable tbody").html(tableHtml);
                                form.render('checkbox');
                            }else {
                                var params = $("#searchFrom").serializeObject();
                                $.ajax({
                                    url: "/channel/manage/listByparameter",
                                    data: {
                                        json: JSON.stringify(params),
                                        page: obj.curr,
                                        pagesize: obj.limit
                                    },
                                    type: "post",
                                    success: function (result) {
                                        var userList = result.data.list;
                                        //遍历，拼接表格
                                        var tableHtml = getTable(userList);
                                        $("#userTable tbody").html(tableHtml);
                                        //重新加载复选框
                                        form.render('checkbox');
                                    }
                                });
                            }
                        }
                    });
                }
            });

        });
    }

    //渲染数据，拼接表格
    function getTable(userList) {
        var tableHtml = '';
        for (var item in userList){
            var secUser = userList[item];
            var id = "'" + secUser.id + "'";
            var name = "'" + secUser.channelName + "'";
            var status2 = "未申请";
            var status = secUser.status;
            if (secUser.status==1){
                status2='审批中';
            }
            if (secUser.status==4){
                status2='被驳回';
            }

            var channelManager = secUser.channelManager;
            if (secUser.channelManager==undefined || secUser.channelManager==''){
                channelManager='无';
            }
            var linkmanAddr = secUser.province+secUser.city+secUser.district+secUser.linkmanAddr;
            tableHtml +=  '<tr>' +
                '<td><input name="" e-skin="primary" class="mycheckbox" type="checkbox"><input name="userId" ' +
                'type="hidden" value="' + secUser.id + '"></td>' +
                '<td>'+ secUser.channelCode +'</td>' +
                '<td>'+ secUser.channelName +'</td>' +
                '<td>'+ secUser.linkman +'</td>' +
                '<td>'+ secUser.linkmanTell +'</td>' +
                '<td>'+ linkmanAddr +'</td>' +
                '<td>'+ channelManager +'</td>' +
                '<td>'+ new Date(secUser.createTime).Format('yyyy-MM-dd') +'</td>' +
                '<td>'+ status2 +'</td>' +
                '<td>' +
                '<div class="eui-btn-group"> ' +forBut(status,id,name)+
               '</div>' +
                '</td>' +
                '</tr>';
        }
        return tableHtml;
    }

    function forBut(status,id,name) {
        if (status == 3){
            return  '<button class="eui-btn eui-btn-primary eui-btn-mini" ' +
                'onclick="Pass('+id+','+name+')" title="申请"><i class="eui-icon">&#xe609;</i></button> ';
        }
        if (status == 4){
            return  '<button class="eui-btn eui-btn-primary eui-btn-mini" ' +
                'onclick="Pass('+id+','+name+')" title="重新申请"><i class="eui-icon">&#xe609;</i></button> ';
        }
        return '';
    }
    
    function Pass(id,name) {
        layer.load();
        $.post('/channelProcess',{channelId:id,
            channelName:name+"   申请入驻平台"},function (result) {
            doSearch();
            layer.closeAll();
        });
    }
</script>
</body>
</html>