<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.transaction.dao.OrderOnlineMapper">
    <resultMap id="BaseResultMap" type="com.yidusoft.project.transaction.domain.OrderOnline">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="questionnaire_total" jdbcType="INTEGER" property="questionnaireTotal"/>
        <result column="order_money" jdbcType="DECIMAL" property="orderMoney"/>
        <result column="payment_method" jdbcType="VARCHAR" property="paymentMethod"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="order_state" jdbcType="INTEGER" property="orderState"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
        <result column="promotions_id" jdbcType="VARCHAR" property="promotionsId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="clearing_status" jdbcType="INTEGER" property="clearingStatus"/>

    </resultMap>

    <select id="findOrderByUserId" resultType="Map">
        SELECT oo.* FROM order_online oo WHERE oo.deleted=0 AND oo.clearing_status=1
        <if test="null != ids">
            AND oo.user_id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="map.startTime != '' and map.endTime!=null">
            AND oo.payment_time  &gt;  #{map.startTime} AND oo.payment_time  &lt;  #{map.endTime}
        </if>

        <if test="map.creator != null and map.creator!=''">
            AND oo.creator LIKE '%${map.creator}%'
        </if>

        ORDER BY oo.payment_time DESC
    </select>

    <select id="getUserOderById" resultMap="BaseResultMap"
            parameterType="com.yidusoft.project.transaction.domain.OrderOnline">
        SELECT oo.*,ps.promotions_id,ps.product_name FROM order_online oo,product_settings ps
        where oo.deleted=0 AND oo.user_id=#{userId}
        AND oo.product_id=ps.ID_
        <if test="orderState != null and orderState != ''">
            AND order_state=#{orderState}
        </if>
        <if test="orderState==2 or orderState==3">
            ORDER BY create_time DESC
        </if>
        <if test="orderState==1">
            ORDER BY payment_time DESC
        </if>
        <if test="orderState==null || orderState==''">
            ORDER BY create_time DESC
        </if>
    </select>

    <update id="updateOrderOnline" parameterType="String">
        UPDATE order_online SET order_state=3 WHERE product_id=#{productId} AND order_state!=1
    </update>

    <select id="getOrderState" resultType="String" parameterType="String">
        SELECT order_state FROM  order_online WHERE id_=#{id}
    </select>

</mapper>