<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.transaction.dao.ProductSettingsMapper">
    <resultMap id="BaseResultMap" type="com.yidusoft.project.transaction.domain.ProductSettings">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="product_total" jdbcType="INTEGER" property="productTotal"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="promotions_id" jdbcType="VARCHAR" property="promotionsId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="promotions_name" jdbcType="VARCHAR" property="promotionsName"/>
        <result column="product_state" jdbcType="INTEGER" property="productState"/>
        <result column="product_type" jdbcType="INTEGER" property="productType"/>
        <result column="time_limit" jdbcType="INTEGER" property="timeLimit"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="payment_time" jdbcType="INTEGER" property="paymentTime"/>
    </resultMap>

    <select id="getProductAll" resultMap="BaseResultMap" parameterType="Integer">
        SELECT id_,product_code,product_total,product_price,creator,create_time,
        deleted,promotions_id,product_name,promotions_name,product_state,
        product_type,time_limit
        FROM product_settings where deleted=0 order by product_price ASC
    </select>

    <select id="getUnitPriceByTotal" resultType="DECIMAL">
        SELECT product_price FROM product_settings where deleted=0 AND product_total=1
    </select>

    <select id="getProductByTime" resultMap="BaseResultMap">
        select  a.* FROM(
	    select ps.* from product_settings ps,questionnaire_promotions qp
        where ps.promotions_id=qp.ID_
        AND ps.deleted=0 AND qp.deleted=0
		AND ps.product_state=0
        AND NOW() > qp.promotions_end
        UNION

        SELECT * FROM product_settings WHERE deleted=0 AND promotions_id=''
				AND product_total!=1 AND product_state=0
        ) as a
    </select>

    <select id="getUpdateUnion" resultMap="BaseResultMap">
        SELECT id_,product_code,product_total,product_price,creator,create_time,
        deleted,promotions_id,product_name,promotions_name,product_state
        FROM product_settings WHERE promotions_id=#{id} AND deleted=0
        AND product_state=0 AND product_total!=1
    </select>

    <update id="updateProductPromotions" parameterType="String">
        UPDATE product_settings SET promotions_id='',promotions_name='' WHERE promotions_id=#{promotionsId}
    </update>

    <select id="findProductTotal" resultMap="BaseResultMap">
        SELECT COUNT(pro.ID_) as count,product_id,product_name FROM product_settings pro JOIN order_online oo
          WHERE pro.ID_=oo.product_id AND order_state=1 AND pro.deleted=0 GROUP BY pro.ID_ ORDER BY count desc
    </select>
    <select id="findProductByOrder" resultMap="BaseResultMap">
        SELECT pro.ID_,pro.product_name,oo.payment_time FROM product_settings pro JOIN order_online oo
          WHERE pro.ID_=oo.product_id AND order_state=1 AND pro.deleted=0
    </select>
</mapper>

