<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.transaction.dao.QuestionnairePromotionsMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.transaction.domain.QuestionnairePromotions">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="promotions_type" jdbcType="INTEGER" property="promotionsType" />
    <result column="promotions_start" jdbcType="TIMESTAMP" property="promotionsStart" />
    <result column="promotions_end" jdbcType="TIMESTAMP" property="promotionsEnd" />
    <result column="promotions_discount" jdbcType="DECIMAL" property="promotionsDiscount" />
    <result column="buy_total" jdbcType="INTEGER" property="buyTotal" />
    <result column="promotions_buy_send" jdbcType="INTEGER" property="promotionsBuySend" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="promotions_state" jdbcType="INTEGER" property="promotionsState" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="promotions_name" jdbcType="VARCHAR" property="promotionsName"></result>
    <result column="image_path" jdbcType="VARCHAR" property="imagePath"></result>
    <association property="productSettings" javaType="com.yidusoft.project.transaction.domain.ProductSettings">
      <id column="ID_" jdbcType="VARCHAR" property="id" />
      <result column="product_total" jdbcType="INTEGER" property="productTotal" />
      <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
      <result column="product_name" jdbcType="VARCHAR" property="productName"></result>
    </association>
  </resultMap>
  <!--获取所有的活动-->
  <select id="getPromotionAll" resultMap="BaseResultMap">
    SELECT * FROM questionnaire_promotions WHERE deleted=0 order by promotions_end desc
  </select>

  <!--获取活动启用并还在活动时间范围内的活动-->
  <select id="getPromotionState" resultMap="BaseResultMap">
    SELECT  id_,promotions_name,promotions_start,promotions_end
    FROM    questionnaire_promotions
    WHERE   deleted=0
    AND     promotions_state=2
		AND now() BETWEEN promotions_start AND promotions_end
    order by create_time desc
  </select>

  <!--获取参与某个活动的所有套餐-->
  <select id="getActivityProduct" resultMap="BaseResultMap" parameterType="String">
    SELECT	ps.id_,ps.product_name,ps.product_total,ps.product_price,pro.promotions_name,
			pro.promotions_type,pro.promotions_start,pro.promotions_state,
			pro.promotions_end,pro.promotions_discount,pro.promotions_buy_send
    FROM    product_settings ps JOIN questionnaire_promotions pro
    WHERE 	ps.deleted=0 AND pro.deleted=0
    AND		ps.promotions_id=pro.id_
    AND 	pro.id_=#{id}
  </select>

  <select id="getState" resultMap="BaseResultMap">
    SELECT * FROM questionnaire_promotions WHERE deleted=0 AND promotions_state=1
    AND now() BETWEEN promotions_start AND promotions_end
  </select>
</mapper>