<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <link rel="stylesheet" th:href="@{/Styles/themes/default/shutter.css}" media="all">
    <link rel="stylesheet" href="/Styles/themes/mycss/animate-tool.css">
    <style>
        .contentR{position: absolute;}
     #pages{
        position: absolute;
        left: 20px;
        bottom: -2px;
      }
    .contentForm{
        position: relative;
    }

     div.test
     {
         white-space:nowrap;
         width:80%;
         overflow:hidden;
         cursor: pointer;
     }
     .btns {
         position: fixed;
         right: 10px;
         bottom: 10px;
     }
     .Rltitle{
         border-bottom: 0;
         background: #1e9eff;
         color: #fff;
         border-radius: 5px 5px 0 0;
         text-align: center; height: 44px;
         line-height: 44px;
     }

    </style>

</head>
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header(${0})">Header</div>
    <div class="eui-area">
        <div th:replace="project/cube/common/left :: left(${null})">sidebar</div>
        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent eui-bg-none">
                <div class="contentL">
                    <div class="shutter">
                        <div class="shutter-img">
                        </div>
                        <ul class="shutter-btn">
                            <li class="prev"></li>
                            <li class="next"></li>
                        </ul>
                        <div class="shutter-desc">
                            <p></p>
                        </div>
                    </div>
                    <div class="contentForm eui-marginT20">
                        <div class="formTop eui-row">
                            <div class="eui-col-md2 eui-col-md-offset1 eui-font30 eui-color-blue eui-textAlignC">0
                            </div>
                            <div class="eui-col-md1 eui-marginT10">积分</div>
                            <div class="eui-col-md2 eui-font30 eui-color-blue eui-textAlignC questionnairesTotal"></div>
                            <div class="eui-col-md1">问卷剩余使用量</div>
                            <div class="eui-col-md2 eui-col-md-offset1"><span
                                    class="eui-btn eui-btn-normal eui-font16 purchase"
                                    onclick="window.location.href='/cube/pay'">购 买</span>
                            </div>
                        </div>
                        <div class="xymfForm eui-form">
                            <table class="eui-table" e-even e-skin="nob" id="questionnaireUseInfo">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>客户</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div id="pages"></div>
                    </div>
                </div>
                <div style="height: 523px;" id="schedule" class="contentR  flip out">
                    <p class="Rltitle">往后30天预约记录</p>
                    <div id="classify" style="overflow:auto;height:480px;">

                    </div>


                    <a title="切换视图" class="btns" onclick="cut('schedule')"><img src="/Styles/images/xymfImages/switch-blue.png" width="20" alt=""></a>
                </div>
                <div id="calendar" class="contentR  flip">
                        <div class="eui-inline" id="test-n1"></div>
                        <div class="calendarEvents">
                            <div class="eui-overflowH eui-marginB10">
                                <div id="selectDate" class="eui-float-left">今日</div>
                                <div class="eui-float-right"><i style="cursor: pointer;" onclick="openSchrdule('add','')" class="eui-icon eui-color-gray3">&#xe654;</i></div>
                            </div>
                            <div id="scheduleData">
                            </div>

                            <a title="切换视图" class="btns" onclick="cut('calendar')"><img src="/Styles/images/xymfImages/switch-blue.png" width="20" alt=""></a>
                        </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>
</div>
</div>

<script th:src="@{/Scripts/module/eui.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/jquery-1.9.0.min.js}"></script>
<script type="text/javascript" th:src="@{/date2format.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/shutter.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/velocity.js}"></script>
<script>
    $(function () {
        $.get("/user/questionnaires/list", function (result) {
            if (result.data != null) {
                $('.questionnairesTotal').html(result.data.questionnairesTotal);
            } else {
                $('.questionnairesTotal').html(0);
            }
        })
        init();
    });

    function cut(id) {
        if (id=='calendar'){
            $("#"+id).addClass("out").removeClass('in');
            $("#schedule").removeClass('out').addClass("in");
        }else {
            $("#"+id).addClass("out").removeClass('in');
            $("#calendar").removeClass("out").addClass('in');
        }
    }
    function init() {
        $.ajax({
            url:"/index/img/list",
            async:false,
            type:"get",
            success:function (result) {
                if (result.message == "SUCCESS") {
                    var imgList = result.data;
                    for (var index in imgList) {
                        var img = imgList[index];
                        var imgPath = img.imgPath;
                        imgPath = imgPath.substring(imgPath.indexOf("/upload"), imgPath.length);
                        if (img.state == 0) {
                            if (img.imgType == 1) {
                                $.ajax({
                                    url:"/questionnaire/promotions/getOne",
                                    async:false,
                                    data:{id:img.objectId},
                                    type:"post",
                                    success:function (result) {
                                        if(result.message == "SUCCESS"){
                                            var promotion =result.data;
                                            if(promotion!=null){
                                                $('.shutter-img').append('<a href="/cube/slideshow/' + img.objectId + '" data-shutter-title="'+promotion.promotionsName+'">' +
                                                        '<img src="/files' + imgPath + '"></a>');
                                            }
                                        }
                                    }
                                })
                            } else {
                                $('.shutter-img').append('<a href="/cube/slideshow/' + img.objectId + '" data-shutter-title="其他">' +
                                        '<img src="/files' + imgPath + '"></a>');
                            }
                        }
                    }
                    shutter();
                }
            }
        })
    }
    /**
     * 图片轮播
     */
    function shutter() {
        $('.shutter').shutter({
            shutterW: 676, // 容器宽度
            shutterH: 128, // 容器高度
            isAutoPlay: true, // 是否自动播放
            playInterval: 4000, // 自动播放时间
            curDisplay: 1, // 当前显示页
            fullPage: false // 是否全屏展示
        })
    }
</script>
<script>
    $(function () {
        doSearch();
    });
    function openSchrdule(type,id) {
        var index = layer.open({
            title: '预约登记'
            , type: 2
            , area: ['600px', '500px']
            , content: '/web/schedule/visitor/schedule?type='+type+'&id='+id
        });
    }
    function layuiAlertClose(o) {
        layer.closeAll();
        if (o){
            $('#test-n1').html('');
            var obj = new Object();
            initLaydateTest_n1(obj);
        }
    }
    // 表单
    eui.use(['form', 'layedit', 'laydate', 'laypage', 'layer'], function () {
        var form = eui.form
            , layer = eui.layer
            , layedit = eui.layedit
            , laydate = eui.laydate
            , laypage = eui.laypage;
        form.render();
        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

    });

    //加载数据
    function doSearch() {
        var limits = new Array(5, 10, 15);

        eui.use(['form', 'laypage', 'layer'], function () {
            var form = eui.form
                , laypage = eui.laypage
                , layer = eui.layer,
                $ = eui.jquery;
            //加载层
            var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2

            $.ajax({
                url: "/cube/questionnaire//findQuestionnaireUseInfoListByPage",
                data: {
                    page: 1,
                    size: 5
                },
                type: "post",
                success: function (result) {
                    layer.closeAll();
                    // 分页
                    laypage.render({
                        elem: 'pages'
                        ,theme: '#1E9FFF'
                        ,groups:1
                        , count: result.data.total
                        , limit: 5
                        , limits: limits
                        , layout: ['count', 'prev', 'page', 'next', 'limit', 'limits', 'skip']
                        , skip: true
                        , jump: function (obj, first) {
                            if (first) {
                                //第一次，不需要查询数据
                                var questionnaireUseInfoList = result.data.list;

                                //遍历，拼接表格
                                var tableHtml = getTable(questionnaireUseInfoList);
                                $("#questionnaireUseInfo tbody").html(tableHtml);
                                form.render('checkbox');
                            } else {
                                //加载层
                                var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                                $.ajax({
                                    url: "/cube/questionnaire/findQuestionnaireUseInfoListByPage",
                                    data: {
                                        page: obj.curr,
                                        size: obj.limit
                                    },
                                    type: "post",
                                    success: function (result) {
                                        layer.closeAll();
                                        var questionnaireUseInfoList = result.data.list;
                                        //遍历，拼接表格
                                        var tableHtml = getTable(questionnaireUseInfoList);
                                        $("#questionnaireUseInfo tbody").html(tableHtml);
//                                        //重新加载复选框
//                                        form.render('checkbox');
                                    }
                                });
                            }
                        }
                    });
                }
            });

        });
    }


    //渲染数据，拼接表格
    function getTable(questionnaireUseInfoList) {
        var tableHtml = '';

        for (var item in questionnaireUseInfoList) {
            var info = questionnaireUseInfoList[item];
            tableHtml += '<tr>' +
                '<td>' + info.questionnaireName + '</td>' +
                '<td>' + info.visitorName + '</td>' +
                '<td>' + new Date(info.createTime).Format('yyyy-MM-dd') + '</td>' +
                '<td>' +
                '<div class="eui-btn-group"> ' +
                '<button class="eui-btn eui-btn-primary eui-btn-mini userEdit" title="查看" onclick="selQuestionnaireForVisitor(\''+info.id+'\',\''+info.dataQuestion+'\',\''+info.userId+'\')"><i class="eui-icon">&#xe63c;</i></button> ' +
                '</div>' +
                '</td>' +
                '</tr>';
        }

        return tableHtml;
    }
    //查看来访者填写的问卷
    function selQuestionnaireForVisitor(acquisitionId,questionnaireId,userId){
        window.open("/web/cube/getQuestionnaireForVisitor?questionnaireId="+questionnaireId+"&userId="+userId+"&acquisitionId="+acquisitionId);
    }


</script>
</body>
</html>
