<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header">Header</div>
    <div class="eui-area">
        <div th:replace="project/cube/common/left :: left">sidebar</div>
        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent">
                <div class="contentL">
                    <p class="activity"><img th:src="@{/Styles/images/xymfImages/xymf/activity.png}" width="676" alt="">
                    </p>
                    <div class="contentForm">
                        <div class="formTop eui-row">
                            <div class="eui-col-md2 eui-col-md-offset1 eui-font30 eui-color-blue eui-textAlignC">206
                            </div>
                            <div class="eui-col-md1 eui-marginT10">积分</div>
                            <div class="eui-col-md2 eui-font30 eui-color-blue eui-textAlignC">127</div>
                            <div class="eui-col-md1">问卷剩余使用量</div>
                            <div class="eui-col-md2 eui-col-md-offset1"><span class="eui-btn eui-btn-normal eui-font16">购 买</span>
                            </div>
                        </div>
                        <div class="xymfForm">
                            <table class="eui-table eui-form" e-even e-skin="nob">
                                <colgroup>
                                    <col width="60">
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><input type="checkbox" e-skin="primary" title=""></th>
                                    <th>名称</th>
                                    <th>客户</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" e-skin="primary" title="" checked=""></td>
                                    <td>心理测试《认识自己》</td>
                                    <td>张三</td>
                                    <td>2016-11-29</td>
                                    <td><i class="eui-icon">&#xe642;</i> <i class="eui-icon">&#xe640;</i></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" e-skin="primary" title=""></td>
                                    <td>心理测试及分析</td>
                                    <td>李四</td>
                                    <td>2017-10-22</td>
                                    <td><i class="eui-icon">&#xe642;</i> <i class="eui-icon">&#xe640;</i></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" e-skin="primary" title=""></td>
                                    <td>心理测试小游戏</td>
                                    <td>王五</td>
                                    <td>2017-09-10</td>
                                    <td><i class="eui-icon">&#xe642;</i> <i class="eui-icon">&#xe640;</i></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" e-skin="primary" title=""></td>
                                    <td>爱情婚姻观心理测试</td>
                                    <td>孙剩</td>
                                    <td>2017-09-10</td>
                                    <td><i class="eui-icon">&#xe642;</i> <i class="eui-icon">&#xe640;</i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contentR">
                    <div class="eui-inline" id="test-n1"></div>
                    <div class="calendarEvents">
                        <div class="eui-overflowH eui-marginB20">
                            <div class="eui-float-left">今日</div>
                            <div class="eui-float-right"><i class="eui-icon eui-color-gray3">&#xe654;</i></div>
                        </div>
                        <div class="eui-overflowH eui-marginB10">
                            <div class="eui-float-left eui-marginB10">09:00</div>
                            <div class="eui-float-left eui-marginB10 eui-marginL10">患者张三来访</div>
                        </div>
                        <div class="eui-overflowH">
                            <div class="eui-float-left eui-marginB10">14:30</div>
                            <div class="eui-float-left eui-marginB10 eui-marginL10">患者王五第二次咨询</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>

</div>

<script th:src="@{/Scripts/module/eui.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/jquery-1.9.0.min.js}"></script>

<script>
    //表单
    eui.use(['form', 'laydate', 'element'], function () {
        var form = eui.form
            , element = eui.element
            , laydate = eui.laydate;

        // 日期
        laydate.render({
            elem: '#test-n1'
            , position: 'static'
        });

    });
</script>
</body>
</html>
