<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>信息完善</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/mycss/amazeui.cropper.css}">
    <link rel="stylesheet" th:href="@{/Styles/themes/mycss/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/Styles/themes/mycss/custom_up_img.css}">

    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">

    <style>
        .titleSize{font-family: "微软雅黑", "宋体", Arial, sans-serif;
            color: black;font-size: 18px;}
        .formDiv{
            height: 420px;
            border-radius: 5px;
            /*box-shadow: 4px 4px 30px #333;*/
           }
        .eui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 120px;
            font-weight: 400;
            text-align: right;
        }

        .formDiv .c{padding: 30px; width: 100%; height: 38px;}

        .formDiv div input{float: left; }
        .subBtn{color: white; background: #35a9ff;}

        input[type="button"],[type="submit"]{
            cursor: pointer;
        }
        #checkAccount input + label{color: red; float: left; line-height: 38px;font-size: 10px;}
    </style>
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <header >
        <div class="eui-header">
            <div class="headerIn">
                <div class="eui-logo"><img th:src="@{/Styles/images/xymfImages/xymf/logo.png}" alt=""></div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="eui-nav xymfNav">
                    <li class="eui-nav-item"><h1 class="titleSize">信息完善</h1></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="eui-area">

        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent">
                <div style="width: 33%;float: right;" class="eui-paddingT20">
                    <p class="eui-marginB10">
                        <button type="button" class="eui-btn eui-btn-small eui-btn-normal" id="upCertification"><i class="eui-icon">&#xe67c;</i>资质认证上传
                        </button>
                    </p>
                    <p class="eui-font12" id="userCertification">(请上传资质证明的相关材料,只支持图片上传,支持jpg,png)</p>
                    <div style="width: 33%;" class="eui-marginT10">
                        <div style="width: 100px; height: 100px;">
                            <img id="certificationImg" src="/Styles/images/default-pic.png" width="90" height="90">
                        </div>
                    </div>
                </div>


                <div class="formDiv">
                    <form id="checkAccount" onsubmit="return false;">
                        <input name="id" th:value="${d}" type="hidden" />
                        <div style="height: 100px;">
                            <img id="headImg" src="/Styles/images/default-pic.png" width="100" height="80" />
                            <button type="button"   class="eui-btn eui-btn-small  eui-btn-normal" id="upFiles">
                                <i class="eui-icon">&#xe67c;</i>上传图片
                            </button>
                            (只支持图片上传)
                        </div>

                        <div class="c">
                            <label class="eui-form-label">姓名</label>
                            <input type="text" name="userName" e-verify="title" autocomplete="off"
                                   placeholder="请输入姓名" class="eui-input eui-width400">
                        </div>
                        <div class="c">
                            <label class="eui-form-label">邀请码</label>
                            <input type="text" name="inviterCode" e-verify="title" autocomplete="off"
                                   placeholder="请输入邀请码/选填" class="eui-input eui-width400">
                        </div>

                        <div class="c">
                            <label class="eui-form-label">邮箱</label>
                            <input type="email" name="email" e-verify="title" autocomplete="off"
                                   placeholder="请输入邮箱地址" class="eui-input eui-width400">
                        </div>

                        <div  data-toggle="distpicker">
                           <div class="c">
                               <label class="eui-form-label">省</label>
                               <select data-province="" id="province" class="eui-input eui-width400" e-ignore name="province">
                               </select>
                           </div>

                        <div class="c">
                            <label class="eui-form-label">市</label>
                            <select data-province="" id="city" class="eui-input eui-width400" e-ignore name="city">
                            </select>
                        </div>

                        <div class="c">
                            <label class="eui-form-label">区</label>
                            <select data-province="" id="district" class="eui-input eui-width400" e-ignore name="district">
                            </select>
                        </div>
                        </div>
                        <div class="c">
                            <label class="eui-form-label">通讯地址</label>
                            <input type="text" name="addr" e-verify="title" autocomplete="off"
                                   placeholder="请输入通讯地址" class="eui-input eui-width400">
                        </div>


                        <div class="c">
                            <input value="保存" type="submit"
                                   class="eui-input eui-width100 subBtn"/>

                            <input onclick="location.href='/index'" style="float: right;margin-right: 20px;" value="跳过" type="button"
                                   class="eui-input eui-width100"/>
                            <br>
                            <br>
                        </div>

                    </form>
                </div>


            </div>

            <!--========================================================================-->


            <!--图片上传框-->
            <div class="am-modal am-modal-no-btn up-frame-bj " tabindex="-1" id="doc-modal-1">
                <div class="am-modal-dialog up-frame-parent up-frame-radius">
                    <div class="am-modal-hd up-frame-header">
                        <label style="color: #1E9FFF">上传图片</label>
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                    </div>
                    <div class="am-modal-bd  up-frame-body">
                        <div class="am-g am-fl">
                            <div class="am-form-group am-form-file">
                                <div class="am-fl">
                                    <button type="button" class="eui-btn eui-btn-small eui-btn-normal">
                                        <i class="eui-icon">&#xe67c;</i> 选择要上传的文件</button>
                                </div>
                                <input type="file" id="inputImage">
                            </div>
                        </div>
                        <div class="am-g am-fl" >
                            <div class="up-pre-before up-frame-radius">
                                <img alt="" src="" id="image" >
                            </div>
                            <div class="up-pre-after up-frame-radius">
                            </div>
                        </div>
                        <div class="am-g am-fl">
                            <div style="background: center" class="up-control-btns">
                                <a  class="eui-btn eui-btn-small  eui-btn-normal" id="up-btn-ok" url="/upload/upload/cropHeadImg">保存修改</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--==========================================================================-->

        </div>
    </div>
</div>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>


<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script src="/Scripts/plugins/amazeui.min.js" charset="utf-8"></script>
<script src="/Scripts/plugins/cropper.min.js" charset="utf-8"></script>
<script src="/Scripts/plugins/custom_up_img.js"></script>
<script src="/Scripts/plugins/distpicker.data.js"></script>
<script src="/Scripts/plugins/distpicker.js"></script>
<script>
    eui.use('upload', function(){
        var $ = eui.jquery
            ,upload = eui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upCertification'
            ,url: '/upload/uploadCertification'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#certificationImg').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                layer.msg('上传成功');
               // $('#userCertification').text('(已上传资质证明的材料)');
            }
            ,error: function(){
                //演示失败状态，并实现重传
                layer.msg('上传出错');

            }
        });

    });
    eui.use(['form', 'layedit', 'laydate', 'laypage', 'layer'], function () {
        var form = eui.form
            , layer = eui.layer
            , layedit = eui.layedit
            , laydate = eui.laydate
            , laypage = eui.laypage;

    });
    $(function () {
        $("#checkAccount").validate({
            rules: {
                userName: {
                    required : true
                },
                email: {
                    required: true,
                    email:true
                }
            },
            messages: {
                userName: {
                    required : "请输入用户名/昵称"
                },
                email: {
                    required: '请输入电子邮件',
                    email: '请检查电子邮件的格式'
                }
            },
            submitHandler: function() {
                var obj = $("#checkAccount").serializeObject();
                $.post('/sign/paefactInfo',{json:JSON.stringify(obj)},function (result) {
                    if (result.code ==200){
                        location.href='/index';
                    }else {
                        layer.msg(result.message)
                    }
                });
            }
        });
    });


    function Post(URL, PARAMTERS) {
        //创建form表单
        var temp_form = document.createElement("form");
        temp_form.action = URL;
        //如需打开新窗口，form的target属性要设置为'_blank'
        temp_form.target = "_self";
        temp_form.method = "post";
        temp_form.style.display = "none";
        //添加参数
        for (var item in PARAMTERS) {
            var opt = document.createElement("textarea");
            opt.name = PARAMTERS[item].name;
            opt.value = PARAMTERS[item].value;
            temp_form.appendChild(opt);
        }
        document.body.appendChild(temp_form);
        //提交数据
        temp_form.submit();
    }
</script>
</body>
</html>