<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.questionnaire.dao.QuestionnaireTypeMapper">
    <resultMap id="BaseResultMap" type="com.yidusoft.project.questionnaire.domain.QuestionnaireType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id"/>
        <result column="questionnaire_type_code" jdbcType="VARCHAR" property="questionnaireTypeCode"/>
        <result column="questionnaire_type_name" jdbcType="VARCHAR" property="questionnaireTypeName"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
    </resultMap>

    <resultMap id="tree_map" type="com.yidusoft.utils.TreeNode">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--树形结构-->
    <select id="getTree" resultMap="tree_map">
    SELECT ID_ id,QUESTIONNAIRE_TYPE_NAME name,PID pid FROM QUESTIONNAIRE_TYPE WHERE
     DELETED=0
  </select>


    <select id="getQueryAll" resultMap="BaseResultMap"
            parameterType="com.yidusoft.project.questionnaire.domain.QuestionnaireType">

        SELECT * FROM QUESTIONNAIRE_TYPE WHERE
        DELETED=0
        <if test="id != null and id != ''">
            AND (ID_ = #{id} OR PID = #{id})
        </if>
        <if test="questionnaireTypeCode != null and questionnaireTypeCode != ''">
            AND QUESTIONNAIRE_TYPE_CODE LIKE '%${questionnaireTypeCode}%' OR QUESTIONNAIRE_TYPE_NAME LIKE
            '%${questionnaireTypeCode}%'
        </if>
    </select>


    <select id="findByIdOrPid" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM QUESTIONNAIRE_TYPE WHERE
        DELETED=0

         AND ID_ = #{id} OR PID = #{id}

    </select>


    <select id="findParentType" parameterType="java.lang.String" resultMap="BaseResultMap">

        SELECT * FROM QUESTIONNAIRE_TYPE WHERE ID_ = #{pid}
    </select>

    <select id="findSameType" parameterType="java.lang.String" resultMap="BaseResultMap">
         SELECT * FROM QUESTIONNAIRE_TYPE WHERE
        DELETED=0
        AND QUESTIONNAIRE_TYPE_NAME = #{questionnaireTypeName}

    </select>


    <!--查找子类型-->
    <select id="findDeleteIsContainChild" parameterType="java.lang.String" resultMap="BaseResultMap">
         SELECT * FROM QUESTIONNAIRE_TYPE WHERE
        DELETED=0
        AND PID = #{id}
    </select>

</mapper>