<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.questionnaire.dao.QuestionnaireMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.questionnaire.domain.Questionnaire">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="questionnaire_code" jdbcType="VARCHAR" property="questionnaireCode" />
    <result column="questionnaire_name" jdbcType="VARCHAR" property="questionnaireName" />
    <result column="shelf_time" jdbcType="TIMESTAMP" property="shelfTime" />
    <result column="question_sequence" jdbcType="INTEGER" property="questionSequence" />
    <result column="questionnaire_state" jdbcType="INTEGER" property="questionnaireState" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="questionnaire_type" jdbcType="VARCHAR" property="questionnaireType" />
    <result column="gauge_id" jdbcType="VARCHAR" property="gaugeId" />
    <result column="answer_model_type" jdbcType="INTEGER" property="answerModelType" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="guide" jdbcType="LONGVARCHAR" property="guide" />
      <result column="questionnaire_permission" jdbcType="INTEGER" property="questionnairePermission" />
  </resultMap>

    <resultMap id="BaseResultMap1" type="com.yidusoft.project.questionnaire.domain.Questionnaire">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id" />
        <result column="questionnaire_code" jdbcType="VARCHAR" property="questionnaireCode" />
        <result column="questionnaire_name" jdbcType="VARCHAR" property="questionnaireName" />
        <result column="shelf_time" jdbcType="TIMESTAMP" property="shelfTime" />
        <result column="question_sequence" jdbcType="INTEGER" property="questionSequence" />
        <result column="questionnaire_state" jdbcType="INTEGER" property="questionnaireState" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
        <result column="questionnaire_type" jdbcType="VARCHAR" property="questionnaireType" />
        <result column="gauge_id" jdbcType="VARCHAR" property="gaugeId" />
        <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
        <result column="guide" jdbcType="LONGVARCHAR" property="guide" />
        <result column="answer_model_type" jdbcType="INTEGER" property="answerModelType" />
        <result column="gauge_name" jdbcType="VARCHAR" property="gaugeName" />
        <result column="questionnaire_type_name" jdbcType="VARCHAR" property="questionnaireTypeName" />
        <result column="questionnaire_permission" jdbcType="INTEGER" property="questionnairePermission" />
    </resultMap>

    <select id="questionnaireListByPage" resultMap="BaseResultMap1" parameterType="com.yidusoft.project.questionnaire.domain.Questionnaire">
        SELECT
          g.*,e.gauge_name,q.questionnaire_type_name
        FROM
           questionnaire g
        LEFT JOIN
          questionnaire_type  q
        ON g.questionnaire_type =q.id_
        LEFT JOIN
          gauge  e
        ON  g.gauge_id=e.id_
        WHERE g.deleted=0
        <if test="questionnaireCode != null and questionnaireCode != ''">
            AND  ( g.questionnaire_code  LIKE  '%${questionnaireCode}%'
            OR
            g.questionnaire_name LIKE  '%${questionnaireCode}%'
            )
        </if>
        <if test="questionnaireState != null and questionnaireState != ''">
            AND   g.questionnaire_state=#{questionnaireState}
        </if>

        <if test="questionnaireType != null and questionnaireType != ''">
            AND g.questionnaire_type IN (
            SELECT qt.id_ FROM questionnaire_type qt WHERE qt.questionnaire_type_name LIKE '%${questionnaireType}%'
            )
        </if>

        <if test="gaugeId != null and gaugeId != ''">
            AND g.gauge_id IN (
            SELECT gg.id_ FROM  gauge gg WHERE gg.gauge_name LIKE '%${gaugeId}%'
            )
        </if>

        <if test="questionnaireState != null and questionnaireState != ''">
            AND g.questionnaire_state = ${questionnaireState}
        </if>

        <if test="answerModelType != null and answerModelType !=''">
            AND g.answer_model_type = ${answerModelType}
        </if>
        ORDER BY  g.CREATE_TIME DESC

    </select>
    <select id="findQuestionnaireType" parameterType="String" resultMap="BaseResultMap1">
          SELECT
          g.*,e.gauge_name,q.questionnaire_type_name
        FROM
           questionnaire g
        LEFT JOIN
          questionnaire_type  q
        ON g.questionnaire_type =q.id_
        LEFT JOIN
          gauge  e
        ON  g.gauge_id=e.id_
        WHERE g.deleted=0
        AND  g.ID_=#{id}

    </select>
    <select id="findQuestionnaireAll"  resultMap="BaseResultMap">
        SELECT
          *
        FROM
          questionnaire
        WHERE  deleted=0


    </select>

    <select id="getQuestionnaireByState" resultMap="BaseResultMap1">
        SELECT ID_,questionnaire_name
        FROM questionnaire
        WHERE deleted=0
        AND questionnaire_state=2
    </select>

    <select id="findQuestionnaireForTagAndScene" resultMap="BaseResultMap"  parameterType="java.util.HashMap">
        SELECT q.* from( SELECT
        q.id_,q.questionnaire_name,q.remarks,q.questionnaire_permission
        FROM
        questionnaire q
        WHERE q.deleted=0
        AND q.questionnaire_state=2

        <if test="questionnaireName!= '' and questionnaireName!= null ">
            AND q. questionnaire_name like  '%${questionnaireName}%'
        </if>
        <if test=" questionnaireType!= '' and questionnaireType!= null ">
        AND  q.questionnaire_type =#{questionnaireType}
       </if>


            <if test="tagIds != null and tagIds != ''">
                <foreach item="item" index="index" collection="tagIds" open=""  separator=" " close="">
                    UNION ALL
                   SELECT
                    q.id_,q.questionnaire_name,q.remarks,q.questionnaire_permission
                    FROM
                    questionnaire q
                    LEFT JOIN
                    questionnaire_tag_middle t
                    ON  q.id_=t.questionnaire_id
                    WHERE q.deleted=0
                    AND q.questionnaire_state=2
                    AND t.questionnaire_tag_id= #{item}

                </foreach>
            </if>
            <if test="sceneIds != null and sceneIds != ''">
                <foreach item="item" index="index" collection="sceneIds" open="" separator="" close="">
                    UNION ALL
                    SELECT
                    q.id_,q.questionnaire_name,q.remarks,q.questionnaire_permission
                    FROM
                    questionnaire q
                    LEFT JOIN
                    questionnaire_scene c
                    ON q.id_=c.questionnaire_id
                    WHERE q.deleted=0
                    AND q.questionnaire_state=2
                    AND c.scene_id=#{item}

                </foreach>
            </if>

            ) q
        GROUP BY  q.id_,q.questionnaire_name,q.remarks,q.questionnaire_permission HAVING COUNT(q.id_)=#{size}
        AND (q.questionnaire_permission = 1 OR  q.id_ IN (
        SELECT questionnaire_id FROM questionnaire_permission_middle  where user_id = #{userId}  )   )
    </select>
</mapper>