<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.questionnaire.dao.QuestionnairePermissionMiddleMapper">
    <resultMap id="BaseResultMap" type="com.yidusoft.project.questionnaire.domain.QuestionnairePermissionMiddle">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id" />
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
    </resultMap>

    <resultMap id="SecUserResultMap" type="com.yidusoft.project.system.domain.SecUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id" />
        <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
        <result column="USER_PASS" jdbcType="VARCHAR" property="userPass" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
        <result column="EMAIL" jdbcType="VARCHAR" property="email" />
        <result column="ADDR" jdbcType="VARCHAR" property="addr" />
        <result column="STATUS" jdbcType="INTEGER" property="status" />
        <result column="SEX" jdbcType="INTEGER" property="sex" />
        <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="DELETED" jdbcType="INTEGER" property="deleted" />
        <result column="HEAD_IMG" jdbcType="VARCHAR" property="headImg" />
        <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
        <result column="ACCOUNT_Type" jdbcType="VARCHAR" property="accountType" />

        <result column="inviter_code" jdbcType="VARCHAR" property="inviterCode" />
        <result column="inviter_user" jdbcType="VARCHAR" property="inviterUser" />
        <result column="channel_id" jdbcType="VARCHAR" property="channelId" />

        <result column="ORG_NAME" jdbcType="INTEGER" property="orgName" />

        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="district" jdbcType="VARCHAR" property="district" />

    </resultMap>


    <select id="findQuestionnaireSecUser" parameterType="com.yidusoft.project.system.domain.SecUser" resultMap="SecUserResultMap">
SELECT su.* FROM sec_user su

    WHERE su.deleted = 0
      AND su.STATUS = 1
      AND su.ACCOUNT_TYPE = 1
      <if test="account != null and account != ''">
          AND su.ACCOUNT LIKE '%${account}%'
      </if>

        <if test="userName != null and userName != ''">
            AND su.USER_NAME LIKE '%${userName}%'
        </if>
        
        <if test="mobile != null and mobile != ''">
            AND su.MOBILE LIKE '%${mobile}%'
        </if>

        <if test="email != null and email !=''">
            AND su.EMAIL LIKE '%${email}%'
        </if>

        <if test="addr != null and addr != ''">
            AND  su.ADDR LIKE '%${addr}%'
        </if>

        <!--<if test="channelId != null and channelId != ''">-->
            <!--AND su.channel_id IN  (SELECT cm.ID_ WHERE cm.channel_name LIKE '%${channelId}%')-->
        <!--</if>-->


    </select>


    <select id="findSecUserByQuestionnaireId" parameterType="String" resultMap="SecUserResultMap">
SELECT su.* FROM sec_user su WHERE su.ID_ IN
(
SELECT qpm.user_id FROM questionnaire_permission_middle qpm
WHERE qpm.questionnaire_id = #{questionnaireId}
)
 AND su.deleted = 0
      AND su.STATUS = 1
      AND su.ACCOUNT_TYPE = 1
    </select>


<select id="findPermission" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM  questionnaire_permission_middle WHERE questionnaire_id = #{questionnaireId}
</select>
</mapper>