<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.questionnaire.dao.QuestionnaireQuestionMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.questionnaire.domain.QuestionnaireQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="question_code" jdbcType="VARCHAR" property="questionCode" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="option_answer" jdbcType="VARCHAR" property="optionAnswer" />
    <result column="option_score" jdbcType="VARCHAR" property="optionScore" />
    <result column="question_type" jdbcType="INTEGER" property="questionType" />
    <result column="question_content" jdbcType="LONGVARCHAR" property="questionContent" />
    <result column="answer_sequence" jdbcType="INTEGER" property="answerSequence" />
    <result column="ascription_type" jdbcType="INTEGER" property="ascriptionType" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />


  </resultMap>


  <select id="questionListByPage" resultMap="BaseResultMap" parameterType="com.yidusoft.project.questionnaire.domain.QuestionnaireQuestion">
        SELECT
          *
          FROM
             questionnaire_question
          WHERE deleted=0
            <if test="questionCode != null and questionCode != ''">
              AND   question_code  LIKE  '%${questionCode}%'
            </if>
            <if test="questionContent != null and questionContent != ''">
              AND   question_content  LIKE  '%${questionContent}%'
            </if>
            <if test="questionType != null and questionType != ''">
              AND   question_type =${questionType}
            </if>
            <if test="ascriptionType==1 or  ascriptionType=='1' ">
              AND   ascription_Type =1
            </if>
            <if test="ascriptionType==2 or  ascriptionType=='2' ">
              AND   ascription_Type =2
            </if>
            ORDER BY  CREATE_TIME ASC

  </select>

  <select id="findQuestionBYid" resultMap="BaseResultMap"  parameterType="java.util.HashMap">
    SELECT
    *
    FROM
    questionnaire_question
    WHERE deleted=0
      AND   id_  not  in
    <foreach item="item" index="index" collection="ids" open="("
             separator="," close=")">
      #{item}
    </foreach>
      <if test="questionCode != null and questionCode != ''">
        AND   question_code  LIKE  '%${questionCode}%'
      </if>
      <if test="questionContent != null and questionContent != ''">
        AND   question_content  LIKE  '%${questionContent}%'
      </if>
      <if test="questionType != null and questionType != ''">
        AND   question_type =${questionType}
      </if>
      <if test="ascriptionType==1 or  ascriptionType=='1' ">
        AND   ascription_Type =1
      </if>
      <if test="ascriptionType==2 or  ascriptionType=='2' ">
        AND   ascription_Type =2
      </if>
      ORDER BY  CREATE_TIME ASC

  </select>


  <select id="findQuestionForQuestionnaire" resultMap="BaseResultMap"  parameterType="String">
                  SELECT
                    q.*
                    FROM
                      questionnaire_question_factor  f
                    LEFT JOIN
                       questionnaire_question  q
                    ON f.question_id=q.id_
                    WHERE f.questionnaire_id =#{id}

  </select>

</mapper>