<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.questionnaire.dao.QuestionnaireQuestionMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.questionnaire.domain.QuestionnaireQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="question_code" jdbcType="VARCHAR" property="questionCode" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="option_answer" jdbcType="VARCHAR" property="optionAnswer" />
    <result column="option_score" jdbcType="VARCHAR" property="optionScore" />
    <result column="question_type" jdbcType="INTEGER" property="questionType" />
    <result column="question_content" jdbcType="LONGVARCHAR" property="questionContent" />
  </resultMap>


  <select id="questionListByPage" resultMap="BaseResultMap" parameterType="com.yidusoft.project.questionnaire.domain.QuestionnaireQuestion">
        SELECT
          *
          FROM
             questionnaire_question
          WHERE deleted=0
            <if test="questionCode != null and questionCode != ''">
              AND   question_code  LIKE  '%${questionCode}%'
            </if>
            ORDER BY  CREATE_TIME ASC

  </select>
</mapper>