<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.questionnaire.dao.QuestionnaireTagMapper">
    <resultMap id="BaseResultMap" type="com.yidusoft.project.questionnaire.domain.QuestionnaireTag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id"/>
        <result column="tag_code" jdbcType="VARCHAR" property="tagCode"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="tag_explain" jdbcType="LONGVARCHAR" property="tagExplain"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.yidusoft.project.questionnaire.domain.QuestionnaireTag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID_" jdbcType="VARCHAR" property="id"/>
        <result column="tag_code" jdbcType="VARCHAR" property="tagCode"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="tag_explain" jdbcType="LONGVARCHAR" property="tagExplain"/>
        <result column="nums" jdbcType="INTEGER" property="nums"/>
    </resultMap>



    <select id="questionnaireTagListByPage" resultMap="BaseResultMap"
            parameterType="com.yidusoft.project.questionnaire.domain.QuestionnaireTag">
        SELECT
        *
        FROM
        QUESTIONNAIRE_TAG
        WHERE deleted=0
        <if test="tagCode != null and tagCode != ''">
            AND TAG_CODE LIKE '%${tagCode}%' OR TAG_NAME LIKE '%${tagCode}%'
        </if>



        ORDER BY CREATE_TIME ASC

    </select>

    <select id="findTagForGauge" resultMap="BaseResultMap"  parameterType="String">
        SELECT q.*  FROM
          gauge_tag_middle  g
        LEFT JOIN
           questionnaire_tag q
        ON g.tag_id=q.id_
        WHERE
             q.deleted=0
        AND g.gauge_id=#{gaugeId}
    </select>

    <select id="findTagForQuestionnaire" resultMap="BaseResultMap"  parameterType="String">
           SELECT q.*  FROM
                questionnaire_tag_middle  g
                LEFT JOIN
                questionnaire_tag q
                ON g.questionnaire_tag_id=q.id_
                WHERE
                  q.deleted=0
               AND g.questionnaire_id=#{questionnaireId}
    </select>


    <select id="findSameTag" parameterType="String" resultMap="BaseResultMap">
         SELECT
        *
        FROM
        QUESTIONNAIRE_TAG
        WHERE deleted=0
        AND TAG_NAME = #{tagName}

    </select>

    <select id="findQuestionnaireForTagNum"  resultMap="BaseResultMap1">
          SELECT
              t.id_,t.tag_name,sum(1)as  nums
            FROM    questionnaire_tag t
            LEFT JOIN questionnaire_tag_middle m
              ON  t.id_=m.questionnaire_tag_id
            LEFT JOIN   questionnaire   q
              ON    q.id_ =m.questionnaire_id
            WHERE q.deleted=0
             AND   q.questionnaire_state=2
             GROUP BY   t.tag_name,t.id_
     </select>

</mapper>