<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.system.dao.SecMenuMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.system.domain.SecMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="MENU_CODE" jdbcType="VARCHAR" property="menuCode" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="MENU_TYPE" jdbcType="INTEGER" property="menuType" />
    <result column="OPEN_TYPE" jdbcType="INTEGER" property="openType" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="ENABLED" jdbcType="INTEGER" property="enabled" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DELETED" jdbcType="INTEGER" property="deleted" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <resultMap id="tree_map" type="com.yidusoft.utils.TreeNode">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findMenuSortCountByParentId" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM sec_menu WHERE PARENT_ID=#{menuId} AND MENU_TYPE=1 AND DELETED=0
  </select>

  <select id="findCompanyRoleMenuByRoleId" parameterType="String" resultMap="BaseResultMap">
    SELECT menu.* FROM sec_menu menu WHERE menu.DELETED=0 AND menu.ID_ in(
    SELECT menu_id FROM sec_menu_role WHERE role_id=#{roleId}
    )
  </select>


  <select id="menuTree" resultMap="tree_map">
    SELECT ID_ id,MENU_NAME name,PARENT_ID parentId  FROM SEC_MENU WHERE DELETED = 0
  </select>

  <select id="loadUserMenu" parameterType="String" resultType="com.yidusoft.project.system.domain.SecMenu">
    SELECT * FROM sec_menu sm
    LEFT JOIN sec_menu_member smm
    WHERE smm.MENU_ID = sm.ID_
    AND smm.USER_ID =  #{userId}
  </select>

  <select id="menuListByRoleId" parameterType="String" resultType="com.yidusoft.project.system.domain.SecMenu">
    SELECT * FROM sec_menu sm
    LEFT JOIN sec_menu_member smm
    WHERE smm.MENU_ID = sm.ID_
    AND smm.MENU_ID =  #{roleId}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    SELECT * FROM sec_menu sm where deleted=0 ORDER BY SORT
  </select>
  <!--SELECT * FROM sec_menu WHERE ENABLED=1 AND DELETED = 0 AND MENU_TYPE = 1 AND ID_ IN (-->
  <!--SELECT MENU_ID from sec_menu_member WHERE USER_ID =#{userId}-->
  <!--UNION-->
  <!--SELECT MENU_ID FROM sec_menu_role WHERE ROLE_ID IN (-->
  <!--SELECT ROLE_ID FROM sec_role_member WHERE USER_ID =#{userId}-->
  <!--)-->
  <!--) ORDER BY SORT-->
  <select id="indexMenuTree" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM sec_menu  WHERE ENABLED=1 AND DELETED = 0 AND MENU_TYPE = 1 AND ID_ IN (
        SELECT MENU_ID from sec_menu_member WHERE USER_ID =#{userId}
        UNION ALL
        SELECT MENU_ID FROM sec_menu_role WHERE ROLE_ID IN (
            SELECT ROLE_ID FROM sec_role_member WHERE USER_ID =#{userId}
        )
      )
      ORDER BY SORT
  </select>

  <select id="getMenu" resultMap="BaseResultMap" parameterType="com.yidusoft.project.system.domain.SecMenu">
    SELECT * FROM
    (
    SELECT * FROM sec_menu WHERE ENABLED=1 AND DELETED=0
    <if test="menuCode != null and menuCode != ''">
      AND menu_code LIKE "%"#{menuCode}"%"
    </if>

    <if test="menuName != null and menuName != ''">
      AND menu_name LIKE "%"#{menuName}"%"
    </if>
    <if test="parentId != null and parentId != ''">
      AND parent_id = #{parentId}

      UNION ALL
      SELECT * FROM sec_menu WHERE ENABLED=1 AND DELETED=0 AND ID_=#{parentId}
    </if>
    ) b
    ORDER BY b.sort
  </select>

  <select id="getMenuForAvailable" resultMap="BaseResultMap">
    SELECT * FROM sec_menu  WHERE ENABLED=1 AND DELETED='0' AND MENU_TYPE=1
  </select>

  <select id="findMenuByUser" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM sec_menu WHERE DELETED = 0 AND ID_ IN (
      SELECT MENU_ID from sec_menu_member WHERE USER_ID =#{userId}
      UNION
      SELECT MENU_ID FROM sec_menu_role WHERE ROLE_ID IN (
          SELECT ROLE_ID FROM sec_role_member WHERE USER_ID =#{userId}
      )
    )
  </select>

    <select id="findMenuByUserRole" parameterType="String" resultMap="BaseResultMap">
     SELECT * FROM sec_menu WHERE DELETED = 0 AND ID_ IN (
      SELECT MENU_ID FROM sec_menu_role WHERE ROLE_ID IN (
          SELECT ROLE_ID FROM sec_role_member WHERE USER_ID =#{userId}
      )
    )
  </select>

  <!--查出所有子菜单-->
  <select id="querySort" parameterType="String" resultType="Integer">
    SELECT SORT FROM sec_menu WHERE DELETED = 0 AND PARENT_ID = #{parentId} ORDER BY SORT DESC
  </select>

  <select id="webQuerySort"  parameterType="hashmap" resultType="Integer">
   SELECT sort  FROM   sec_menu       WHERE DELETED = 0 AND PARENT_ID =#{parentId}
  </select>


  <select id="menuToTree" resultMap="BaseResultMap" parameterType="String">
      SELECT * FROM sec_menu WHERE ENABLED=1 AND DELETED='0' AND MENU_TYPE=1 AND ID_ IN (
      SELECT MENU_ID from sec_menu_member WHERE USER_ID =#{userId}
      UNION
      SELECT MENU_ID FROM sec_menu_role WHERE ROLE_ID IN (
          SELECT ROLE_ID FROM sec_role_member WHERE USER_ID =#{userId}
      )
    )
  </select>

  <select id="findMenuAll" resultMap="BaseResultMap" parameterType="String">
    SELECT * FROM sec_menu WHERE ENABLED=1 AND DELETED='0'
    <if test="_parameter!='' and _parameter!=null">
      AND MENU_TYPE=#{_parameter}
    </if>
    ORDER BY SORT
  </select>

  <select id="getChildrenById" parameterType="String" resultType="String">
    SELECT id_ FROM sec_menu sm WHERE sm.deleted=0 AND sm.PARENT_ID=#{id}
  </select>

  <select id="findByMenuName" parameterType="String" resultType="String">
    SELECT menu_name FROM sec_menu WHERE deleted =0 AND  menu_name=#{menuName}
  </select>

  <!--分页带条件的查询-->

  <select id="getQueryAllTotal" resultType="int" parameterType="com.yidusoft.project.system.domain.SecMenuForParameter">
    SELECT count(*)  FROM SEC_MENU WHERE
    DELETED=0
    AND
    ID_ IN
    ( SELECT  MENU_ID  FROM   SEC_MENU_ORG
    WHERE
    ORG_ID=
     (SELECT ID_  FROM    SEC_ORG  WHERE  DELETED=0 AND
      FIND_IN_SET (
        ID_,f_getOrgParent(
    ( SELECT  COMPANY_ID  FROM   sec_user      WHERE ID_=#{userId} AND DELETED=0)))))
    <if test="id != null and id != ''">
      AND  (ID_ = #{id} OR  PARENT_ID =#{id})
    </if>
    <if test="menuCode != null and menuCode != ''">
      AND  MENU_CODE LIKE '%${menuCode}%'
    </if>
    <if test="menuName != null and menuName != ''">
      AND  MENU_NAME LIKE '%${menuName}%'
    </if>
  </select>


  <select id="getQueryAll" resultMap="BaseResultMap" parameterType="com.yidusoft.project.system.domain.SecMenuForParameter">

    SELECT  *  FROM SEC_MENU WHERE
    DELETED=0
    <if test="id != null and id != ''">
      AND  PARENT_ID =#{id}
    </if>
    <if test="menuCode != null and menuCode != ''">
      AND  MENU_CODE LIKE '%${menuCode}%'
    </if>
    <if test="menuName != null and menuName != ''">
      AND  MENU_NAME LIKE '%${menuName}%'
    </if>
    ORDER BY sort
  </select>

  <!--树形结构-->
  <select id="getTree" resultMap="tree_map" parameterType="String">
    SELECT ID_ id,MENU_NAME name,PARENT_ID parentId FROM SEC_MENU WHERE
     DELETED=0 AND ENABLED=1 order by sort

  </select>
</mapper>