<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>问卷预览</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Styles/themes/default/style.css" rel="stylesheet" type="text/css"/>

    <style>
        /*.eui-col-md7 .degree li {*/
        /*margin-right: 20px;*/
        /*}*/
    </style>

</head>
<body>
<div class="questionHeader">
    <input type="hidden" th:value="${#httpServletRequest.getParameter('questionnaireId')}" id="questionnaireId"/>
    <input type="hidden" th:value="${userId}" id="userId"/>
    <input type="hidden" th:value="${visitorTimes}" id="visitorTimes"/>

    <div class="eui-row eui-area">
        <div class="xymfLogo">
            <img src="../../Styles/images/xymfImages/xymf/logo.png" alt="">
            <span th:text="${gaugeName}">11</span><span class="payCentre">-问卷预览</span>
        </div>
    </div>
</div>


<div class="questionContent">
    <div class="eui-area subjectCon">
        <p class="eui-lineHeight24 conetentHint eui-font14">
            下面有<span th:text="${questionnaireQuestionSize}">90</span>道条测试项目，列出了有些人可能会有的问题，请仔细阅读每一条，然后根据最新一星期以内，您的实际感觉，选择适合的答案点击，请注意不要漏题。
        </p>
        <div class="subject">
            <ul id="questionUl">
            </ul>
            <span class="sliderLeft"></span>
            <span class="sliderRight"></span>
            <ol class="sliderNum" id="sliderOl">
                <li th:each="questions : ${questionlist}"></li>

            </ol>
        </div>
    </div>


    <!--<div class="questionSubmit">-->
        <!--<div class="eui-area eui-textAlignR">-->
            <!--<img src="/Styles/images/xymfImages/QRcode.png" width="50" alt="">-->
            <!--<span class="submitBtn" id="submitBtn"><img src="/Styles/images/xymfImages/submit.png"-->
                                                        <!--width="30" alt="">提交问卷</span>-->
        <!--</div>-->

    <!--</div>-->

</div>
<div class="xymfFooter">
    <!-- 底部固定区域 -->
   Copyright © 2018 北京科奥飞科技有限公司 版权所有 京ICP备17072234号
</div>

<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<!-- 评分 -->
<script src="/Scripts/plugins/grade/js/jquery.barrating.js"></script>
<script src="/Scripts/plugins/grade/js/examples.js"></script>

<script th:inline="javascript">

    //获取问题列表
    getQuestionsList();

    var pageIndex = 0;
    var pageSize = $('.subject>ul>li').length;
    var progress = 0;
    var isFirstEnter = true;

    eui.use(['form', 'layedit', 'laydate', 'laypage', 'layer'], function () {
        var form = eui.form
            , layer = eui.layer
            , layedit = eui.layedit
            , laydate = eui.laydate
            , laypage = eui.laypage;
        //全屏模式询问框
        layer.confirm('是否进入全屏模式？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            launchFullscreen(document.documentElement);
            layer.closeAll();
        }, function () {

        });

    });

    // 焦点图---------------------------------------------
    ;(function () {
        $(function () {

            //初始化中执行
            //自动播放
            var timer = null;
            var num = 0;

            var selectOption = $('.subject>ul>li .rating');
            for (var a = 0; a < selectOption.length; a++) {
                selectOption[a].value = '';
            }

            isFirstEnter = false;
            function go() {
                clearInterval(timer);
                timer = setInterval(function () {
                    num++;
                    if (num > pageSize) {
                        num = 0;
                    }
                    $('.subject>ul>li').eq(num).fadeIn().siblings().hide();
                    $('.subject>ol>li').eq(num).addClass('current').siblings().removeClass();
                }, 1000);
            }

            //事件中执行
            //清除动画与左右切换显示
            $('.subject').hover(function (e) {
                //清除动画
                clearInterval(timer);
                //左右切换图标显示
            });
            //角标与左右切换
            $('.subject>ol>li').mouseover(function (e) {
                var index = $(this).index();
                num = index;
                $('.subject>ul>li').eq(index).fadeIn().siblings().hide();
                $(this).addClass('current').siblings().removeClass();
            });
            //左侧点击
            $('.subject .sliderLeft').click(function (e) {
                num--;
                pageIndex--;
                if (num < 0) {
                    num = pageSize;
                    pageIndex = pageSize;
                }
                $('.subject>ul>li').eq(num).fadeIn().siblings().hide();
                $('.subject>ol>li').eq(num).addClass('current').siblings().removeClass();
            });

            eui.use('element', function () {
                var element = element = eui.element;
                element.init(); //这样element对动态生成的元素才会重新有效


                //右侧点击
                $('.subject .sliderRight').click(function (e) {

                    pageIndex++;
                    num++;
                    progress++;

                    if (progress / pageSize * 100 <= 100) {
                        element.progress('demo', Math.floor(num / pageSize * 100) + '%');
                    }

                    if (progress == pageSize - 1) {
                        element.progress('demo', '100%');
                    }
                    if (num > pageSize - 1) {
                        num = 0;
                        pageIndex = 0;
                    }
                    $('.subject>ul>li').eq(num).fadeIn().siblings().hide();
                    $('.subject>ol>li').eq(num).addClass('current').siblings().removeClass();
                });

            });
        })
    })();


    // 拼接问题
    function getQuestionsList() {
        var questionsList = [[${questionlist}]];
        var optionAnswer = [[${optionAnswers}]];
        var scoreList = [[${scoreList}]];
        var contentHtml = '';

        for (var i = 0; i < questionsList.length; i++) {

            contentHtml +=
                '<li>' +
                '<div class="eui-row eui-marginB20">' +
                '<div class="eui-col-md4 contentBar">' +
                '<div class="eui-progress eui-progress-big" e-showpercent="yes" e-filter="demo">' +
                '<div class="eui-progress-bar eui-bg-blue" e-percent="0%"></div>' +
                ' </div>' +
                ' </div>' +
                '<div class="eui-col-md7 eui-font16 eui-marginT20 eui-col-md-offset1">' +
                '<ul class="degree">';
            for (var y in optionAnswer) {
                contentHtml += '<li>' + optionAnswer[y] + '</li>';

            }

            contentHtml += '</ul>' +
                '</div>' +
                '</div>';
            var questions = questionsList[i];
            var scoreIndex = i;
            for (var z = 0; z < questions.length; z++) {
                var scores = scoreList[(scoreIndex * 10 + z)];
                contentHtml += '<div class="eui-row eui-marginB15">' +
                    '<div class="eui-col-md5 eui-textAlignR gradeSubject eui-paddingR20" name="questionContent" questionType="' + questions[z].questionType + '" questionId="' + questions[z].id + '">' +
                    (z + 1) + '.' + questions[z].questionContent +
                    '</div>' +
                    '<div class="eui-col-md7">' +
                    '<div class="grade">' +
                    '<select class="example-0 rating" name="rating">';
                for (var s in scores) {
                    contentHtml += '<option value="' + scores[s] + '"></option>';
                }

                contentHtml += '</select>';
                contentHtml += '</div>' +
                    '</div>' +
                    '</div>' +

                    '</div>';
            }

            contentHtml += '</li>';

        }
        $("#questionUl").append(contentHtml);
        $('#questionUl li').eq(0).addClass('current');
        $('#sliderOl li').eq(0).addClass('current');


    }

    // 判断各种浏览器，找到正确的方法
    function launchFullscreen(element) {

            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }

    }

    //全屏
    function requestFullScreen(element) {
        var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;
        if (requestMethod) {
            requestMethod.call(element);
        } else if (typeof window.ActiveXObject !== "undefined") {
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
        window.parent.hideTopBottom();
    }

</script>
</body>
</html>
