<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.monitor.dao.OperLogMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.monitor.domain.OperLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oper_id" jdbcType="VARCHAR" property="operId" />
    <result column="oper_type" jdbcType="VARCHAR" property="operType" />
    <result column="oper_info" jdbcType="VARCHAR" property="operInfo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
    <result column="oper_ip" jdbcType="VARCHAR" property="operIp" />
    <result column="oper_url" jdbcType="VARCHAR" property="operUrl" />
    <result column="oper_when_long" jdbcType="VARCHAR" property="operWhenLong" />
    <result column="url_type" jdbcType="VARCHAR" property="urlType" />
    <result column="url_method" jdbcType="VARCHAR" property="urlMethod" />
    <result column="url_result" jdbcType="VARCHAR" property="urlResult" />
    <result column="url_param" jdbcType="VARCHAR" property="urlParam" />
    <result column="sessionId" jdbcType="VARCHAR" property="sessionId" />
  </resultMap>

  <select id="operLogListByPage" resultMap="BaseResultMap" parameterType="com.yidusoft.project.monitor.domain.OperLog">
        SELECT
          *
         FROM oper_log
         WHERE 1=1
        <if test="userName!='' and userName!=null">
          AND user_name like '%${userName}%'
        </if>
        <if test="urlParam!='' and urlParam!=null">
          AND url_param like '%${urlParam}%'
        </if>
        <if test="sessionId!='' and sessionId!=null">
          AND sessionId like '%${sessionId}%'
        </if>
        <if test="operInfo!='' and operInfo!=null">
          AND oper_info like '%${operInfo}%'
        </if>
        <if test="urlResult!='' and urlResult!=null">
          AND url_result like '%${urlResult}%'
        </if>
        ORDER BY  oper_time DESC
  </select>
</mapper>