<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户信息</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header(${0})">Header</div>
    <div class="eui-area">
        <div th:replace="project/cube/common/left :: left(${null})">sidebar</div>
        <div class="eui-body">
            <div class="xymfContent">
                <div class="visitorTitle">
                    账户信息
                </div>
                <div class="eui-row eui-padding10 eui-font16">
                    <div class="eui-col-md2">
                        <a href="#" class="eui-textIn">
                            <p class="eui-textNum"><span class=" eui-color-green questionnairesTotal">10</span> 个</p>
                            <p class="name">剩余问卷使用量</p>
                        </a>
                    </div>
                    <div class="eui-col-md2">
                        <a href="#" class="eui-textIn">
                            <p class="eui-textNum"><span class="eui-color-blue" id="buyTotal">2</span> 张</p>
                            <p class="name">购买</p>
                        </a>
                    </div>
                    <div class="eui-col-md2">
                        <a href="#" class="eui-textIn">
                            <p class="eui-textNum"><span class="eui-color-orange" id="useTotal">3</span> 张</p>
                            <p class="name">使用</p>
                        </a>
                    </div>
                </div>
                <div class="eui-margin20">
                    <form id="searchFrom" onsubmit="return false;">
                        <div class="eui-form eui-margin10">
                            <div class="eui-form-item eui-row">
                                <label class="eui-col-md1 eui-marginT10">交易时间</label>
                                <div class="eui-input-inline eui-col-md3">
                                    <input type="text" id="startTime" name="startTime" class="eui-input">
                                </div>
                                <label class="eui-col-md1 eui-marginT10" style="width:28px;">至</label>
                                <div class="eui-input-inline">
                                    <input type="text" id="endTime" name="endTime" class="eui-input">
                                </div>
                                <label class="eui-form-label eui-col-md1">最近</label>
                                <div class="eui-input-inline eui-col-md3 eui-marginT5">
                                    <button class="eui-btn eui-btn-normal eui-btn-small" id="sevenDays">7天</button>
                                    <button class="eui-btn eui-btn-normal eui-btn-small" id="thirtyDays">30天</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="xymfForm eui-padding10">
                    <table class="eui-table eui-form" e-even e-skin="nob" id="accountTable">
                        <colgroup>
                            <col width="50">
                            <col width="100">
                            <col width="200">
                            <col width="100">
                            <col width="100">
                            <col>
                        </colgroup>
                        <thead>
                        <tr align="center">
                            <th><input type="checkbox" e-skin="primary" title=""></th>
                            <th>流水号</th>
                            <th>日期</th>
                            <th>备注</th>
                            <th>购买</th>
                            <th>使用</th>
                            <th>消费</th>
                            <th>剩余使用量</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>
                    <div style="margin-left: 30px;" id="pages" class="pagesbgBlue"></div>
                </div>
            </div>
        </div>
        <div th:replace="project/cube/common/footer :: footer">footer</div>
    </div>
</div>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/cube/header.js" type="text/javascript"></script>
<script type="text/javascript">
    eui.use(['laydate', 'layer'], function () {
        var laydate = eui.laydate, layer = eui.layer;
        //常规用法
        laydate.render({
            elem: '#startTime'
            , format: 'yyyy/MM/dd' //可任意组合
            , done: function (value, date) {
                if (value > $('#endTime').val()) {
                    return layer.alert('亲！开始时间不能大于结束时间哦！');
                }
                doSearch();
            }
        });
        laydate.render({
            elem: '#endTime'
            , format: 'yyyy/MM/dd' //可任意组合
            , done: function (value, date) {
                console.log(date);
                if (value < $('#startTime').val()) {
                    return layer.alert('亲！结束时间不能小于开始时间哦！');
                }
                doSearch();
            }
        });
    })
    $(function () {
        var startTime = new Date();
        startTime = startTime.setDate(startTime.getDate() - 7);
        $('#startTime').val(new Date(startTime).Format("yyyy/MM/dd"));
        $('#endTime').val(new Date().Format("yyyy/MM/dd"));
        doSearch();//初始化表格数据
        getTotal();//获取用户剩余的使用券
        getBuyAndUsed();//获取用户总的购买张数和使用张数
    })


    function doSearch() {
        eui.use(['form', 'laypage', 'layer'], function () {
            var form = eui.form
                    , laypage = eui.laypage
                    , layer = eui.layer,
                    $ = eui.jquery;
            //全选
            form.on('checkbox(allChecked)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });
            var startTime = new Date($('#startTime').val()).Format("yyyy-MM-dd");
            var endTime = new Date($('#endTime').val()).Format("yyyy-MM-dd");
            var index = layer.load(2); //加载
            $.post("/account/info/listPage", {
                page: 1,
                size: 10,
                startTime: startTime,
                endTime: endTime
            }, function (result) {
                console.log(result);
                layer.close(index);
                if (result.code == 200) {
                    // 分页
                    laypage.render({
                        elem: 'pages'
//                        ,pages: result.data.pages
                        , count: result.data.total //数据总数
                        , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                        , skip: true
                        , jump: function (obj, first) {
                            if (first) {
                                //第一次，不需要查询数据
                                var accountList = result.data.list;
                                console.log(accountList);
                                //遍历，拼接表格
                                var tableHtml = getTable(accountList);
                                $("#accountTable tbody").html(tableHtml);
                                form.render('checkbox');
                            } else {
                                $.ajax({
                                    url: "/account/info/listPage",
                                    data: {
                                        page: obj.curr,
                                        size: obj.limit,
                                        startTime: params.startTime,
                                        endTime: params.endTime
                                    },
                                    type: "post",
                                    success: function (result) {
                                        console.log(result);
                                        var accountList = result.data.list;
                                        //遍历，拼接表格
                                        var tableHtml = getTable(accountList);
                                        $("#accountTable tbody").html(tableHtml);
                                        //重新加载复选框
                                        form.render('checkbox');
                                    }
                                });
                            }
                        }
                    });
                } else {
                    layer.msg(result.message, {
                        icon: 2,
                        time: 1500
                    })
                }
            })
        })
    }
    //渲染数据，拼接表格
    function getTable(accountList) {
        var tableHtml = '';
        for (var item in accountList) {
            var account = accountList[item];
            tableHtml += '<tr>' +
                    '<td><input name="" e-skin="primary" class="mycheckbox" type="checkbox"><input name="accountId" type="hidden" value="' + account.id + '"></td>' +
                    '<td>' + account.serialNumber + '</td>' +
                    '<td>' + new Date(account.accountDate).Format("yyyy-MM-dd hh:mm:ss") + '</td>' +
                    '<td>' + account.accountRemarks + '</td>' +
                    '<td>' + account.buyTotal + '</td>' +
                    '<td>' + account.accountTotal + '</td>' +
                    '<td>' + account.costMoney + '</td>' +
                    '<td>' + account.accountSurplus + '张</td>' +
                    '</tr>';

        }
        return tableHtml;
    }

    //获取用户剩余的问卷使用卷
    function getTotal() {
        $.get("/user/questionnaires/list", function (result) {
            if (result.code == 200) {
                if (result.data != null) {
                    $('.questionnairesTotal').html(result.data.questionnairesTotal);
                }
            }
        })
    }

    /**
     * 获取购买和使用的张数
     */
    function getBuyAndUsed() {
        $.get("/account/info/list", function (result) {
            console.log(result);
            if (result.code == 200) {
                var accountList = result.data;
                var buyTotal = 0;
                var usedTotal = 0;
                for (var index in accountList) {
                    var account = accountList[index];
                    if (account.buyTotal != '--') {
                        buyTotal += parseInt(account.buyTotal);
                    }
                    if (account.accountTotal != '--') {
                        usedTotal += parseInt(account.accountTotal);
                    }
                }
                $('#buyTotal').html(buyTotal);
                $('#useTotal').html(usedTotal);
            }
        })
    }

    //最近7天的数据
    $('#sevenDays').click(function () {
        var date = new Date();
        date = date.setDate(date.getDate() - 7);
        $('#startTime').val(new Date(date).Format("yyyy/MM/dd"));
        $('#endTime').val(new Date().Format("yyyy/MM/dd"));
        doSearch();
    })

    //最近30天的数据
    $('#thirtyDays').click(function () {
        var date = new Date();
        date = date.setMonth(date.getMonth() - 1);
        $('#startTime').val(new Date(date).Format("yyyy/MM/dd"));
        $('#endTime').val(new Date().Format("yyyy/MM/dd"));
        doSearch();
    })
</script>
</body>
</html>