<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <style>
        .defaultDiv{width: 100%; border: 1px solid ghostwhite;}
        .formDiv .eui-form-item label{
            width: 80px;
            padding: 9px 20px;
            text-align: left;
        }
        .subBtn{color: white; background: #3f89ec;}

        input[type="button"],[type="submit"]{
            cursor: pointer;
        }
        input[name='userName'],[name='addr']{
            border: 1px solid #1aa194;
        }
    </style>
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header">Header</div>
    <div class="eui-area">
        <div th:replace="project/cube/common/left :: left">sidebar</div>
        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent">
                <div class="defaultDiv">

                        <div class="eui-padding20">
                            <h1 style="display: inline; font-size: 20px;">基本资料</h1>
                        </div>

                        <div style="height: 90px;" class="eui-padding20">
                            <div style="width: 90px; height: 90px; float: left;">
                                <img id="headImg" th:src="${'/files'+session.userSession.headImg+'?t='+'javascript:Math.random()'}" width="90" height="90">
                            </div>

                            <button  style="margin-left: 40px; " type="button"   class="eui-btn eui-btn-small eui-btn-normal" id="upFiles">
                                <i class="eui-icon">&#xe67c;</i>上传图片
                            </button>
                            (只支持图片上传)
                        </div>
                    <!--<p class="eui-padding10"><a style="float: right; height: 30px;"></a></p>-->
                    <form id="userInfoForm" onsubmit="return false;">
                        <input type="hidden" th:value="${session.userSession.headImg}" name="headImg">
                        <div class="formDiv">
                            <input type="hidden" id="id" name="id" th:value="${session.userSession.id}">
                            <div class="eui-form-item">
                                <label class="eui-form-label">账号</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="account" th:value="${session.userSession.account}" readonly="readonly" class="eui-input eui-width400">
                                </div>
                            </div>

                            <div class="eui-form-item">
                                <label class="eui-form-label">用户名</label>
                                <div class="eui-input-inline eui-width400">
                                    <input type="text" name="userName" th:value="${session.userSession.userName}"  class="eui-input eui-width400">
                                </div>
                                <div class="eui-form-mid eui-word-aux"><a id="error0" style="color: red;"></a></div>
                            </div>


                            <div class="eui-form-item">
                                <label class="eui-form-label">手机号</label>
                                <div class="eui-input-inline eui-width400">
                                    <input type="text" name="mobile" th:value="${session.userSession.mobile}" readonly="readonly"  class="eui-input eui-width400">
                                </div>
                                <div class="eui-form-mid eui-word-aux"><a>更改</a></div>
                            </div>

                            <div class="eui-form-item">
                                <label class="eui-form-label">邮箱</label>
                                <div class="eui-input-inline eui-width400">
                                    <input type="text" th:value="${session.userSession.email}" name="email" readonly="readonly"  class="eui-input eui-width400">
                                </div>
                                <div class="eui-form-mid eui-word-aux"><a>更改</a></div>
                            </div>

                            <div class="eui-form-item">
                                <label class="eui-form-label">推广码</label>
                                <div class="eui-input-inline">
                                    <input th:value="${session.userSession.inviterCode}" type="text" name="inviterCode" readonly="readonly"  class="eui-input eui-width400">
                                </div>
                                <div class="eui-form-mid eui-word-aux"></div>
                            </div>

                            <div class="eui-form-item">
                                <label class="eui-form-label">通讯地址</label>
                                <div class="eui-input-inline">
                                    <input th:value="${session.userSession.addr}" type="text" name="addr"   class="eui-input eui-width400">
                                </div>
                                <div class="eui-form-mid eui-word-aux"></div>
                            </div>

                            <div class="eui-form-item">
                                <label class="eui-form-label"></label>
                                <div class="eui-input-inline">
                                    <button   type="submit"   class="eui-btn eui-btn-small eui-btn-normal">
                                        保存修改
                                    </button>
                                </div>
                                <div class="eui-input-inline">
                                    <a id="errcode0"></a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>

</div>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>



<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script>
    eui.use('upload', function(){
        var $ = eui.jquery
            ,upload = eui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upFiles'
            , method: 'post'
            ,data:{
                userId:$("#userInfoForm input[name='id']").val()
            }
            ,field:'file'
            ,url: '/upload/uploadImglayUi'
            ,done: function(res){
                //如果上传失败
                var result=eval("("+res+")");
                console.log(result)
                if(result.code==0){
                    $("#userInfoForm input[name='headImg']").val(result.data.src);
                    $("#headImg").attr('src','/files'+result.data.src+'?t='+ Math.random());
                    $("#left_img_head").attr('src','/files'+result.data.src+'?t='+ Math.random());
                }else{
                    eui.use(['form', 'layedit', 'laydate'], function() {
                        var form = eui.form
                            , layer = eui.layer
                            , laydate = eui.laydate;
                        layedit = eui.layedit
                        layer.msg(result.message);
                    });
                }
            }
            ,error: function(){
            }
        });
    });

    $(function () {
        $("#userInfoForm").validate({
            submitHandler: function() {
                if ($("#userInfoForm input[name='userName']").val()!=''){
                    var obj = $("#userInfoForm").serializeObject();
                    $.post('/user/userUpdate',{json:JSON.stringify(obj)},function (result) {
                        $("#errcode0").html(result.message);
                    });
                }else {
                    $("#error0").html('用户名称不能为空！');
                }

            }
        });
    });
</script>
</body>
</html>