<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.channel.dao.ChannelManageMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.channel.domain.ChannelManage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="linkman_tell" jdbcType="VARCHAR" property="linkmanTell" />
    <result column="linkman_addr" jdbcType="VARCHAR" property="linkmanAddr" />
    <result column="channel_manager" jdbcType="VARCHAR" property="channelManager" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="status" jdbcType="INTEGER" property="status" />

    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />

  </resultMap>

  <select id="finndChannelByParameterList" parameterType="com.yidusoft.project.channel.domain.ChannelManage" resultMap="BaseResultMap">
      SELECT cm.*,
    (SELECT su.ACCOUNT  FROM sec_user su WHERE su.deleted=0 AND su.channel_id=cm.id_ AND su.ACCOUNT_TYPE=2) account
    FROM channel_manage cm WHERE cm.deleted=0

    <if test="status ==2 ">
      AND cm.status=#{status}
    </if>

    <if test="status!=2">
      AND cm.status !=2
    </if>


    <if test="channelName!='' and channelName!=null">
      AND cm.channel_name LIKE  '%${channelName}%'
    </if>

    <if test="linkman!='' and linkman!=null">
      AND cm.linkman LIKE  '%${linkman}%'
    </if>

    <if test="channelManager!='' and channelManager!=null">
      AND cm.channel_manager LIKE  '%${channelManager}%'
    </if>

    <if test="joinStartTime!='' and joinEndTime!=''">
      AND cm.create_time &gt;= #{joinStartTime} AND cm.create_time &lt;= #{joinEndTime}
    </if>

      ORDER BY cm.create_time
  </select>

  <select id="findChannelAccountListByChannelId" parameterType="Map" resultType="java.util.Map">
      SELECT * FROM sec_user WHERE DELETED=0 AND channel_id=#{channel_id}
      <if test="EMAIL!=null and EMAIL!=''">
        AND EMAIL LIKE '%${EMAIL}%'
      </if>
      <if test="USER_NAME!=null and USER_NAME!=''">
        AND USER_NAME LIKE '%${USER_NAME}%'
      </if>
      <if test="MOBILE!=null and MOBILE!=''">
        AND MOBILE LIKE '%${MOBILE}%'
      </if>

    <if test="SEX!=null and SEX!=''">
      AND SEX = #{SEX}
    </if>
  </select>

  <select id="findChannelAccountTree" parameterType="Map" resultType="java.util.Map">
    SELECT b.* FROM(

    SELECT  cm.id_ id,  cm.channel_name name, 0 parentId FROM channel_manage cm WHERE cm.deleted=0 AND cm.`status`=2
    UNION ALL

    SELECT su.ID_ id , su.USER_NAME name, cc.id_ parentId FROM   channel_manage cc

    LEFT JOIN sec_user su  on cc.id_=su.channel_id WHERE su.DELETED=0 AND cc.deleted=0 AND cc.`status`=2
    ) b WHERE 1=1

    <if test="parentId =='one'">
      AND b.parentId=#{channel_id}
    </if>

  </select>

  <select id="findChannelOrAccountCounselorListByParameter" parameterType="Map" resultType="java.util.Map">
     <if test="type == 1">
       SELECT su.ID_, su.ACCOUNT,su.USER_NAME,su.MOBILE,
       (SELECT su1.USER_NAME FROM sec_user su1
       WHERE su1.DELETED=0 AND su1.ID_=#{inviter_user}) inviter_user
       FROM sec_user su
       WHERE su.DELETED=0 AND su.inviter_user=#{inviter_user}

       <if test="ACCOUNT!=null and ACCOUNT!=''">
         AND su.ACCOUNT LIKE '%${ACCOUNT}%'
       </if>
       <if test="USER_NAME!=null and USER_NAME!=''">
         AND su.USER_NAME LIKE '%${USER_NAME}%'
       </if>
       <if test="MOBILE!=null and MOBILE!=''">
         AND su.MOBILE LIKE '%${MOBILE}%'
       </if>

       <if test="inviter_userName!=null and inviter_userName!=''">
         AND su.inviter_user in(
         SELECT uu.ID_ FROM sec_user uu WHERE uu.DELETED=0 AND uu.USER_NAME LIKE '%${inviter_userName}%'
         )
       </if>
     </if>

    <if test="type == 2">

      SELECT su.ID_, su.ACCOUNT,su.USER_NAME,su.MOBILE,
      (
      SELECT su1.USER_NAME FROM sec_user su1
      WHERE su1.DELETED=0 AND su1.ID_
      in (SELECT su2.ID_ FROM sec_user su2 WHERE su2.DELETED=0 AND su2.channel_id=#{channel_id} AND su.inviter_user=su2.ID_)
      ) inviter_user

      FROM sec_user su
      WHERE su.DELETED=0 AND su.inviter_user

      in (SELECT su.ID_ FROM sec_user su WHERE su.DELETED=0 AND su.channel_id=#{channel_id})

      <if test="ACCOUNT!=null and ACCOUNT!=''">
        AND su.ACCOUNT LIKE '%${ACCOUNT}%'
      </if>
      <if test="USER_NAME!=null and USER_NAME!=''">
        AND su.USER_NAME LIKE '%${USER_NAME}%'
      </if>
      <if test="MOBILE!=null and MOBILE!=''">
        AND su.MOBILE LIKE '%${MOBILE}%'
      </if>
      <if test="inviter_userName!=null and inviter_userName!=''">
        AND su.inviter_user in(
        SELECT uu.ID_ FROM sec_user uu WHERE uu.DELETED=0 AND uu.USER_NAME LIKE '%${inviter_userName}%'
        )
      </if>

    </if>

    <if test="type == 3">
      SELECT su.ID_, su.ACCOUNT,su.USER_NAME,su.MOBILE,
      (SELECT su1.USER_NAME FROM sec_user su1
      WHERE su1.DELETED=0 AND su1.ID_=su.inviter_user) inviter_user
      FROM sec_user su
      WHERE su.DELETED=0 AND  su.ACCOUNT_TYPE='1'

      <if test="ACCOUNT!=null and ACCOUNT!=''">
        AND su.ACCOUNT LIKE '%${ACCOUNT}%'
      </if>
      <if test="USER_NAME!=null and USER_NAME!=''">
        AND su.USER_NAME LIKE '%${USER_NAME}%'
      </if>
      <if test="MOBILE!=null and MOBILE!=''">
        AND su.MOBILE LIKE '%${MOBILE}%'
      </if>

      <if test="inviter_userName!=null and inviter_userName!=''">
        AND su.inviter_user in(
            SELECT uu.ID_ FROM sec_user uu WHERE uu.DELETED=0 AND uu.USER_NAME LIKE '%${inviter_userName}%'
        )
      </if>

    </if>


  </select>

  <!--查找未通过认证的咨询师-->
  <select id="findNotCertificationUser" parameterType="Map" resultType="java.util.Map">
    SELECT * FROM sec_user su WHERE
        su.STATUS = 1
          AND su.DELETED = 0
          AND su.ACCOUNT_TYPE = 1
          AND su.certification_status = 0
            <if test="account != null and account != ''">
                AND su.account LIKE "%${account}%"
             </if>

    <if test="userName != null and userName != ''">
      AND  su.user_name LIKE "%${userName}%"
    </if>

    <if test="mobile != null and mobile != ''">
      AND su.mobile LIKE "%${mobile}%"
    </if>

  </select>
</mapper>