<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.channel.dao.ClearingManageMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.channel.domain.ClearingManage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="clear_id" jdbcType="VARCHAR" property="clearId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="brokerage" jdbcType="DECIMAL" property="brokerage" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <select id="findHasClearingByChannelCounselorId"  resultType="Map">
      SELECT b.* FROM (
      SELECT cm.*,oo.order_money,oo.order_code,oo.creator consultant_name ,
        (SELECT channel_name FROM channel_manage WHERE id_=cm.channel_id) channel_name,
        ar.rule,ar.rule_name,oo.user_id,oo.order_state,
      (SELECT su.USER_NAME FROM sec_user su WHERE su.ID_=(SELECT su.inviter_user FROM sec_user su WHERE su.ID_=oo.user_id))  referrer
         FROM clearing_manage cm LEFT JOIN order_online oo ON oo.ID_=cm.order_id LEFT JOIN account_rule ar ON ar.rule_id=cm.rule_id

      ) b WHERE b.order_state=1


          <if test="map.create_time != '' and map.create_time!=null">
              AND b.status =#{map.status}
          </if>

        <if test="null != ids">
          AND b.user_id in
          <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>

        <if test="map.startTime != '' and map.endTime!=null">
          AND b.create_time  &gt;  #{map.startTime} AND b.create_time  &lt;  #{map.endTime}
        </if>

          <if test="map.status != '' and map.status!=null">
              AND b.status =#{map.status}
          </if>

        <if test="map.creator != null and map.creator!=''">
          AND b.creator LIKE '%${map.creator}%'
        </if>
      ORDER BY b.create_time DESC
  </select>
    <select id="findAllChannelLineChart" parameterType="java.util.Map" resultType="Map">

    </select>

    <select id="findChannelAccountLineChart"  resultType="Map">
     SELECT date_format(cm.create_time, '%Y-%m') AS create_time,  sum(cm.brokerage) AS brokerage,
            (
                SELECT max(maxY) maxY FROM(
                SELECT  sum(cm.brokerage) maxY  FROM clearing_manage cm WHERE 1=1
                <if test="map.channel_id != null and map.channel_id!=''">
                    AND  cm.channel_id=#{map.channel_id} AND cm.`status`=2
                </if>
                GROUP BY  date_format(cm.create_time, '%Y-%m')
            ) v
        ) maxY

     FROM clearing_manage cm LEFT JOIN order_online oo ON cm.order_id=oo.ID_ WHERE 1=1
    <if test="map.channel_id != null and map.channel_id!=''">
        AND  cm.channel_id=#{map.channel_id} AND cm.`status`=2
    </if>


    <if test="null != ids">
        AND oo.user_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>

        GROUP BY  date_format(cm.create_time, '%Y-%m')
    </select>
</mapper>