<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../Styles/themes/default/style.css" media="all">
    <style>
        #activityNewForm input + label, select + label, textarea + label {
            color: red;
        }
        .eui-disabled, .eui-disabled:hover {
            color: #333333 !important;
        }
        .eui-form-label {
            width: 100px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="eui-bg-white eui-row eui-paddingT10" th:object="${activity}">
    <!--<div class="eui-row eui-padding10 eui-borderB">
        <div class="eui-col-md10 eui-font18 eui-lineHeight30" th:if="*{activityStatus==1}">
            <i class='eui-icon eui-font24'></i> 调研活动审批
        </div>
        <div class="eui-col-md10 eui-font18 eui-lineHeight30" th:if="*{activityStatus==2}">
            <i class='eui-icon eui-font24'></i> 查看调研活动
        </div>
    </div>-->
    <form class="eui-form eui-marginT10 eui-paddingR10" id="activityNewForm">
        <input type="hidden" id="activityId" name="id" th:value="*{id}"/>
        <input type="hidden" id="activityStatus" th:value="*{activityStatus}"/>
        <input type="hidden" id="uestionnaireId" th:value="*{uestionnaireId}"/>
        <div class="eui-form-item">
            <label class="eui-form-label">活动名称</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" readonly th:value="*{activityName}">
            </div>
            <label class="eui-form-label">联系人</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" name="contacts" readonly th:value="*{contacts}">
            </div>
            <label class="eui-form-label">参与方</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" readonly e-verify="title"
                       autocomplete="off" th:value="*{participant}">
            </div>
        </div>
        <div data-toggle="distpicker">
            <div class="eui-form-item">
                <label class="eui-form-label">活动地点</label>
                <div id="ld" data-toggle="distpicker">
                    <div class="eui-input-inline">
                        <select id="province" class="eui-input" name="province" disabled>

                        </select>
                    </div>
                    <div class="eui-input-inline">
                        <select id="city" class="eui-input" name="city" disabled>

                        </select>
                    </div>
                    <div class="eui-input-inline">
                        <select id="district" class="eui-input" name="district" disabled>

                        </select>
                    </div>
                </div>
                <div class="eui-input-inline">
                    <input type="text" name="activityAddr" th:value="*{activityAddr}" placeholder="具体地址"
                           class="eui-input"
                           style="width: 250px;">
                </div>
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">问卷名</label>
            <div class="eui-input-inline">
                <select name="uestionnaireId" disabled>
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="eui-form-label">联系电话</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" readonly th:value="*{phone}">
            </div>
            <label class="eui-form-label">活动人数</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" name="activityTotal" readonly th:value="*{activityTotal}">
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">开始时间</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" th:value="*{activityStart}" id="activityStart" readonly>
            </div>
            <label class="eui-form-label">结束时间</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" th:value="*{activityEnd}" id="activityEnd" readonly>
            </div>
        </div>
        <div class="eui-form-item" id="showOrHide">
            <label class="eui-form-label">活动邀请码</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" th:value="*{activityPorn}" readonly>
            </div>
            <label class="eui-form-label">活动访问网址</label>
            <div class="eui-input-inline">
                <input type="text" class="eui-input" id="url" readonly th:value="*{uestionnaireUri}">
            </div>
            <div class="eui-input-inline">
                <a href="#" class="eui-btn" id="copyBtn">复制链接</a>
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">活动目的</label>
            <div class="eui-input-block">
                <textarea class="eui-input" style="height: 100px;width: 810px" name="activityAim"
                          th:text="*{activityAim}" readonly>
                </textarea>
            </div>
        </div>
        <div class="eui-textAlignC eui-bg-white eui-padding20" th:if="*{activityStatus==1}">
                <a href="javascript:void(0)" onclick="approval()" class="eui-btn eui-btn-big confirm">
                    <img src="/Styles/images/xymfImages/submit.png" width="24" alt=""> 通过审批 </a>
        </div>
    </form>
    <div class="eui-bg-white eui-padding20" th:if="*{InitiatorType==1 or activityStatus==2}">
        <div class="eui-bg-white eui-padding20">
            <div class="eui-row eui-paddingB10 eui-borderB eui-marginB20">
                <div class="eui-col-md12 eui-font16">活动进度</div>
            </div>
            <div class="eui-progress eui-progress-big" e-showpercent="yes" e-filter="activity">
                <div class="eui-progress-bar eui-bg-green"></div>
            </div>
        </div>
        <div class="eui-bg-white eui-padding20">
            <div class="eui-row eui-paddingB10 eui-borderB eui-marginB20">
                <div class="eui-col-md12 eui-font16">填报人信息</div>
            </div>
            <div class="eui-row">
                <div class="eui-col-md12">
                    <div class="eui-form">
                        <table class="eui-table" id="participantTable">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <thead>
                            <th>姓名</th>
                            <th>手机号码</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>填报时间</th>
                            <th>关注度</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div id="pages" style="text-align:right;" class="pagesBg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/plugins/jqueryZclip/jquery.zclip.min.js"></script>
<script src="/Scripts/plugins/distpicker.data.js"></script>
<script src="/Scripts/plugins/distpicker.js"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/pack.ajax.js"></script>
<script src="/card.js"></script>
<script>
    var form, laypage, layer, element;
    $(function () {
        $('#copyBtn').zclip({
            path: "/Scripts/plugins/jqueryZclip/ZeroClipboard.swf",
            copy: function () {
                return $('#url').val();
            }
        });
        eui.use(['form', 'laypage', 'layer', 'element'], function () {
            form = eui.form;
            laypage = eui.laypage;
            layer = eui.layer;
            element = eui.element;
            getQuestions();//获取问卷名称
            getActivityInfo();//获取填报人的信息
        });
    });

    $(function () {
        var address = $('input[name="activityAddr"]').val();
        var city = address.substring(address.indexOf("-") + 1, find(address, '-', 1));
        var province = address.substring(0, address.indexOf("-"));
        var district = address.substring(find(address, '-', 1) + 1, find(address, '-', 2))
        address = address.substring(find(address, '-', 2) + 1, address.length);
        $('input[name="activityAddr"]').val(address);
        $('#province').val(province);
        $('#province').trigger("change");

        $('#city').val(city);
        $('#city').trigger("change");

        $('#district').val(district);
        $('#district').trigger("change");
        $('#activityStart').val(new Date($('#activityStart').val()).Format("yyyy-MM-dd hh:mm:ss"));
        $('#activityEnd').val(new Date($('#activityEnd').val()).Format("yyyy-MM-dd hh:mm:ss"));


        if ($('#activityStatus').val() == 1) {
            $('#showOrHide').hide();
        }
        getTotal();
    })

    //获取填报人的信息
    function getActivityInfo() {
        var index = layer.load(2); //加载
        $.post("/active/participant/list", {activityId: $('#activityId').val(), page: 1, size: 5}, function (result) {
            console.log(result);
            laypage.render({
                elem: 'pages'
                , count: result.data.total //数据总数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                , skip: true
                , theme: '#1E9FFF'
                , jump: function (obj, first) {
                    if (first) {
                        //第一次，不需要查询数据
                        var participantList = result.data.list;
                        //遍历，拼接表格
                        var tableHtml = getTable(participantList);
                        $("#participantTable tbody").html(tableHtml);
                    } else {
                        $.post("/active/participant/list", {
                            activityId: $('#id').val(),
                            page: obj.curr,
                            size: obj.limit
                        }, function (result) {
                            var participantList = result.data.list;
                            //遍历，拼接表格
                            var tableHtml = getTable(participantList);
                            $("#participantTable tbody").html(tableHtml);
                        })
                    }
                    layer.close(index);
                }
            });
        })
    }

    //拼接表格
    function getTable(participantList) {
        var tableHtml = '';
        for (var item in participantList) {
            var participant = participantList[item];
            var sex = '男';
            if (participant.sex == 0) {
                sex = '女';
            }
            var id = "'" + participant.id + "'";
            var createTime = "'" + new Date(participant.fillingTime).Format("yyyy-MM-dd") + "'";
            tableHtml += '<tr>' +
                    '<td>' + participant.fullName + '</td>' +
                    '<td>' + participant.phone + '</td>' +
                    '<td>' + sex + '</td>' +
                    '<td>' + participant.age + '</td>' +
                    '<td>' + new Date(participant.fillingTime).Format("yyyy-MM-dd hh:mm:ss") + '</td>' +
                    '<td><button class="eui-btn eui-btn-primary eui-btn-mini" title="查看填报详情" onclick="check(' + id + ',' + createTime + ')"><i class="eui-icon">&#xe621;</i></button></td>' +
                    '</tr>';
        }
        return tableHtml;
    }

    function approval() {
        layer.confirm('确认通过么？',{
            btn:['确认','取消']
        },function () {
            $('.confirm').text("正在审批...")
            $('.confirm').attr("disabled", true);
            $.post("/launch/activities/approval", {id: $('#activityId').val()}, function (res) {
                console.log(res);
                if (res.code = 200) {
                    layer.msg("操作成功",{
                        icon: 1,
                        time: 2000,
                    })
                    setTimeout(function () {
                        parent.element.tabDelete("nav-tab", 10003);
                    },2000)
                } else {
                    layer.msg(res.message,{
                        icon: 2,
                        time: 2000,
                    })
                    $('.confirm').text("通过审批")
                    $('.confirm').removeAttr("disabled");
                }
            })
        })
    }

    function check(userId, createTime) {
        console.log(createTime);
        $.post("/data/acquisition/findQuestionnaireForVisitor", {
            "userId": userId,
            "createTime": createTime
        }, function (result) {
            console.log(result);
            if (result.code == 200) {
                var question = result.data[0];
                var acquisitionId = question.id;
                var userId = question.userId;
                window.open("/web/cube/getQuestionnaireForVisitor?questionnaireId="+$('#uestionnaireId').val()+"&userId="+userId+"&acquisitionId="+acquisitionId);
            }
        })
    }

    function find(str, cha, num) {
        var x = str.indexOf(cha);
        for (var i = 0; i < num; i++) {
            x = str.indexOf(cha, x + 1);
        }
        return x;
    }

    /**
     * 获取问卷名称
     */
    function getQuestions() {
        $.get("/questionnaire/getQuestionnaireByState", function (result) {
            console.log(result);
            if (result.code == 200) {
                for (var i in result.data) {
                    var questionnaire = result.data[i];
                    $('select[name="uestionnaireId"]').append('<option value="' + questionnaire.id + '">' + questionnaire.questionnaireName + '</option>')
                }
                $('select[name="uestionnaireId"]').children().each(function (i,data) {
                    if($('#uestionnaireId').val() == data.value){
                        $(this).attr("selected",true);
                    }
                })
                form.render('select');
            }
        })
    }

    /**
     * 获取已经填报的人数
     */
    function getTotal() {
        $.post("/active/participant/getTotal", {activityId: $('#activityId').val()}, function (result) {
            if(result.code=200){
                console.log($('input[name="activityTotal"]').val());
                console.log(result.data/$('input[name="activityTotal"]').val());
                var progressBar = (result.data/$('input[name="activityTotal"]').val())*100;
                progressBar = progressBar+"%";
                console.log(progressBar);
                setTimeout(function () {
                    element.progress('activity', progressBar);
                },1000);
            }
        })
    }
</script>
</body>
</html>