@charset "utf-8";

/*登录页面*/
.logo{
    width:100%;
    background:#fff;
    text-align: left;
    padding: 20px 0;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
}
.copyright{
    width:100%;
    background:#fff;
    text-align: center;
    padding: 25px 0;
    position:fixed;
    left:0;
    bottom:0;
    z-index:99;
}
.Login{
    width: 100%;
    height:100%;
    display:block;
    text-align: center;
    background: #1e9eff;
    position: fixed;
    left: 0;
    top: 0;
    background-size: cover;
}
.loginImg{
    width: 380px;
    height: 400px;
    position: fixed;
    right:55%;
    top:50%;
    margin-top: -200px;
}
.loginImg img{
    width:95%;
}


.loginIn{
    width: 380px;
    height: 390px;
    background: #ffffff;
    position: fixed;
    left:55%;
    top:50%;
    margin-top: -195px;
    border-radius:5px;
    box-shadow: 0 4px 30px #04528e;
}
.login1{
    padding: 10px;
}
.login1>h3{
    font-size: 26px;
    font-family: "宋体";
    font-weight:bold;
    color:#1e9eff;
    margin:12px;
}
.login1>p{
    width: 280px;
    height: 42px;
    padding-left:20px;
    border-radius:2px;
    margin:0 auto;
    margin-bottom:20px;
    box-shadow: 0 5px 8px #dcf0ff;
}
.login1 p input{
    width: 260px;
    height: 42px;
    line-height: 42px;
    color:#666;
    float: right;
    border:none;
}
.loginTxt{
    background: url(images/account.png) no-repeat 8px center;
}
.signTxt{
    background: url(images/mobile.png) no-repeat 8px center;
}
.loginPword{
    background: url(images/password.png) no-repeat 8px center;
}
.loginVerifCode{
    background: url(images/verifcode.png) no-repeat 8px center;
}


.loginB{
    display:inline-block;
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(to right, #36d1dc , #5b86e5);
    border-radius:25px;
    color:#fff;
    border: none;
    cursor: pointer;
}
.loginB:hover{
    color:#fff;
}

.login1 .eui-form{
    width: 242px;
    margin:0 0 10px 60px;
}

.loginForget{
    text-align:right;
    padding:0 30px;
    color:#eee;
    margin-bottom:10px;
}
.loginForget a{color:#999;}
.loginForget .register{
    float: left;
}
.loginO{
    color:#999;
    font-size: 12px;
    line-height: 24px;
    margin-top: 10px;
}
.loginOther{
    margin-top: 5px;
}


.loginimg{width: 64px;height: 64px;position: absolute;right:0;top:0;cursor: pointer;}

.login2{
    position: absolute;
    left:50px;
    top:40px;
}

.eui-security{
    height:38px;
    margin-bottom:20px;
}
.eui-security .securityCode{
    width:180px;
    float: left;
    border: none;
    box-shadow: 0 5px 8px #dcf0ff;
}
.eui-security .securityImg{
    float: right;
    cursor: pointer;
    box-shadow: 0 5px 8px #dcf0ff;
}

.securityBut{
    float: right;
    box-shadow: 0 5px 8px #dcf0ff;
    border:none;
}
.securityBut:hover{
    border:none;
}

.loginTips{
    color: red;
}
.sign_dig{
    width: 400px;
    height: 476px;
    background: #ffffff;
    position: fixed;
    left: 55%;
    top: 50%;
    margin-top: -238px;
    border-radius: 5px;
    box-shadow: 0 4px 30px #04528e;
}

.sign_dig .login1 #signForm>p {
    width: 280px;
    height: 42px;
    padding-left: 20px;
    box-shadow: 0 5px 8px #dcf0ff;
    border-radius: 2px;
    margin: 0px auto;
    margin-bottom: 20px;
}
.sign_dig .login1 #signForm  p input {
    width: 250px;
    height: 42px;
    line-height: 42px;
    color: #666;
    border: none;
}
.sign_dig .loginForget{
    padding: 0 40px;
}

/* 登录页面样式end */


