<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>心云魔方</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link rel="stylesheet"  th:href="@{/Styles/themes/default/style.css}"   media="all">
    <link rel="stylesheet"  th:href="@{/Styles/themes/default/modules/pageLogin/login-base/login.css}"   media="all">
</head>
<body>
<div  class="Login"></div>
</body>
</html>
