<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>心云魔方</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <link rel="stylesheet" th:href="@{/Styles/themes/default/modules/pageLogin/login-base/login.css}" media="all">
</head>
<body>
<div class="Login loginDiv">
    <div class="logo">
        <div class="eui-container">
            <img src="/Styles/images/xymfImages/xymf/logo.png" alt="">
        </div>
    </div>
    <div class="loginImg">
        <img src="/Styles/images/loginImg.png" alt="">
    </div>
    <div class="loginIn">
        <div id="login1" class="login1">
            <h3>login</h3>
            <p class="loginTxt"><input type="text" th:value="${account}" id="username" placeholder="请输入手机号"/></p>
            <p class="loginPword"><input type="password" id="password" placeholder="请输入登录密码"/></p>
            <input type="hidden" name="loginType" value="account"/><!--首选登录方式为账号登录-->
            <div style="margin: 10px auto; width: 300px;" class="eui-form">
                <div class="eui-security">
                    <input name="vrifyCode" id="vrifyCode" type="text" placeholder="请输入验证码" autocomplete="off"
                           class="eui-input eui-input-inline  securityCode" value="">
                    <span class="securityImg">
                        <img onclick="this.src='/sign/imgcode?d='+new Date()*1" src="/sign/imgcode" width="95"
                             alt=""></span>
                </div>
            </div>
            <div class="loginForget"><a class="register" onclick="showSignDiv();">还没有账号？</a><a target="_blank"
                                                                                               href="/sign/forgetpassword">忘记密码？</a>
            </div>
            <div style="height: 30px;">
                <span th:text="${msg}" class="loginTips"></span>
            </div>

            <a class="loginB" href="###" onclick="login()">登 录</a>
        </div>
        <div id="login2" class="login2">
            <!--<img th:src="@{/Styles/themes/default/module/login/login-base/images/code.png}" alt="">-->
            <p>请扫码登录</p>
        </div>
        <!--  <div id="loginImg" class="loginimg"><img id="img1" th:src="@{/Styles/themes/default/module/login/login-base/images/QRcode.png}" alt=""></div>-->
    </div>
    <div class="copyright">
        <div class="eui-container">
            Copyright © 2018 北京科奥飞科技有限公司 版权所有 京ICP备17072234号
        </div>
    </div>
</div>

<div style="display: none;" class="sign Login">
    <div class="logo">
        <div class="eui-container">
            <img src="/Styles/images/xymfImages/xymf/logo.png" alt="">
        </div>
    </div>
    <div class="loginImg">
        <img src="/Styles/images/loginImg.png" alt="">
    </div>
    <div class="sign_dig">
        <div class="login1">
            <h3 style="text-align: center">register</h3>
            <form id="signForm" onsubmit="return false;">
                <p class="signTxt"><input id="mobile" name="account" type="text" placeholder="手机号码"/>
                </p>
                <input type="hidden" value="1" name="accountType"/>
                <div style="margin: 10px auto; width: 300px;" class="eui-form">
                    <div class="eui-security">
                        <input name="vrifyCode" id="vrifyCodeIn" type="text" placeholder="请输入图形验证码" autocomplete="off"
                               class="eui-input eui-input-inline  securityCode" value="">
                        <span class="securityImg">
                        <img onclick="this.src='/sign/imgcode?d='+new Date()*1" src="/sign/imgcode" width="95"
                             alt=""></span>
                    </div>
                </div>

                <div style="margin: 10px auto; width: 300px;" class="eui-form">
                    <div class="eui-security">
                        <input name="msgCode" type="text" placeholder="请输入手机验证码" autocomplete="off"
                               class="eui-input  eui-input-inline  securityCode" value="">
                        <button disabled="disabled" onclick="sendMsgCode(this)" id="btnSendCode"
                                type="button" class="eui-btn eui-btn-primary  securityBut eui-btn-disabled">点击获取
                        </button>
                    </div>
                </div>

                <p class="loginPword"><input id="userPass" type="password" name="userPass" placeholder="密码"/></p>
                <p class="loginPword"><input type="password" name="newPass" placeholder="确认密码"/></p>

                <div class="loginForget"><a style="float: left;" class="register" onclick="showLoginDiv();">返回登录</a>
                    <a target="_blank" href="/sign/channelin">渠道入驻</a></div>
                <div id="errorInfo" style="height: 30px;">

                </div>
                <button type="submit" class="loginB">注册</button>
            </form>
        </div>
    </div>
    <div class="copyright">
        <div class="eui-container">
            Copyright © 2018 北京科奥飞科技有限公司 版权所有 京ICP备17072234号
        </div>
    </div>
</div>

<!-- 用户登录信息 end-->
<script th:src="@{/Scripts/module/eui.js}" charset="utf-8"></script>
<script th:src="@{/Scripts/jquery-1.9.0.min.js}" charset="utf-8"></script>
<script th:src="@{/Scripts/plugins/md5/md5.min.js}" charset="utf-8"></script>
<script th:src="@{/Scripts/plugins/jquery.validate.js}" charset="utf-8"></script>
<script th:src="@{/pack.ajax.js}" charset="utf-8"></script>

<script type="text/javascript">

    var InterValObj; //timer变量，控制时间
    var count = 100; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    $(function () {
        if(top.location!==self.location){
            top.location.href=self.location.href;
        }
        $("#password,#username,#vrifyCode").keydown(function(e) {
            if (e.keyCode == 13) {
                login();
            }
        });
    });

    function sendMsgCode(o) {
        if ($("#vrifyCodeIn").val()!=''){
            var mobile = $("#mobile").val();
            curCount = count;
            $(o).attr('disabled','true');

            $.ajax({
                url:'/sign/code',
                type:"post",
                data:{
                    mobile:mobile,
                    vrifyCode:$("#vrifyCodeIn").val(),
                    templateType:'用户注册'
                },
                dataType:"json",
                success:function(data){
                    if(data.code ==200) {
                        $("#errorInfo").html('');
                        $("#errorInfo").append('<span style="color: red;font-size: 14px; ">'+data.message+'</span>');
                        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                    }else {
                        $("#errorInfo").html('');
                        $("#errorInfo").append('<span style="color: red;font-size: 14px; ">'+data.message+'</span>');
                        $(o).removeAttr('disabled');
                    }
                }
            });
        }else {
            layer.msg('请填写图形验证码');
        }
    }

    function sign() {
        var obj = $("#signForm").serializeObject();
        obj.userPass=md5(obj.userPass);
        obj.newPass=md5(obj.newPass);
        $.ajax({
            url:'/sign',
            type:"post",
            data:{
                json:JSON.stringify(obj)
            },
            dataType:"json",
            success:function(resule){
                if (resule.code == 200){
                    $("#errorInfo").html('')
                    $("#errorInfo").append('<span style="color: green;font-size: 14px;">注册成功</span>');
                    window.open('/sign/perfact/info?d='+resule.data.id);
                }else {
                    $("#errorInfo").html('')
                    $("#errorInfo").append('<span style="color: red;font-size: 14px;">'+resule.message+'</span>');
                }
            }
        });
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").html("点击获取");
        }
        else {
            curCount--;
            $("#btnSendCode").html('倒计'+curCount+'秒');
        }
    }

    function showLoginDiv() {
        $(".loginDiv").show();
        $(".sign").hide();
    }

    function showSignDiv() {
        $(".loginDiv").hide();
        $(".sign").show();
        $.validator.setDefaults({
            errorPlacement : function(error, element) {//error为错误提示对象，element为出错的组件对象
                $("#errorInfo").html('');
                $("#errorInfo").append('<span style="color: red;font-size: 14px; ">'+error[0].innerHTML+'</span>');
            }
        });
        // 手机号码验证
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");

        $("#signForm").validate({
            rules: {
                account: {
                    required : true,
                    minlength : 11,
                    isMobile : true
                },
                msgCode:"required",
                userPass: {
                    required: true,
                },
                newPass: {
                    required: true,
                    equalTo: "#userPass"
                }
            },
            messages: {
                account: {
                    required : "请输入手机号",
                    minlength : "确认手机不能小于11个字符",
                    isMobile : "请正确填写您的手机号码"
                },
                msgCode: "请输入验证码",
                userPass: {
                    required: "请输入密码",
                },
                newPass: {
                    required: "请输入确认密码",
                    equalTo: "两次输入密码不一致"
                }
            },
            showErrors : function(errorMap, errorList) {
                // 遍历错误列表
                for(var obj in errorMap) {
                   if (obj == 'account'){
                       $("#btnSendCode").attr('disabled','true')
                           .css("background","")
                           .css("color","#ce6197").addClass('eui-btn-disabled');
                   }
                }
                // 此处注意，一定要调用默认方法，这样保证提示消息的默认效果
                this.defaultShowErrors();
            },
            success:function(label) {
                if (label[0].htmlFor == 'mobile'){
                    $.post('/sign/check/phone',{mobile:$("#mobile").val()},function (resule) {
                        if (resule.code == 200){
                            $("#btnSendCode").removeAttr('disabled')
                                .css("background","#7dbbfa").css("color","#fff").removeClass('eui-btn-disabled');
                        }else {
                            layer.msg("该手机号码已存在，请换一个试试！");
                            $("#btnSendCode").attr('disabled','true')
                                .css("background","")
                                .addClass('eui-btn-disabled');
                        }
                    });
                }
            },
            submitHandler: function() {
                sign();
            }
        });

    }
    //登录配置，将名称传入首页
function login() {
    //var type = document.getElementById("userType").value;
    var type = "系统管理员";
    var username = document.getElementById("username").value;
//    $("#password").val(md5($("#password").val()));
    var password = md5(document.getElementById("password").value);
    var parames = new Array();
    parames.push({ name: "username", value: username.trim()});
    parames.push({ name: "password", value:password.trim()});
    parames.push({ name: "type", value:type.trim()});
    parames.push({ name: "vrifyCode", value:$("#vrifyCode").val().trim()});

    Post("/login", parames);
   };

eui.use(['form', 'layedit', 'laydate'], function(){
  var form = eui.form
  ,layer = eui.layer
  ,layedit = eui.layedit
  ,laydate = eui.laydate;

  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [/(.+){6,12}$/, '密码必须6到12位']
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });

});

// 登录的切换
var oImg = document.getElementById('img1');
var oLoginImg = document.getElementById('loginImg');
var oLogin1 = document.getElementById('login1');
var oLogin2 = document.getElementById('login2');
var onOff = true;
oLogin2.style.display = 'none';

//oLoginImg.onclick = function (){
//    if (onOff) {
//            oImg.src = '../Styles/themes/default/module/login/login-base/images/pc.png';
//            oLogin1.style.display = 'none';
//            oLogin2.style.display = 'block';
//            onOff = false;
//        } else {
//            oImg.src = '../Styles/themes/default/module/login/login-base/images/QRcode.png';
//            oLogin1.style.display = 'block';
//            oLogin2.style.display = 'none';
//            onOff = true;
//        }
//};
    /*
     *功能： 模拟form表单的提交
     *参数： URL 跳转地址 PARAMTERS 参数
     */
    function Post(URL, PARAMTERS) {
        //创建form表单
        var temp_form = document.createElement("form");
        temp_form.action = URL;
        //如需打开新窗口，form的target属性要设置为'_blank'
        temp_form.target = "_self";
        temp_form.method = "post";
        temp_form.style.display = "none";
        //添加参数
        for (var item in PARAMTERS) {
            var opt = document.createElement("textarea");
            opt.name = PARAMTERS[item].name;
            opt.value = PARAMTERS[item].value;
            temp_form.appendChild(opt);
        }
        document.body.appendChild(temp_form);
        //提交数据
        temp_form.submit();
    }

</script>
</body>
</html>
