<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>来访者咨询管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Styles/themes/default/style.css" rel="stylesheet" type="text/css" />
    <style>
        /*input[type='text']{height: 30px; line-height: 30px;}*/
        .eui-form-label{padding: 5px 15px;}
        .eui-btn-smallmin {
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            font-size: 12px;
        }
        .error{color: red;font-size: 12px;}
        .consultSheet .eui-icon {
           background: none;
        }
        #shaftTime  li{cursor: pointer;}

        .customerList .line{cursor: pointer;}

        .customerList .line:hover{
            background: #f7f5f6;
        }

        #DivAddForm textarea + label{color: red;}
        .tb{cursor: pointer;margin-left: 15px;}

        .ci-count {
            position: absolute;
            top: 25px;
            left: 20px;
            right: auto;
            display: inline-block;
            padding: 1px;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
            /*background-color: #35a9ff;*/
            -moz-border-radius: 7px;
            border-radius: 7px;
            min-width: 12px;
            text-align: center;
        }
        .ci-guide {
            position: absolute;
            top: 0px;
            left: 130px;
            right: auto;
            display: inline-block;
            padding: 1px;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
            /*background-color: #35a9ff;*/
            -moz-border-radius: 7px;
            border-radius: 7px;
            min-width: 12px;
            text-align: center;
        }
    </style>
</head>
<body class="questionBody">
<div class="questionHeader">
    <div class="eui-row eui-area">
        <div class="xymfLogo eui-col-md6">
            <img src="../../Styles/images/xymfImages/xymf/logo.png" alt="">
            <span class="payCentre">来访者咨询管理</span>
        </div>
        <div class="eui-col-md6 eui-textAlignR">
            <span onclick="resetCustomer()" class="eui-btn switch eui-btn-big eui-btn-normal"><img src="../../Styles/images/xymfImages/switch.png" alt=""/> 切换来访者</span>
        </div>
    </div>
</div>

<div class="visitorContent xymfMargin visitorInCon">
    <div class="eui-area">
        <div class="eui-area eui-bd eui-paddingT0">
            <div style="width: 200px;" class="eui-sd1 eui-sd1-type1 visitorLeft">
                <div class="eui-row personage1">
                    <div class="eui-col-md10">
                        <th:block th:if="${visitorRegister.sex==0}">
                            <img src="/Styles/images/xymfImages/woman-white.png" width="30" alt="">&nbsp;&nbsp;
                        </th:block>
                        <th:block th:if="${visitorRegister.sex==1}">
                            <img src="/Styles/images/xymfImages/man-white.png" width="30" alt="">&nbsp;&nbsp;
                        </th:block>
                        <a target="_blank" th:text="${visitorRegister.visitorName}"
                           th:href="'/web/customer/customerinfodetail?id='+${visitorRegister.id}" class="eui-color-blue"></a>
                    </div>
                    <div class="eui-col-md2 eui-textAlignR eui-marginT5">
                        <a target="_blank" th:href="'/web/customer/customerinfodetail?id='+${visitorRegister.id}">
                            <img src="/Styles/images/xymfImages/look.png" alt=""/>
                        </a>
                    </div>
                </div>
                <ul id="shaftTime" class="eui-timeline eui-font14">
                </ul>
                <span class="eui-btn eui-btn-normal eui-btn-small record" onclick="addVisitorRecord()">
                <i style="cursor: pointer;" class="eui-icon eui-font12"> &#xe654; </i>来访记录 </span>
            </div>
            <div style="width: 91%;" class="eui-mn1">
                <div class="eui-mn1-type1 eui-padding20 eui-bg-white eui-box-shadow">
                    <form  id="searchFrom">
                        <input type="hidden" name="visitorId" th:value="${id}" />

                    </form>
                    <div class="DivInfo">
                        <p><i class="eui-icon eui-color-blue eui-font18">&#xe60e;</i>
                            <span class="eui-font16">记录时间</span>
                            <span  class="eui-marginL15 createTime"></span></p>

                        <p class="eui-marginT15"><i class="eui-icon eui-color-blue eui-font18">&#xe60e;</i>
                            <span class="eui-font16">来访时间</span>
                            <span  class="eui-marginL15 visitorTime"></span>
                        </p>
                        <div class="eui-marginT15 eui-row">
                            <div class="eui-col-md2 eui-marginT5 eui-font16 questionWhite">
                                <i class="eui-icon eui-color-blue eui-font18">&#xe622;</i> 问卷填写
                            </div>
                            <div class="eui-col-md10 eui-marginL20">
                                <div id="addQuestionnaire" onclick="loadQuestionnaire()">
                                    <span id="noData" class="eui-btn eui-btn-small eui-btn-normal">
                                        <i class="eui-icon">&#xe654;</i> 使用问卷
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 面询印象简录（含躯体、心理、行为和社会支持系统的情况）</p>
                            <p id="interview" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 来访者初诊</p>
                            <p id="VisitingPurpose" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 已解决的问题</p>
                            <p id="resolved" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 本次咨询内容</p>
                            <p id="thisTime" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 咨询效果评价</p>
                            <p id="evaluate" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 咨询中所运用的心理学方法与技术</p>
                            <p id="FollowUpPlan" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 咨询过程记录</p>
                            <p id="processLog" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                        <div class="eui-marginT20 eui-form">
                            <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 备注</p>
                            <p id="remarks" class="eui-marginT20 eui-lineHeight24">
                            </p>
                        </div>

                    </div>

                    <form id="DivAddForm" onsubmit="return false;">
                        <input type="hidden" name="visitorId" th:value="${id}" />
                        <div style="display: none;" class="DivAdd">

                            <p style="float: left;" class="">
                                <i class="eui-icon eui-color-blue">&#xe60e;</i>
                                <span class="eui-font16">来访时间</span>
                            <div style=" float: left; margin-left: 12px; margin-top: -5px; ">
                                <input placeholder="请选择来访时间" type="text" readonly="readonly" name="visitorTime" id="visitorTime"
                                       class="eui-input eui-width200">
                            </div>
                            </p>
                            <div class="eui-marginT10 eui-row">
                            </div>
                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 面询印象简录（含躯体、心理、行为和社会支持系统的情况）</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea name="interview" placeholder="面询印象简录（含躯体、心理、行为和社会支持系统的情况）" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 来访者初诊</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea name="VisitingPurpose" placeholder="来访者初诊" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 已解决的问题</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea name="resolved" placeholder="已解决的问题" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 本次咨询内容</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea name="thisTime" placeholder="本次咨询内容" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 咨询效果评价</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea name="evaluate" placeholder="咨询效果评价" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 咨询中所运用的心理学方法与技术</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea name="FollowUpPlan" placeholder="咨询中所运用的心理学方法与技术" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 咨询过程记录</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea id="processLogA" name="processLog" placeholder="咨询过程记录" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <div class="eui-marginT20 eui-form">
                                <p class="eui-font16 eui-paddingB10 eui-borderB"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 备注</p>
                                <p class="eui-marginT20 eui-lineHeight24">
                                    <textarea id="remarksA" name="remarks" placeholder="备注" class="eui-textarea"></textarea>
                                </p>
                            </div>

                            <input type="submit" style="display: none;" id="DivAddFormSub"/>
                        </div>
                    </form>
                    <input type="hidden" id="recordId" />
                    <div id="fileDiv" style="display: none;" class="eui-marginT20 eui-form">
                        <p class="eui-font16 eui-paddingB10 eui-borderB eui-marginB20"><img src="/Styles/images/xymfImages/cloud.png" alt=""> 附件上传</p>
                        <button type="button" class="eui-btn eui-btn-small eui-btn-normal" id="test1">
                            <i class="eui-icon">&#xe67c;</i>上传附件
                        </button>
                        <div class="eui-upload-list">
                            <table class="eui-table">
                                <thead>
                                <tr>
                                    <th>文件名</th>
                                    <th>上传时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="demoList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="display: none;" id="resetDiv" onclick="saveData();" class="eui-textAlignC eui-marginT20">
                        <span class="eui-btn eui-btn-big eui-btn-normal">提交保存</span>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="xymfFooter">
    <!-- 底部固定区域 -->
    © 2017 广州市易度软件开发有限公司旗下心云魔方品牌
</div>

<!-- 右滑高级筛选开始 -->
<div class="eui-slipBg">
</div>
<div style="overflow: scroll" class="eui-slipContent">
    <div class="visitorTitle">
        <div class="eui-row">
            <div class="eui-col-md2 eui-marginT10 eui-font14">客户姓名</div>
            <div class="eui-col-md10 eui-font14 visitorInput">
                <input type="hidden" id="creator" th:value="${session.userSession.id}" />
                <input type="text" id="visitorName" autocomplete="off" placeholder="输入来访客户姓名搜索" class="eui-input">
            </div>
        </div>

    </div>

    <div class="customerList">

    </div>

</div>
<!-- 右滑高级筛选结束 -->



<!-- 返回顶部按钮 -->
<span class="eui-icon eui-backTop" e-type="top">&#xe604;</span>

<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>

<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script type="text/javascript" charset="utf-8" src="/Scripts/plugins/utf8-jsp/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Scripts/plugins/utf8-jsp/ueditor.all.js"> </script>
<script>
    $(function(){
        var visiterHeight = window.innerHeight-250;
        $(".visitorLeft .eui-timeline").css("max-height",visiterHeight+"px");
    });
var processLogA=null;
    var remarksA=null;
    var layedit;
    eui.use(['form', 'layedit', 'laydate'], function(){
        var form = eui.form
            ,layer = eui.layer
            ,laydate = eui.laydate;
        layedit = eui.layedit


        laydate.render({
            elem: '#visitorTime'
            ,type: 'datetime'
        });


        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function(action) {
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return 'http://localhost:8088/upload/ueUploadImg';
            } else if (action == 'uploadvideo') {
                return 'http://localhost:8088/upload/upFile';
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        }
         processLogA = UE.getEditor('processLogA', {
             initialFrameWidth:900,
            initialFrameHeight: 320,//编辑器高度，默认320
            scaleEnabled: true,
             toolbars: [
                 [
                     'undo', //撤销
                     'redo', //重做
                     'bold', //加粗
                     'indent', //首行缩进
                     'italic', //斜体
                     'underline', //下划线
                     'strikethrough', //删除线
                     'subscript', //下标
                     'fontborder', //字符边框
                     'superscript', //上标
                     'formatmatch', //格式刷
                     'source', //源代码
                     'blockquote', //引用
                     'pasteplain', //纯文本粘贴模式
                     'selectall', //全选
                     'print', //打印
                     'preview', //预览
                     'horizontal', //分隔线
                     'removeformat', //清除格式
                     'time', //时间
                     'date', //日期
                     'unlink', //取消链接
                     'insertrow', //前插入行
                     'insertcol', //前插入列
                     'mergeright', //右合并单元格
                     'mergedown', //下合并单元格
                     'deleterow', //删除行
                     'deletecol', //删除列
                     'splittorows', //拆分成行
                     'splittocols', //拆分成列
                     'splittocells', //完全拆分单元格
                     'deletecaption', //删除表格标题
                     'inserttitle', //插入标题
                     'mergecells', //合并多个单元格
                     'deletetable', //删除表格
                     'cleardoc', //清空文档
                     'insertparagraphbeforetable', //"表格前插入行"
                     'fontfamily', //字体
                     'fontsize', //字号
                     'paragraph', //段落格式
                     'simpleupload', //单图上传
                     'insertimage', //多图上传
                     'edittable', //表格属性
                     'edittd', //单元格属性
                     'link', //超链接
                     'spechars', //特殊字符
                     'searchreplace', //查询替换
                     'justifyleft', //居左对齐
                     'justifyright', //居右对齐
                     'justifycenter', //居中对齐
                     'justifyjustify', //两端对齐
                     'forecolor', //字体颜色
                     'backcolor', //背景色
                     'insertorderedlist', //有序列表
                     'insertunorderedlist', //无序列表
                     'directionalityltr', //从左向右输入
                     'directionalityrtl', //从右向左输入
                     'rowspacingtop', //段前距
                     'rowspacingbottom', //段后距
                     'imagenone', //默认
                     'imageleft', //左浮动
                     'imageright', //右浮动
                     'imagecenter', //居中
                     'lineheight', //行间距
                     'edittip ', //编辑提示
                     'customstyle', //自定义标题
                     'autotypeset', //自动排版
                     'touppercase', //字母大写
                     'tolowercase', //字母小写
                     'background', //背景
                     'template', //模板
                     'inserttable', //插入表格
                 ]]
        });

        remarksA = UE.getEditor('remarksA', {
            initialFrameWidth:900,
            initialFrameHeight: 320,//编辑器高度，默认320
            scaleEnabled: true,
            toolbars: [
                [
        'undo', //撤销
        'redo', //重做
        'bold', //加粗
        'indent', //首行缩进
        'italic', //斜体
        'underline', //下划线
        'strikethrough', //删除线
        'subscript', //下标
        'fontborder', //字符边框
        'superscript', //上标
        'formatmatch', //格式刷
        'source', //源代码
        'blockquote', //引用
        'pasteplain', //纯文本粘贴模式
        'selectall', //全选
        'print', //打印
        'preview', //预览
        'horizontal', //分隔线
        'removeformat', //清除格式
        'time', //时间
        'date', //日期
        'unlink', //取消链接
        'insertrow', //前插入行
        'insertcol', //前插入列
        'mergeright', //右合并单元格
        'mergedown', //下合并单元格
        'deleterow', //删除行
        'deletecol', //删除列
        'splittorows', //拆分成行
        'splittocols', //拆分成列
        'splittocells', //完全拆分单元格
        'deletecaption', //删除表格标题
        'inserttitle', //插入标题
        'mergecells', //合并多个单元格
        'deletetable', //删除表格
        'cleardoc', //清空文档
        'insertparagraphbeforetable', //"表格前插入行"
        'fontfamily', //字体
        'fontsize', //字号
        'paragraph', //段落格式
        'simpleupload', //单图上传
        'insertimage', //多图上传
        'edittable', //表格属性
        'edittd', //单元格属性
        'link', //超链接
        'spechars', //特殊字符
        'searchreplace', //查询替换
        'justifyleft', //居左对齐
        'justifyright', //居右对齐
        'justifycenter', //居中对齐
        'justifyjustify', //两端对齐
        'forecolor', //字体颜色
        'backcolor', //背景色
        'insertorderedlist', //有序列表
        'insertunorderedlist', //无序列表
        'directionalityltr', //从左向右输入
        'directionalityrtl', //从右向左输入
        'rowspacingtop', //段前距
        'rowspacingbottom', //段后距
        'imagenone', //默认
        'imageleft', //左浮动
        'imageright', //右浮动
        'imagecenter', //居中
        'lineheight', //行间距
        'edittip ', //编辑提示
        'customstyle', //自定义标题
        'autotypeset', //自动排版
        'touppercase', //字母大写
        'tolowercase', //字母小写
        'background', //背景
        'template', //模板
        'inserttable', //插入表格
        ]]
    })

    })

    // 返回顶部
    var winH = $(window).height();

    $('.eui-backTop').hide();
    $(window).scroll(function(e) {
        var winT = $(window).scrollTop();
        if(winT>winH){
            $('.eui-backTop').fadeIn()
        }else{
            $('.eui-backTop').fadeOut()
        }
    });

    $('.eui-backTop').click(function(e) {
        $('html,body').animate({scrollTop:0},500)
    });

    $(".eui-slipBg").hide();
    $(".switch").click(function(event) {
        $(".eui-slipBg").show();
        $(".eui-slipContent").animate({right:'0'},400);
    });
    $(".eui-leftSlip").click(function(event) {
        $(".eui-slipBg").show();
        $(".eui-slipContent-left").animate({left:'0'},400);
    });

    $(".eui-iconClose,.eui-slipBg,.eui-slipConfirm").click(function(event) {
        $(".eui-slipContent").animate({right:'-400px'},400);
        $(".eui-slipContent-left").animate({left:'-400px'},400);
        $(".eui-slipBg").hide();
    });


    $(function () {
        loadShaftTime();
        $('#visitorName').bind('input propertychange', function() {
            var textValue = $(this).val();
            var params = new Object();
            params.creator=$("#creator").val();
            params.visitorName=textValue;
            loadCustomerList(params);
        });



    $("#DivAddForm").validate({
        rules: {
            visitorTime: {
                required : true
            },
            interview:{
                required : true
            },
            VisitingPurpose: {
                required: true
            },
            resolved: {
                required: true
            },
            thisTime:{
                required : true
            },
            evaluate: {
                required: true
            },
            FollowUpPlan: {
                required: true
            },
            processLog: {
                required: true
            }
        },
        messages: {
            visitorTime: {
                required : "请选择来访时间"
            },
            interview:{
                required : '请输入面询印象简录'
            },
            VisitingPurpose: {
                required: '请输入来访者初诊'
            },
            resolved: {
                required: '请输入已解决的问题'
            },
            thisTime:{
                required : '请输入本次咨询内容'
            },
            evaluate: {
                required: '请输入咨询效果评价'
            },
            FollowUpPlan: {
                required: '请输入咨询中所运用的心理学方法与技术'
            },
            processLog: {
                required: '请输入咨询过程记录'
            }
        },
        submitHandler: function() {
            var obj = $("#DivAddForm").serializeObject();
            obj.processLog=processLogA.getContent();
            obj.remarks=remarksA.getContent();
            $.post('/visiting/record/add',{json:JSON.stringify(obj)},function (result) {
                if (result.code==200){
                    location.reload();
                }else {
                    layer.msg(result.message);
                }
            });
        }
    });
    });

    function resetCustomer() {
        var params = new Object();
        params.creator=$("#creator").val();
        params.visitorName='';
        loadCustomerList(params);
    }
    function loadCustomerList(params) {
        $.post('/visitor/register/listByparameterTime',{
            json:JSON.stringify(params),
            page:1,
            pagesize:100000
        },function (result) {
            $(".customerList").html('');
            console.log(result.data.list)
            var list = result.data.list;
            $.each(list,function (index,item) {

                var img = '/Styles/images/xymfImages/woman.png';
                if (item.sex == 1){
                    img='/Styles/images/xymfImages/man.png'
                }

                $(".customerList").append('<div visitorId="'+item.ID_+'" class="eui-row eui-padding10 line eui-borderB"> ' +
                    '<div class="eui-col-md10 eui-paddingL20 eui-lineHeight24"> ' +
                    '<p> <span class="eui-font16">'+item.visitor_name+'</span></p> ' +
                    '' +
                    '</div> ' +
                    '<div class="eui-col-md2 eui-paddingR20 eui-textAlignR">' +
                    '<img src="'+img+'" width="20" alt=""></div> ' +
                    '</div>')
            });
            $(".customerList .line").click(function () {
                location.href='/web/customer/visitorInfo?id='+$(this).attr('visitorId');
            });
        });
    }

    function loadShaftTime() {
        var obj = $("#searchFrom").serializeObject();
        $.post('/visiting/record/shaftTime',{json:JSON.stringify(obj)},function (result) {
            var list = result.data.list;
            if (list.length>0){
                $.each(list, function (index, item) {
                    var icon = '';
                    if (item.flag>0 || item.filesCount>0){
                        icon = '  <div class="ci-count"> <img src="/Styles/images/xymfImages/number.png" height="16"' +
                            'width="16"/><span class="eui-color-gray2"> X '+item.flag+'</span> <img class="eui-marginL20" src="/Styles/images/xymfImages/accessory.png" height="16"' +
                            'width="16"/><span class="eui-color-gray2"> X '+item.filesCount+'</span> </div>'
                    }
                    $('#shaftTime').append('<li visitorId="'+item.id+'" class="eui-timeline-item"> ' +
                        '<div class="eui-timeline-content eui-text"> ' +
                        '<div class="eui-timeline-title">'+new Date(item.visitorTime).Format('yyyy-MM-dd')+'<span class="guide ci-guide"></span></div> ' +
                        '</div> ' +icon+
                        '<i style="color: #35a9ff;" class="eui-icon eui-timeline-axis">&#xe63f;</i> ' +
                        '</li>');
                });
                loadVisitorRecordDetail(list[0].id);
                var guide = '<img src="/Styles/images/xymfImages/arror0.png" height="12" width="9"/>';
                $("#shaftTime li").find('i').eq(0).html('&#xe617;');
                $("#shaftTime li").eq(0).find('.eui-timeline-title .guide').html(guide);
                $("#shaftTime li").eq(0).find('.eui-timeline-title').css('color','#35a9ff');
                $("#shaftTime li").click(function () {

                    $('#resetDiv').hide();
                    var id = $(this).attr('visitorId');
                    loadVisitorRecordDetail(id);
                    $("#shaftTime li").find('i').html('&#xe63f;');
                    $(this).find('i').html('&#xe617;');
                    $("#shaftTime li").find('.eui-timeline-title').css('color','');
                    $(this).find('.eui-timeline-title').css('color','#35a9ff');
                    $(".guide").html('')
                    $(this).find('.eui-timeline-title .guide').html(guide);
                });
            }else {
                $('#noData').hide();
                $(".DivInfo").hide();
                $(".DivAdd").show();
                $("#resetDiv").show();

            }
        });
    }
    var visitorTimes="";
    function loadVisitorRecordDetail(id) {

        $("#fileDiv").show();
        $("#searchFrom").show();
        $(".DivInfo").show();
        $(".DivAdd").hide();
        $("#recordId").val(id);
        $.post('/visiting/record/detail',{id:id},function (result) {

            var obj = result.data;
            $(".DivInfo #interview").html(obj.interview);

            $(".DivInfo #resolved").html(obj.resolved);
            $(".DivInfo #thisTime").html(obj.thisTime);
            $(".DivInfo #evaluate").html(obj.evaluate);

            $(".DivInfo #VisitingPurpose").html(obj.visitingPurpose);
            $(".DivInfo #processLog").html(obj.processLog);
            $(".DivInfo #FollowUpPlan").html(obj.followUpPlan);
            $(".DivInfo #remarks").html(obj.remarks);
            $(".DivInfo .createTime").html(new Date(obj.createTime)
                .Format('yyyy-MM-dd hh:mm:ss'));

            $(".DivInfo .visitorTime").html(new Date(obj.visitorTime)
                .Format('yyyy-MM-dd hh:mm:ss'));

            var visitingRecordFileList = obj.visitingRecordFileList;
            $("#demoList").html('');
            $.each(visitingRecordFileList,function (index,item) {
                $("#demoList").append(' <tr> <th>'+item.fileName+'</th> <th>'
                    +new Date(item.createTime).Format('yyyy-MM-dd hh:mm:ss')+'</th>' +
                    '<th class="icons">' +foeBtnfileType2(item)+
                    '<i path="'+item.id+'" title="删除" class="eui-icon tb">&#xe640;</i></th></tr>');
            });
            var  createTime=new Date(obj.visitorTime).Format('yyyy-MM-dd');
            visitorTimes=createTime;
            var userId=$("[name='visitorId']").val();

            $.post("/data/acquisition/findQuestionnaireForVisitor",{"userId":userId,"createTime":createTime},function (result) {
               var list=result.data;
                var coontext="";
                for(var i in list){
                    coontext+='<div  name="startAnswer" acquisitionId="'+list[i].id+'" questionnaireId="'+list[i].dataQuestion+'" class="eui-col-md3 consultSheet eui-marginR10">'+list[i].questionnaireName;
                    coontext+='    &nbsp;&nbsp;<img src="/Styles/images/xymfImages/number.png" height="16" width="16"/>';
                    coontext+=' </div> ';
                }
                $("[name='startAnswer']").remove();
                $('#addQuestionnaire').before(coontext);
                $("[name='startAnswer']").on("click",function () {
                     var questionnaireId = $(this).attr("questionnaireId");
                     var acquisitionId = $(this).attr("acquisitionId");
                     selQuestionnaireForVisitor(questionnaireId,userId,acquisitionId);
                });


            });
            eui.use('upload', function(){
                var $ = eui.jquery
                    ,upload = eui.upload;
                var uploadInst = upload.render({
                    elem: '#test1'
                    ,url: '/upload/upFile'
                    ,accept: 'file'
                    ,data: {fileTable:'visiting_record_file',
                        recordId:$("#recordId").val()}
                    ,done: function(res){
                        var obj = JSON.parse(res);

                        $("#demoList").append(' <tr> <th>'+obj.fileName+'</th> <th>'
                            +new Date().Format('yyyy-MM-dd hh:mm:ss')+'</th>' +
                            '<th class="icons">' +foeBtnfileType(obj)+
                            '<i path="'+obj.id+'" title="删除" class="eui-icon tb">&#xe640;</i></th></tr>');

                        $('.icons i').click(function () {
                            if ($(this).index() == 0){
                                window.open('/files'+$(this).attr('path'));
                            }else {
                                deletefile($(this).attr('path'),$(this));
                            }
                        });
                        }
                    ,error: function(){
                    }
                });
            });
            $('.icons i').click(function () {
                if ($(this).index() == 0){
                    window.open('/files'+$(this).attr('path'));
                }else {
                    deletefile($(this).attr('path'),$(this));
                }
            });
        });
    }
    //&#xe61e;
    function foeBtnfileType(obj) {
        var pic ='.jpg .png .gif';
        var video ='.mp4';
        if (pic.indexOf(obj.fileType)!=-1){
            return '<i path="'+obj.data.src+'" title="查看图片" class="eui-icon tb">&#xe64a;</i>';
        }
        if (video.indexOf(item.fileType)!=-1){
            return '<i path="'+obj.data.src+'" title="播放" class="eui-icon tb">&#xe652;</i>'
        }

        return '<i path="'+obj.data.src+'" title="下载" class="eui-icon tb">&#xe601;</i>';
    }
    function foeBtnfileType2(item) {
        var pic ='.jpg .png .gif';
        var video ='.mp4';
        if (pic.indexOf(item.fileType)!=-1){
            return '<i path="'+item.fileUri+'" title="查看图片" class="eui-icon tb">&#xe64a;</i>';
        }

        if (video.indexOf(item.fileType)!=-1){
            return '<i path="'+item.fileUri+'" title="播放" class="eui-icon tb">&#xe652;</i>'
        }

        return '<i path="'+item.fileUri+'" title="下载" class="eui-icon tb">&#xe601;</i>';
    }
    
    function deletefile(id,dom) {
        $.post('/visiting/record/file/delete',{id:id},function (result) {
            if (result.code == 200) {
                $(dom).parent('.icons').parent('tr').remove();
            }else {
                layer.msg(result.message);
            }
        });
    }
    function addVisitorRecord() {
        $("#fileDiv").hide();
        $("#resetDiv").show();
        $("#searchFrom").hide();
        $(".DivInfo").hide();
        $(".DivAdd").show();
        $(".DivAdd input[name='visitorTime']").val(new Date().Format('yyyy-MM-dd hh:mm:ss'));
        $("#datecre").html(new Date().Format('yyyy-MM-dd hh:mm:ss'));
        $("#shaftTime li").find('i').html('&#xe63f;');
    }

    function saveData() {
        return $("#DivAddFormSub").click();
    }
    //  加载问卷
    function  loadQuestionnaire() {
            var userId=$("[name='visitorId']").val();
            var list=new Array;
            eui.use(['form','layer'], function() { //独立版的layer无需执行这一句
                var $ = eui.jquery,
                    layer = eui.layer,form=eui.form; //独立版的layer无需执行这一句
                var iframeWin;//iframe对象
                layer.open({
                    type: 2
                    ,id: 'checkQuestionnaire'
                    ,title: '选择问卷'
                    ,area: ['900px', '600px']
                    ,success: function(layero, index){
                        var body = layer.getChildFrame('body', index);
                        iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：
                    }
                    ,shade: 0
                    ,moveType: 0//拖拽模式，0或者1
                    ,maxmin: true
                    ,content:"/web/customer/getCheckQuestionnaire"
                    // ,btn: ['确定', '关闭'] //只是为了演示
                    ,yes: function(){

                    }
                    ,btn2: function(){
                        layer.closeAll();
                    },cancel: function(){
                        layer.closeAll();
                    }
                    ,zIndex: layer.zIndex //重点1
                });
            });

        }
    //查看来访者填写的问卷
    function selQuestionnaireForVisitor(questionnaireId,userId,acquisitionId){
       window.open("/web/cube/getQuestionnaireForVisitor?questionnaireId="+questionnaireId+"&userId="+userId+"&acquisitionId="+acquisitionId);
    }
    //获取客户的id
    function  getVisitorId() {
        var obj=new Object();
        obj.userId=$("#searchFrom [name='visitorId']").val();
        obj.visitorTimes=visitorTimes;

        return obj;
    }


   function startAnswer(questionnaireId,userId) {
       window.location.href="/web/cube/getQuestionnaireFillIn?questionnaireId="+questionnaireId+"&userId="+userId+"&visitorTimes="+visitorTimes;
   }

   //问卷选择页面调用父页面的方法
    function  closeLay() {
        eui.use(['form','layer'], function() { //独立版的layer无需执行这一句
            var $ = eui.jquery,
                layer = eui.layer,form=eui.form; //独立版的layer无需执行这一句
                layer.closeAll();
             });
    }
    </script>

</body>
</html>
