<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title th:text="${vr.visitorName}"></title>
    <link href="/Styles/themes/default/style.css" rel="stylesheet" type="text/css" />
    <style>
        tr td:nth-child(1){
            font-weight:bold;
            text-align: right;
        }
        tr td:nth-child(3){
            font-weight:bold;
            text-align: right;
        }
    </style>
</head>
<body class="questionBody">
<div class="questionHeader">
    <div class="eui-row eui-area">
        <div class="xymfLogo">
            <img src="/Styles/images/xymfImages/xymf/logo.png" alt="">
            <span class="payCentre">客户详情</span>
        </div>
    </div>
</div>
<div class="visitorContent xymfMargin">
    <div class="eui-area xymf-width1000">
        <div class="visitorTitle eui-row">
            <div class="eui-col-md7"><img src="/Styles/images/xymfImages/cube.png" width="24" alt="">  个人信息卡</div>
            <div class="eui-col-md5 eui-textAlignR"><span class="eui-btn eui-btn-normal eui-btn-small">打印</span></div>
        </div>
        <div class="eui-row eui-form eui-bg-white card eui-padding10">
            <div class="eui-font16 eui-paddingB10 eui-borderB eui-marginTB10">
                <img alt="" src="/Styles/images/xymfImages/cloud.png"> 来访者基本信息
            </div>
            <div class="eui-col-md6">
                <div class="cardIn">
                    <div class="cardName">姓名：</div>
                    <div class="cardContent" th:text="${vr.visitorName}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">出生年月：</div>
                    <div class="cardContent" th:text="${#dates.format(vr.birthday, 'yyyy-MM-dd')}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">性别：</div>
                    <div class="cardContent">
                        <th:block th:if="${vr.sex==0}">
                            <td >女</td>
                        </th:block>
                        <th:block th:if="${vr.sex==1}">
                            <td >男</td>
                        </th:block>
                    </div>
                </div>
                <div class="cardIn">
                    <div class="cardName">民族：</div>
                    <div class="cardContent" th:text="${vr.nation}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">Email地址：</div>
                    <div class="cardContent" th:text="${vr.email}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">职业：</div>
                    <div class="cardContent" th:text="${vr.occupation}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">紧急联系人关系：</div>
                    <div class="cardContent" th:text="${vr.exigenceContacts}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">血型：</div>
                    <div class="cardContent" th:text="${vr.bloodType}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">宗教信仰：</div>
                    <div class="cardContent" th:text="${vr.religiousBelief}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">结婚年数：</div>
                    <div class="cardContent" th:text="${vr.marryTotal}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">第一个孩子年龄：</div>
                    <div class="cardContent" th:text="${vr.childAge}"></div>
                </div>

            </div>
            <div class="eui-col-md6">
                <div class="cardIn">
                    <div class="cardName">身份证号：</div>
                    <div class="cardContent" th:text="${vr.idCard}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">籍贯：</div>
                    <div class="cardContent" th:text="${vr.nativePlace}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">年龄：</div>
                    <div class="cardContent" id="age"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">手机号码：</div>
                    <div class="cardContent" th:text="${vr.phone}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">所在地：</div>
                    <div class="cardContent" th:text="${vr.address}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">收入水平：</div>
                    <div class="cardContent" th:text="${vr.income}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">紧急联系人电话：</div>
                    <div class="cardContent" th:text="${vr.exigencePhone}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">教育程度：</div>
                    <div class="cardContent" th:text="${vr.educationLevel}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">婚姻情况：</div>
                    <div class="cardContent" th:text="${vr.maritalStatus}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">第一个孩子性别：</div>
                    <div class="cardContent">
                        <th:block th:if="${vr.childSex==0}">
                            <td >女</td>
                        </th:block>
                        <th:block th:if="${vr.childSex==1}">
                            <td >男</td>
                        </th:block>
                        <th:block th:if="${vr.childSex==null}">
                            <td ></td>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="eui-row eui-form eui-bg-white card eui-padding10">
            <div class="eui-font16 eui-paddingB10 eui-borderB eui-marginTB10">
                <img alt="" src="/Styles/images/xymfImages/cloud.png"> 来访者家庭情况
            </div>
            <div class="eui-col-md6">
                <div class="cardIn">
                    <div class="cardName">父亲职业：</div>
                    <div class="cardContent" th:text="${vr.fatherOccupation}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">父亲学历：</div>
                    <div class="cardContent" th:text="${vr.fatherEducation}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">母亲年龄：</div>
                    <div class="cardContent" th:text="${vr.motherAge}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">父亲去世时年龄：</div>
                    <div class="cardContent" th:text="${vr.fatherDeathYourAge}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">父母分居时你的年龄：</div>
                    <div class="cardContent" th:text="${vr.parentalSeparationYourAge}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">兄弟姐妹人数：</div>
                    <div class="cardContent" th:text="${vr.brothersSistersTotal}"></div>
                </div>
            </div>
            <div class="eui-col-md6">
                <div class="cardIn">
                    <div class="cardName">父亲年龄：</div>
                    <div class="cardContent" th:text="${vr.fatherAge}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">母亲职业：</div>
                    <div class="cardContent" th:text="${vr.motherOccupation}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">母亲学历：</div>
                    <div class="cardContent" th:text="${vr.motherEducation}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">母亲去世时你的年龄：</div>
                    <div class="cardContent" th:text="${vr.motherDeathYourAge}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">父母离婚时你的年龄：</div>
                    <div class="cardContent" th:text="${vr.parentalDivorceYourAge}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">家中排行第几：</div>
                    <div class="cardContent" th:text="${vr.brothersSistersRanking}"></div>
                </div>
            </div>
        </div>
        <div class="eui-row eui-form eui-bg-white card eui-padding10">
            <div class="eui-font16 eui-paddingB10 eui-borderB eui-marginTB10">
                <img alt="" src="/Styles/images/xymfImages/cloud.png"> 来访者咨询情况
            </div>
            <div class="eui-col-md6">
                <div class="cardIn">
                    <div class="cardName">做过几次咨询：</div>
                    <div class="cardContent" th:text="${vr.counselingTotal}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">最近一次咨询的地址：</div>
                    <div class="cardContent" th:text="${vr.counselingAddress}"></div>
                </div>
            </div>
            <div class="eui-col-md6">
                <div class="cardIn">
                    <div class="cardName">最近一次咨询距现在多少天：</div>
                    <div class="cardContent" th:text="${vr.awayNowTotal}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">是否因心理问题就医：</div>
                    <div class="cardContent">
                        <th:block th:if="${vr.medicalTreatment==2}">
                            <td >否</td>
                        </th:block>
                        <th:block th:if="${vr.medicalTreatment==1}">
                            <td >是</td>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="eui-col-md12">
                <div class="cardIn">
                    <div class="cardName">最近一次诊断结果：</div>
                    <div class="cardContent" th:text="${vr.diagnosisResult}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">是否有慢性疾病，家族病史和过敏史：</div>
                    <div class="cardContent">
                        <th:block th:if="${vr.medicalHistory==0}">
                            <td colspan="3">没有</td>
                        </th:block>
                        <th:block th:if="${vr.medicalHistory==1}">
                            <td colspan="3">有</td>
                        </th:block>
                    </div>
                </div>
                <div class="cardIn">
                    <div class="cardName">具体情况：</div>
                    <div class="cardContent" th:text="${vr.specificCircumstances}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">曾长期服用过何种药物：</div>
                    <div class="cardContent">
                        <th:block th:if="${vr.longMedication==0}">
                            <td colspan="3">没有</td>
                        </th:block>
                        <th:block th:if="${vr.longMedication==1}">
                            <td colspan="3">有</td>
                        </th:block>
                    </div>
                </div>
                <div class="cardIn">
                    <div class="cardName">药物不良症状：</div>
                    <div class="cardContent" th:text="${vr.adverseDrugSymptoms}"></div>
                </div>
                <div class="cardIn">
                    <div class="cardName">目前与健康有关的疾病及所接受的治疗：</div>
                    <div class="cardContent" th:text="${vr.treatmentCondition}"></div>
                </div>
            </div>
        </div>
        <!--<div class="entirety eui-bg-white">
            <table class="eui-table">
                <colgroup>
                    <col width="240">
                    <col>
                    <col width="240">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>姓名:</td>
                    <td th:text="${vr.visitorName}"></td>
                    <td>身份证号:</td>
                    <td th:text="${vr.idCard}">2016-11-29</td>
                </tr>
                <tr>
                    <td>出生年月:</td>
                    <td th:text="${#dates.format(vr.birthday, 'yyyy-MM-dd')}">2017-07-29</td>
                    <td>籍贯:</td>
                    <td th:text="${vr.nativePlace}">2017-07-29</td>
                </tr>
                <tr>
                    <td>性别:</td>
                    <th:block th:if="${vr.sex==0}">
                        <td >女</td>
                    </th:block>
                    <th:block th:if="${vr.sex==1}">
                        <td >男</td>
                    </th:block>

                    <td>年龄:</td>
                    <td id="age"></td>
                </tr>
                <tr>
                    <td>民族:</td>
                    <td th:text="${vr.nation}">2017-09-10</td>
                    <td>手机号码:</td>
                    <td th:text="${vr.phone}">2017-09-10</td>
                </tr>
                <tr>
                    <td>Email地址:</td>
                    <td th:text="${vr.email}">2017-09-10</td>
                    <td>所在地:</td>
                    <td th:text="${vr.address}">2017-09-10</td>
                </tr>

                <tr>
                    <td>职业:</td>
                    <td th:text="${vr.occupation}">2017-09-10</td>
                    <td>收入水平:</td>
                    <td th:text="${vr.income}">2017-09-10</td>
                </tr>
                <tr>
                    <td>紧急联系人关系:</td>
                    <td th:text="${vr.exigenceContacts}">2017-09-10</td>
                    <td>紧急联系人电话:</td>
                    <td th:text="${vr.exigencePhone}">2017-09-10</td>
                </tr>
                <tr>
                    <td>血型:</td>
                    <td th:text="${vr.bloodType}">2017-09-10</td>
                    <td>教育程度:</td>
                    <td th:text="${vr.educationLevel}">2017-09-10</td>

                </tr>
                <tr>
                    <td>宗教信仰:</td>
                    <td th:text="${vr.religiousBelief}">2017-09-10</td>
                    <td>婚姻情况:</td>
                    <td th:text="${vr.maritalStatus}">2017-09-10</td>
                </tr>

                <tr>
                    <td>结婚年数:</td>
                    <td th:text="${vr.marryTotal}">2017-09-10</td>

                    <td>第一个孩子性别:</td>
                    <th:block th:if="${vr.childSex==0}">
                        <td >女</td>
                    </th:block>
                    <th:block th:if="${vr.childSex==1}">
                        <td >男</td>
                    </th:block>
                    <th:block th:if="${vr.childSex==null}">
                        <td ></td>
                    </th:block>
                </tr>
                <tr>
                    <td>第一个孩子年龄:</td>
                    <td th:text="${vr.childAge}">2017-09-10</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>父亲职业:</td>
                    <td th:text="${vr.fatherOccupation}">2017-09-10</td>
                    <td>父亲年龄:</td>
                    <td th:text="${vr.fatherAge}">2017-09-10</td>
                </tr>

                <tr>
                    <td>父亲学历:</td>
                    <td th:text="${vr.fatherEducation}">2017-09-10</td>
                    <td>母亲职业:</td>
                    <td th:text="${vr.motherOccupation}">2017-09-10</td>
                </tr>

                <tr>
                    <td>母亲年龄:</td>
                    <td th:text="${vr.motherAge}">2017-09-10</td>
                    <td>母亲学历:</td>
                    <td th:text="${vr.motherEducation}">2017-09-10</td>
                </tr>

                <tr>
                    <td>父亲去世时你的年龄:</td>
                    <td th:text="${vr.fatherDeathYourAge}">2017-09-10</td>
                    <td>母亲去世时你的年龄:</td>
                    <td th:text="${vr.motherDeathYourAge}">2017-09-10</td>
                </tr>

                <tr>
                    <td>父母分居时你的年龄:</td>
                    <td th:text="${vr.parentalSeparationYourAge}">2017-09-10</td>
                    <td>父母离婚时你的年龄:</td>
                    <td th:text="${vr.parentalDivorceYourAge}">2017-09-10</td>
                </tr>

                <tr>
                    <td>兄弟姐妹人数:</td>
                    <td th:text="${vr.brothersSistersTotal}">2017-09-10</td>
                    <td>家中排行第几:</td>
                    <td th:text="${vr.brothersSistersRanking}">2017-09-10</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>做过几次咨询:</td>
                    <td th:text="${vr.counselingTotal}">2017-09-10</td>
                    <td>最近一次咨询距现在多少天:</td>
                    <td th:text="${vr.awayNowTotal}">2017-09-10</td>
                </tr>
                <tr>
                    <td>最近一次咨询的地址:</td>
                    <td th:text="${vr.counselingAddress}">2017-09-10</td>
                    <td>是否因心理问题就医:</td>
                    <th:block th:if="${vr.medicalTreatment==2}">
                        <td >否</td>
                    </th:block>
                    <th:block th:if="${vr.medicalTreatment==1}">
                        <td >是</td>
                    </th:block>
                </tr>
                <tr>
                    <td>最近一次诊断结果:</td>
                    <td th:text="${vr.diagnosisResult}" colspan="3">2017-09-10</td>
                </tr>

                <tr>
                    <td>是否慢性疾病,家族病史和过敏史:</td>
                    <th:block th:if="${vr.medicalHistory==0}">
                        <td colspan="3">没有</td>
                    </th:block>
                    <th:block th:if="${vr.medicalHistory==1}">
                        <td colspan="3">有</td>
                    </th:block>
                </tr>
                <tr>
                    <td>具体情况:</td>
                    <td th:text="${vr.specificCircumstances}" colspan="3">2017-09-10</td>
                </tr>


                <tr>
                    <td>曾长期服用过何种药物?:</td>
                    <th:block th:if="${vr.longMedication==0}">
                        <td colspan="3">没有</td>
                    </th:block>
                    <th:block th:if="${vr.longMedication==1}">
                        <td colspan="3">有</td>
                    </th:block>
                </tr>
                <tr>
                    <td>药物不良症状:</td>
                    <td th:text="${vr.adverseDrugSymptoms}" colspan="3">2017-09-10</td>
                </tr>

                <tr>
                    <td>目前与健康有关的疾病及所接受的治疗:</td>
                    <td th:text="${vr.treatmentCondition}" colspan="3">2017-09-10</td>
                </tr>

                </tbody>
            </table>
        </div>-->
    </div>
</div>

</body>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/card.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var updateObj =[[${vr}]];
    /*]]>*/
</script>
<script>
    $(function () {
        var infos = idCardNoUtil.getBirthDaySexAge(updateObj.idCard);
        $("#age").html(infos.age);
    });
</script>
</html>