<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>来访者统计</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <input type="hidden" id="userId" th:value="${userId}">
    <div th:replace="project/cube/common/header :: header(${3})">Header</div>
        <!-- 配合栅格系统和图文混合按钮组合 -->
        <div class="eui-row">
            <div class="eui-col-md4">
                <a href="#" class="eui-textIn">
                    <p class="eui-textNum"><span class="eui-color-green" id="visitingTotal"></span> 次</p>
                    <p class="name" >来访总次数</p>
                </a>
            </div>
            <div class="eui-col-md4">
                <a href="#" class="eui-textIn">
                    <p class="eui-textNum"><span class="eui-color-yellow" id="dataAcquisitionTotal"></span> 个</p>
                    <p class="name">填写问卷总数</p>
                </a>
            </div>
            <div class="eui-col-md4">
                <a href="#" class="eui-textIn">
                    <p class="eui-textNum"><span class="eui-color-orange" id="dataAcquisitionType"></span> 个</p>
                    <p class="name">填写问卷类别总数</p>
                </a>
            </div>
        </div>
        <div class="eui-form  eui-form-pane  eui-form eui-marginL10 eui-paddingL10"   style="width: 700px">
            <label class="eui-form-label">问卷名称</label>
            <div class="eui-input-block">
                <select name="questionType" id="questionType">
                    <option value="" >请选择问卷</option>
                </select>
            </div>

        </div>
        <div id="analysis"  style="width: 100%;height:400px;">
        </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>
</div>
</body>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="/Scripts/plugins/echarts/echarts.min.js"></script>
<!-- 引入 macarons 主题 -->
<script src="/Scripts/plugins/echarts/macarons.js"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script>

    eui.use(['form', 'layer', 'element'], function () {
        var form = eui.form;
        var layer = eui.layer;
        var element = eui.element;

        form.on('select', function(data){
           var userId= $("#userId").val();
            //问卷id
           var dataQuestion= data.elem.value;
            var questionnaireNmae= $("#questionType").find("option:selected").text();
            if(dataQuestion!="") {
                $.post("/data/acquisition/findDataAcquistionForVisitor"
                    , {"userId":userId,"dataQuestion":dataQuestion}, function (result) {
                    //返回一个问卷结果的集合
                     console.info(result.data);
                     var score=new Array;
                     var timeData=new Array;
                     if(result.data.length>1){
                         for(var i=0;i<result.data.length;i++){
                             var dataAcquistion=eval('('+result.data[i].dataResult+')');
                             timeData[i]= new Date(result.data[i].createTime).Format('yyyy-MM-dd')+"";
                             score[i]=dataAcquistion.totalScore;
                         }
                         analysis(questionnaireNmae,timeData,score);
                     }


                });
            }
        });
    });




    $(function () {
       // analysis();
        getDataAcquisitionForVisitingCount();
    });
    //问卷填报统计
    function  analysis(name,timeData,score) {
        var myChart = echarts.init(document.getElementById('analysis'), 'macarons');
        option = {
            title: {
                text: name,
                x: 'left',
            },
            tooltip: {
                trigger: 'axis',

                axisPointer: {
                    animation: false
                }
            },
            legend: {
                data: ['流量'],
                x: 'left'
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            axisPointer: {
                link: {
                    xAxisIndex: 'all'
                }
            },
            dataZoom: [{
                show: true,
                realtime: true,
                start: 30,
                end: 70,

                xAxisIndex: [0, 1]
            }, {
                type: 'inside',
                realtime: true,
                start: 30,
                end: 70,
                xAxisIndex: [0, 1]
            }],
            grid: [{
                left: 40,
                right: 40,
            }, {
                left: 40,
                right: 40,
            }],
            xAxis: [{


                type: 'category',
                boundaryGap: false,
                axisLine: {
                    onZero: true
                },
                data: timeData
            }, {
                gridIndex: 1
            }],

            yAxis: [{

                type: 'value',
                max: 500,
                name: '单位:',
                min: 0,
                interval: 25,


            }, {
                gridIndex: 1
            }],
            series: [{
                name: '数值',
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 9,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                },
                markPoint: {
                    data: [{
                        type: 'max',
                        name: '最大值'
                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                markArea: {
                    silent: true,
                    label: {
                        normal: {
                            position: ['10%', '50%']
                        }
                    },
                    data: [
                        [{
                            name: '优',
                            yAxis: 100,
                            itemStyle: {
                                normal: {
                                    color: 'rgba(0,153,153,0.27)'
                                }
                            },
                        }, {
                            yAxis: 200
                        }],
                        [{
                            name: '良',
                            yAxis: 200,
                            itemStyle: {
                                normal: {
                                    color: 'rgba(153,204,51,0.2)'
                                }
                            },
                        }, {
                            yAxis: 300,
                        }],
                        [{
                            name: '差',
                            yAxis: 300,
                            itemStyle: {
                                normal: {
                                    color: 'rgba(250,250,51,0.2)'
                                }
                            }
                        }, {
                            yAxis: 400,
                        }]
                    ]
                },
                data: score

            }]
        };
        myChart.setOption(option);
    }

     //来访者的问卷统计分析
    function getDataAcquisitionForVisitingCount(){
      eui.use(['layer','form'], function(){ //独立版的layer无需执行这一句
          var $ = eui.jquery
              ,layer = eui.layer
              ,form=eui.form;
          var userId= $("#userId").val();
          //加载层
          var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
          $.post("/data/acquisition/getDataAcquisitionForVisitingCount",{"userId":userId},function (result) {
              layer.closeAll();
            //来访总次数
            var  visitingTotal= result.data.visitingTotal;
            //填写问卷类别总数
            var   dataAcquisitionType= result.data.dataAcquisitions.length;
            //填写问卷总数
            var  dataAcquisitionTotal= result.data.dataAcquisitionTotal;

            $("#visitingTotal").text(visitingTotal);
            $("#dataAcquisitionType").text(dataAcquisitionType);
            $("#dataAcquisitionTotal").text(dataAcquisitionTotal);
            var selectContext="";
            var questionnaire= result.data.questionnaireList;
            for(var i=0; i< questionnaire.length;i++){
                selectContext+="<option value='"+questionnaire[i].dataQuestion+"'>"+questionnaire[i].questionnaireName+"</option>";
            }
              $("#questionType").append(selectContext);
              form.render();
          });
        });
    }


</script>
</html>