<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户统计</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header(${3})">Header</div>
    <div class="eui-area">
        <a href="#" class="eui-padding10">
            <p class="name eui-marginL10">客户总数 <span class="eui-color-blue eui-font30" id="customerSum">0</span> 个</p>
        </a>
        <div class="eui-margin10 areal">
            <div class="dataCharts eui-bg-white eui-padding10">
                <div id="sum" class="mapIn"></div>
            </div>
        </div>
        <div class="eui-row eui-margin10 eui-font26 eui-bg-white areal eui-marginT20">
            <div class="eui-col-md12 eui-marginT10">
                <div class="eui-tab custTab">
                    <!--<ul class="eui-tab-title custTab">
                        <li class="eui-this">占比</li>
                        <li>折线</li>
                        <li>分析</li>
                    </ul>-->
                    <div class="eui-tab-content eui-padding10">
                        <div class="eui-tab-item eui-show">
                            <div class="eui-row dataCharts">
                                <div class="eui-col-md6">
                                    <div class="eui-font16 eui-marginB20 eui-marginT10">性别分布</div>
                                    <div id="sex" style="width: 100%;height:320px;"></div>
                                </div>
                                <div class="eui-col-md6">
                                    <div class="eui-font16 eui-marginB20 eui-marginT10">职业分布</div>
                                    <div id="occupation" style="width: 100%;height:320px;"></div>
                                </div>
                            </div>
                            <div class="eui-row dataCharts">
                                <div class="eui-col-md6">
                                    <div class="eui-font16 eui-marginB20 eui-marginT10">收入分布</div>
                                    <div id="income" style="width: 100%;height:320px;"></div>
                                </div>
                                <div class="eui-col-md6">
                                    <div class="eui-font16 eui-marginB20 eui-marginT10">教育程度分布</div>
                                    <div id="level" style="width: 100%;height:320px;"></div>
                                </div>
                            </div>
                            <div class="eui-col-md12">
                                <div class="eui-font16 eui-marginB20 eui-marginT10">婚姻状况分布</div>
                                <div id="status" style="width: 100%;height:320px;"></div>
                            </div>
                        </div>
                        <div class="eui-tab-item">
                            <div class="eui-area eui-textAlignC eui-marginT20">
                                <img src="/Styles/images/todo.png" width="380">
                            </div>
                        </div>
                        <div class="eui-tab-item">
                            <div class="eui-area eui-textAlignC eui-marginT20">
                                <img src="/Styles/images/todo.png" width="380">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>
</div>
</body>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="/Scripts/plugins/echarts/echarts.min.js"></script>
<!-- 引入 macarons 主题 -->
<script src="/Scripts/plugins/echarts/macarons.js"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script>
    var form, layer;
    eui.use(['form', 'layer', 'element'], function () {
        form = eui.form;
        layer = eui.layer;
        var element = eui.element;
    })
    var sexData = [
        {value: 0, name: '男'},
        {value: 0, name: '女'}
    ]

    $(function () {
        $.post("/visitor/register/customerCount",{occupation:''}, function (result) {
            console.log(result);
            if (result.code == 200) {
                initOccupation();
                var visitorList = result.data;
                $('#customerSum').html(visitorList.length);
                for (var i in visitorList) {
                    var visitor = visitorList[i];
                    //判断性别
                    if (visitor.sex == 1) {
                        sexData[0].value++;
                    } else {
                        sexData[1].value++;
                    }
                }
                calculation(visitorList);
                customerSum(visitorList);//客户总数折线图
                pieChart('sex', '性别', '男女比例',['男','女'], sexData);

            } else {
                layer.msg(result.message, {
                    icon: 2,
                    time: 1500
                });
            }
        })
    })


    var occupation = [];
    var data = [];
    function initOccupation() {
        eui.use('layer',function () {
            var layer = eui.layer;
            $.post("/visitor/register/customerCount",{occupation:'occupation'}, function (result) {
                if(result.code==200){
                    var visitorList = result.data;
                    console.log(visitorList);
                    //判断职业
                    for(var i in visitorList){
                        var obj = {value: 0, name: ''}
                        var visitor= visitorList[i];
                        obj.value= visitor.count;
                        obj.name= visitor.occupation;
                        occupation.push(obj);
                        data.push(visitor.occupation);
                    }
                    console.log(data);
                    console.log(occupation);
                    initRingGraph('occupation', '职业','职业比例',data , occupation);
                }else{
                    layer.msg("加载失败请重新加载",{
                        icon: 2,
                        time: 1500
                    })
                }
            })
        })
    }

    var income = [
        {value: 0, name: '3000元以下'},
        {value: 0, name: '3000 - 6000元'},
        {value: 0, name: '6000 - 10000元'},
        {value: 0, name: '10000元以上'},
    ]
    var level = [
        {value: 0, name: '小学'},
        {value: 0, name: '初中'},
        {value: 0, name: '高中'},
        {value: 0, name: '专科'},
        {value: 0, name: '本科'},
        {value: 0, name: '研究生'},
        {value: 0, name: '博士'},
    ]
    var maritalStatus = [0,0,0,0,0,0]
    function calculation(visitorList) {
        for (var i in visitorList) {
            var visitor = visitorList[i];
            //判断收入
            if (visitor.income == '3000元以下') {
                income[0].value++;
            } else if (visitor.income == '3000 - 6000元') {
                income[1].value++;
            } else if (visitor.income == '6000 - 10000元') {
                income[2].value++;
            } else {
                income[3].value++;
            }

            //判断教育程度
            if (visitor.educationLevel == 1) {
                level[0].value++;
            } else if (visitor.educationLevel == 2) {
                level[1].value++;
            } else if (visitor.educationLevel == 3) {
                level[2].value++;
            } else if (visitor.educationLevel == 4) {
                level[3].value++;
            } else if (visitor.educationLevel == 5) {
                level[4].value++;
            } else if (visitor.educationLevel == 6) {
                level[5].value++;
            } else if (visitor.educationLevel == 7) {
                level[6].value++;
            } else if (visitor.educationLevel == 8) {
                level[7].value++;
            }

            if (visitor.maritalStatus == 1) {
                maritalStatus[0]++;
            } else if (visitor.maritalStatus == 2) {
                maritalStatus[1]++;
            } else if (visitor.maritalStatus == 3) {
                maritalStatus[2]++;
            } else if (visitor.maritalStatus == 4) {
                maritalStatus[3]++;
            } else if (visitor.maritalStatus == 5) {
                maritalStatus[4]++;
            } else {
                maritalStatus[5]++;
            }
        }
        initRingGraph('income', '收入','收入比例', ['3000元以下','3000 - 6000元','6000 - 10000元','10000元以上'], income);
        status('status', '婚姻状况','婚姻状况比例',['未婚','已婚','分居','再婚','离婚独居','丧偶独居'],maritalStatus);
//        pieChart('level', '教育程度', '教育程度比例',['小学','初中','高中','专科','本科','研究生','博士'], level);
        init('level','教育程度比例',['小学','初中','高中','专科','本科','研究生','博士'],level);
    }

    //初始化饼图
    function pieChart(id,text,name,data,data1) {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(id), 'macarons');
        option = {
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: data
            },
            series : [
                {
                    name: name,
                    type: 'pie',
                    radius : '96',
                    center: ['50%', '50%'],
                    data: data1,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    }

    //初始化环形图
    function initRingGraph(id, text ,name, data, data1) {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(id), 'macarons');
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data:data
            },
            series: [
                {
                    name:name,
                    type:'pie',
                    radius: [54, 96],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:data1
                }
            ]
        };
        myChart.setOption(option);
    }
    //初始化南丁格尔玫瑰图
    function init(id,name,nameData,data) {
        console.log(data)
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(id), 'macarons');
        myChart.showLoading();
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#fd9173', '#f36f8a', '#5f71d2', '#42a4eb', '#4ac7f5'],
            legend: { //图例组件，颜色和名字
                left: '55',
                top: '50',
                orient: 'vertical',
                itemGap: 12, //图例每项之间的间隔
                itemWidth: 10,
                itemHeight: 10,
                icon: 'rect',
                data: nameData,
                textStyle: {
                    color: [],
                    fontStyle: 'normal',
                    fontFamily: '微软雅黑',
                    fontSize: 12,
                }
            },
            series: [{
                name: name,
                type: 'pie',
                clockwise: false, //饼图的扇区是否是顺时针排布
                minAngle: 20, //最小的扇区角度（0 ~ 360）
                center: ['50%', '50%'], //饼图的中心（圆心）坐标
                radius: [54, 96], //饼图的半径
                avoidLabelOverlap: false, ////是否启用防止标签重叠
                itemStyle: { //图形样式
                    normal: {
                        borderWidth: 1.5,
                    },
                },
                label: { //标签的位置
                    normal: {
                        show: true,
                        position: 'inside', //标签的位置
                        formatter: "{d}%",
                        textStyle: {
                            color: '#fff',
                        }
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontWeight: 'bold'
                        }
                    }
                },
                data: data
            }, {
                name: '',
                type: 'pie',
                clockwise: false,
                silent: true,
                minAngle: 20, //最小的扇区角度（0 ~ 360）
                center: ['50%', '50%'], //饼图的中心（圆心）坐标
                radius: [0, 49], //饼图的半径
                itemStyle: { //图形样式
                    normal: {
                        borderColor: '#1e2239',
                        borderWidth: 1.5,
                        opacity: 0.21,
                    }
                },
                label: { //标签的位置
                    normal: {
                        show: false,
                    }
                },
                data: data
            }]
        };
        myChart.hideLoading();
        myChart.setOption(option);
    }


    var sum = [0,0,0,0,0,0,0,0,0,0,0,0];
    //客户总数曲线图
    function customerSum(visitorList) {
        for (var i in visitorList) {
            var visitor = visitorList[i];
            var date = new Date(visitor.createTime).getMonth()+1;
            var year = new Date(visitor.createTime).getYear();
            var now =  new Date().getYear();
            if(year!=now)
                continue;
            if(date==1){
                sum[0]++;
            }else if(date==2){
                sum[1]++;
            }else if(date==3){
                sum[2]++;
            }else if(date==4){
                sum[3]++;
            }else if(date==5){
                sum[4]++;
            }else if(date==6){
                sum[5]++;
            }else if(date==7){
                sum[6]++;
            }else if(date==8){
                sum[7]++;
            }else if(date==9){
                sum[8]++;
            }else if(date==10){
                sum[9]++;
            }else if(date==11){
                sum[10]++;
            }else if(date==12){
                sum[11]++;
            }
        }
        brokenLineGraph('sum','客户增长曲线图',['客户增长'],'客户增长',sum);
    }

    //初始化折线图
    function brokenLineGraph(id,text,data,name,data1) {
        var myChart = echarts.init(document.getElementById(id), 'macarons');
        option = {
            title: {
                text: text
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:data
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:name,
                    type:'line',
                    stack: '总量',
                    data:data1
                }
            ]
        };
        myChart.setOption(option);
    }

    function status(id,text,name,data,data1) {
        var myChart = echarts.init(document.getElementById(id), 'macarons');
        option = {
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : data,
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            //修改柱状条的颜色color
            itemStyle: {
                normal: {
                    //柱形图圆角，初始化效果
                    barBorderRadius: [300, 300, 0, 0],
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: '#5ab1ef'
                    }, {
                        offset: 1,
                        color: '#2ec7c9'

                    }]),
                    shadowBlur: 100,
                    shadowColor: 'rgba(0, 0, 0, 0.1)'
                }
            },
            series : [
                {
                    name: name,
                    type:'bar',
                    barWidth: '24%',
                    data:data1
                }
            ]
        };
        myChart.setOption(option);
    }
</script>
</html>