<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>来访预约</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <style>
        #ui-id-1{height: 200px; overflow: scroll;}
        .btns{position:fixed; right:20px; bottom:20px;}
        .error{color: red;font-size: 12px;}


    </style>
</head>
<body class="eui-bg-white">

    <input type="hidden" th:value="${type}" id="type" />
    <input type="hidden" th:value="${id}" id="idold" />
    <div class="eui-bg-white eui-form visitorContent eui-padding20">
        <form id="scheduleForm" onsubmit="return false;">
            <input type="hidden" name="visitorId" id="visitorId">

            <input type="hidden" name="id">
            <input type="hidden" name="consultantId">
            <input type="hidden" name="visitorTotal">
            <input type="hidden" name="createTime">
            <input type="hidden" name="creator">
            <input type="hidden" name="deleted">

        <div class="eui-form-item">
            <label class="eui-form-label">预约客户</label>
            <div class="eui-input-inline">
                <input onblur="checkCustomerValidity()" type="text" placeholder="输入客户姓名查询"  name="visitorName"
                         id="visitorName"
                         class="eui-input eui-width400"/>
                <span class="infos"></span>
            </div>
        </div>
            <div class="eui-form-item">
                <label class="eui-form-label">联系方式</label>
                <div class="eui-input-inline">
                    <input type="text" name="phone"   class="eui-input eui-width400"/>
                </div>
            </div>

        <div class="eui-form-item">
            <label class="eui-form-label">预约时间</label>
            <div class="eui-input-inline">
                <input type="text" name="visitorTime" id="visitorTime" readonly="readonly"  placeholder="请选择预约时间"
                       class="eui-input eui-width400"/>
            </div>
        </div>
        <div class="eui-form-item">
            <label class="eui-form-label">预约描述</label>
            <div class="eui-input-inline">
                <!--<input type="text" name="describes"   placeholder="请输入预约描述" class="eui-input eui-width400"/>-->
                <textarea class="eui-textarea eui-width400" name="describes" placeholder="请输入预约描述"></textarea>
            </div>
        </div>

            <th:block th:if="${schedule!=null}">
                <div class="eui-form-item">
                    <label class="eui-form-label">&nbsp;</label>
                    <a target="_blank"  th:href="@{'/web/customer/visitorInfo?id='+${schedule.visitorId}+'&time='+${schedule.visitorTime}}"
                    >来访记录</a>
                </div>
            </th:block>



            <input style="display: none;" type="submit" id="submitBtn" />
        </form>




        <div class="eui-col-md6 eui-textAlignR btns">
            <a class="eui-btn eui-btn-small eui-btn-normal" onclick="save()" >保存</a>
            <a class="eui-btn eui-btn-small eui-btn-primary" onclick="parent.layuiAlertClose();">取消</a>
        </div>
    </div>
    <input type="hidden" id="creator" th:value="${session.userSession.id}" />
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>


<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script>
        eui.use(['form', 'laydate', 'element'], function () {
            var form = eui.form
                , element = eui.element
                , laydate = eui.laydate;
            laydate.render({
                elem: '#visitorTime'
                ,type: 'datetime'
            });

            defaultData();
        });

        function save() {
           return $("#submitBtn").click();
        }

        $(function() {
            // 手机号码验证
            jQuery.validator.addMethod("isMobile", function(value, element) {
                var length = value.length;
                var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                return this.optional(element) || (length == 11 && mobile.test(value));
            }, "请正确填写您的手机号码");

            $("#scheduleForm").validate({
                rules: {
                    visitorName: {
                        required : true,

                    },
                    visitorTime: {
                        required: true,
                    },
                    describes: {
                        required: true,
                    },
                    phone: {
                        required: true,
                        isMobile:true,
                        minlength : 11,
                    }
                },
                messages: {
                    visitorName: {
                        required : "请输入预约客户",
                    },
                    visitorTime: {
                        required: "请选择预约时间",
                    },
                    describes: {
                        required: "请输入预约描述",
                    },
                    phone: {
                        required : "请输入手机号",
                        minlength : "确认手机不能小于11个字符",
                        isMobile : "请正确填写您的手机号码"
                    }
                },
                submitHandler: function() {
                        var obj = $("#scheduleForm").serializeObject();
                    if ($("#type").val()=='update'){
                        $.post('/schedule/update',{json:JSON.stringify(obj)},function (result) {
                            if (result.code==200){
                                parent.layuiAlertClose(true);
                            }else {
                                layer.msg(result.message);
                            }
                        });
                    }else {
                        $.post('/schedule/add',{json:JSON.stringify(obj)},function (result) {
                            if (result.code==200){
                                parent.layuiAlertClose(true);
                            }else {
                                layer.msg(result.message);
                            }
                        });
                    }
                }
            });

//            $('#visitorName').bind('input propertychange', function() {
//                var textValue = $(this).val();
//                var params = new Object();
//                params.visitorName=textValue;
//                params.creator=$('#creator').val();
////                loadList(params);
//            });

            if ($("#type").val()=='update'){
                $.post('/schedule/detail',{id:$("#idold").val()},function (result) {
                    result.data.visitorTime=new Date(result.data.visitorTime).Format('yyyy-MM-dd hh:mm:ss');
                    $("#scheduleForm").setForm(result.data);
                    $("#scheduleForm textarea[name='describes']").val( result.data.describes)
                });
            }

        });
        function defaultData() {
            var params = new Object();
            params.visitorName='';
            params.creator=$('#creator').val();
            loadList(params);
        }
        function loadList(params) {
            $.post('/visitor/register/listByparameter',{json:JSON.stringify(params),
                page:1,
                pagesize:500},function (result) {
                var arr = new Array();
                var projects1 = result.data.list;
                if (projects1.length>0){
                    for (var i=0;i<projects1.length;i++){
                        var obj = new Object();
                        obj.value=projects1[i].visitorName;
                        obj.visitorId=projects1[i].id;
                        obj.phone=projects1[i].phone;
                        arr.push(obj);
                    }
                    fuzzyInput(arr)
                }
            });
        }

        function fuzzyInput(arr) {
            $( "#visitorName" ).autocomplete({
                minLength: 0,
                source: arr,
                focus: function( event, ui ) {
                    $( "#visitorName" ).val( ui.item.value );
                    $( "#visitorId" ).val( ui.item.visitorId );
                    $("#scheduleForm input[name='phone']").val(ui.item.phone );
                    return false;
                },
                select: function( event, ui ) {
                    $( "#visitorName" ).val( ui.item.value );
                    $( "#visitorId" ).val( ui.item.visitorId );
                    $("#scheduleForm input[name='phone']").val(ui.item.phone );
                    return false;
                }
            });
        }
        function checkCustomerValidity() {
            var obj = $("#visitorName").val();

            if (obj!='') {
            var params = new Object();
            params.visitorName=obj;
            params.creator=$('#creator').val();
            if (params.visitorName!=''){
                $.post('/visitor/register/listByparameter',{json:JSON.stringify(params),
                    page:1,
                    pagesize:11},function (result) {
                    if (result.data.list.length == 0){
                        $('.infos').html('<label style="color: red;font-size: 12px">没有 '+params.visitorName+' 这个客户</label>');
                        $(obj).val('');
                    }else {
                        $('.infos').html('')
                        $( "#visitorName" ).val( result.data.list[0].visitorName );
                        $( "#visitorId" ).val(result.data.list[0].id );
                        $("#scheduleForm input[name='phone']").val(result.data.list[0].phone );
                    }
                });
            }
            }
        }


    </script>
</body>
</html>