<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>客户登记</title>
    <link href="/Styles/themes/default/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/Styles/themes/mycss/animate-tool.css">
    <style>
        .default_hide{display: none;}
        #ui-id-1{height: 200px; overflow: scroll;}
        .eui-form-label{width: 100px;
            text-align: left;}
        .eui-width700{
            width: 700px!important;
        }
        .error{color: red;font-size: 12px;}
    </style>
</head>
<body class="questionBody">
    <div class="questionHeader">
        <div class="eui-row eui-area">
            <div class="xymfLogo">
                <img src="/Styles/images/xymfImages/xymf/logo.png" alt="">
                <span class="payCentre">来访登记</span>
            </div>
        </div>
    </div>
    <div class="visitorContent xymfMargin">
        <div class="eui-area">
            <div class="visitorTitle eui-row">
                <div class="eui-col-md7"><img src="/Styles/images/xymfImages/cube.png" width="24" alt="">  个人信息卡</div>
                <div class="eui-col-md5 eui-row updateProcess eui-col-offset1">
                    <div class="updateProcess-this">
                        <p class="updateNum eui-col-md1 eui-col-offset1">1</p>
                        <p class="updateFont eui-col-md1 eui-marginLR5">基本信息</p>
                        <p class="updateLine eui-col-md1"></p>
                    </div>
                    <div>
                        <p class="updateNum eui-col-md1">2</p>
                        <p class="updateFont eui-col-md1 eui-marginLR5">家庭信息</p>
                        <p class="updateLine eui-col-md1"></p>
                    </div>
                    <div>
                        <p class="updateNum eui-col-md1">3</p>
                        <p class="updateFont eui-col-md1 eui-marginLR5">咨询情况</p>
                    </div>
                </div>
            </div>

            <div class="entirety eui-bg-white">
                <div style="display: block;" class="flip in eui-bg-white eui-padding20 visitor commonDiv">
                    <!--<div class="eui-row eui-paddingB10 eui-borderB eui-marginB20">
                        <div class="eui-col-md6 eui-font20">基本信息</div>
                        <div class="eui-col-md6 eui-textAlignR eui-paddingT10 upward eui-cursorp">
                        </div>
                    </div>-->
                    <!--基本-->
                    <form id="baseInfoForm" onsubmit="return false;">
                        <div class="eui-bg-white eui-form">
                        <div class="eui-form-item">
                            <label class="eui-form-label">姓名</label>
                            <div class="eui-input-inline">
                                <input  type="text" name="visitorName"   placeholder="请输入姓名" class="eui-input">
                            </div>
                            <label class="eui-form-label">身份证号</label>
                            <div class="eui-input-inline">
                                <input type="text" name="idCard"  placeholder="请输入身份证号码" class="eui-input">
                            </div>
                            <label class="eui-form-label">出生年月</label>
                            <div class="eui-input-inline">
                                <input type="text" class="eui-input" readonly="readonly" id="test11" name="birthday" placeholder="">
                            </div>
                        </div>
                        <div class="eui-form-item">
                            <label class="eui-form-label">籍贯</label>
                            <div class="eui-input-inline">
                                <input type="text" readonly="readonly" name="nativePlace"   placeholder="" class="eui-input">
                            </div>
                            <label class="eui-form-label">性别</label>
                            <div class="eui-input-inline">
                                <input type="radio" name="sex" value="1" title="男" >
                                <input type="radio" name="sex" value="0" title="女">
                            </div>

                            <label class="eui-form-label">年龄</label>
                            <div class="eui-input-inline">
                                <input type="text" disabled="disabled" name="age"  placeholder="" class="eui-input">
                            </div>

                        </div>

                        <div class="eui-form-item">

                            <label class="eui-form-label">民族</label>
                            <div class="eui-input-inline">
                                <input type="text" name="nation"  placeholder="H 汉族" class="eui-input">
                            </div>
                            <label class="eui-form-label">手机号码</label>
                            <div class="eui-input-inline">
                                <input type="text" name="phone"   placeholder="请输入手机号码" class="eui-input">
                            </div>
                            <label class="eui-form-label">Email地址</label>
                            <div class="eui-input-inline">
                                <input type="email" name="email"  placeholder="请输入Email地址" class="eui-input">
                            </div>
                        </div>

                        <div  data-toggle="distpicker">
                            <div class="eui-form-item">
                                <label class="eui-form-label">所在地</label>
                                <div id="ld" data-toggle="distpicker">
                                    <div class="eui-input-inline">
                                        <select id="province" data-province="" class="eui-input" e-ignore name="province">
                                        </select>
                                    </div>
                                    <div class="eui-input-inline">
                                        <select data-city="" id="city" class="eui-input" e-ignore name="city">
                                        </select>
                                    </div>
                                    <div class="eui-input-inline">
                                        <select data-district="" id="district" class="eui-input" e-ignore name="district">
                                        </select>
                                    </div>
                                </div>
                                <div class="eui-input-inline">
                                    <input type="text" name="address"  placeholder="请输入通讯具体地址" class="eui-input" style="width: 250px;">
                                </div>
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">职业</label>
                            <div class="eui-input-inline">
                                <select  class="eui-input" e-ignore e-ignore1 name="occupation">
                                    <option value="">请选择</option>
                                    <option th:each="category:${selectOptionList}" th:value="${category.optionName}"
                                            th:text="${category.optionName}"  ></option>
                                </select>
                            </div>
                            <label class="eui-form-label">收入水平</label>
                            <div class="eui-input-inline">
                                <select  class="eui-input" name="income">
                                    <option value="">请选择</option>
                                    <option value="3000元以下">3000元以下</option>
                                    <option value="3000 - 6000元">3000 - 6000元</option>
                                    <option value="6000 - 10000元">6000 - 10000元</option>
                                    <option value="10000元以上">10000元以上</option>
                                </select>
                            </div>

                        </div>
                        <div class="eui-form-item">
                            <label class="eui-form-label">紧急联系人关系</label>
                            <div class="eui-input-inline">
                                <select  class="eui-input" e-ignore name="exigenceContacts">
                                    <option value="">请选择</option>
                                    <option value="父子">父子</option>
                                    <option value="母子">母子</option>
                                    <option value="兄弟姐妹">兄弟姐妹</option>
                                    <option value="朋友/同事">朋友/同事</option>
                                </select>
                            </div>
                            <label class="eui-form-label">紧急联系人电话</label>
                            <div class="eui-input-inline">
                                <input type="text" name="exigencePhone" placeholder="请输入紧急联系人电话"  class="eui-input">
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">血型</label>
                            <div  class="eui-input-block">
                                <input type="radio" name="bloodType" value="A型" title="A型">
                                <input type="radio" name="bloodType" value="B型" title="B型">
                                <input type="radio" name="bloodType" value="AB型" title="AB型">
                                <input type="radio" name="bloodType" value="O型" title="O型">
                                <input type="radio" name="bloodType" value="不知道" title="不知道">
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">教育程度</label>
                            <div class="eui-input-block">
                                <input type="radio"  name="educationLevel" value="1" title="小学" >
                                <input type="radio"  name="educationLevel" value="2" title="初中">
                                <input type="radio" name="educationLevel" value="3" title="高中">
                                <input type="radio" name="educationLevel" value="4" title="专科">
                                <input type="radio" name="educationLevel" value="5" title="本科">
                                <input type="radio" name="educationLevel" value="6" title="研究生">
                                <input type="radio" name="educationLevel" value="7" title="博士">
                            </div>
                        </div>
                        <div class="eui-form-item" pane="">
                            <label class="eui-form-label">宗教信仰</label>
                            <div class="eui-input-block">
                                <input type="radio" name="religiousBelief" value="0" title="没有" >
                                <input type="radio" name="religiousBelief" value="1" title="基督教">
                                <input type="radio" name="religiousBelief" value="2" title="佛教">
                                <input type="radio" name="religiousBelief" value="3" title="道教">
                                <input type="radio" name="religiousBelief" value="4" title="天主教">
                                <input type="radio" name="religiousBelief" value="5" title="伊斯兰教">
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">婚姻情况</label>
                            <div class="eui-input-block">
                                <input type="radio" name="maritalStatus" e-filter="maritalStatus" value="1"  title="未婚" >
                                <input type="radio" name="maritalStatus" e-filter="maritalStatus" value="2" title="已婚">
                                <input type="radio" name="maritalStatus" e-filter="maritalStatus" value="3" title="已婚分居">
                                <input type="radio" name="maritalStatus" e-filter="maritalStatus" value="4" title="再婚">
                                <input type="radio" name="maritalStatus" e-filter="maritalStatus" value="5" title="离婚独居">
                                <input type="radio" name="maritalStatus" e-filter="maritalStatus" value="6" title="丧偶独居">
                            </div>
                        </div>
                        <div style="display: none" class="marital">
                            <div class="eui-form-item">
                                <label class="eui-form-label">结婚年数</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="marryTotal"   placeholder="请输入结婚年数" class="eui-input">
                                </div>

                                <label class="eui-form-label">是否有孩子</label>
                                <div class="eui-input-inline">
                                    <input type="radio" e-filter="Have_children" name="Have_children" value="1" title="有">
                                    <input type="radio" e-filter="Have_children" name="Have_children" value="0" title="无" >
                                </div>
                            </div>

                            <div style="display: none;" class="eui-form-item children_info">
                                <label class="eui-form-label">第一个孩子性别</label>
                                <div class="eui-input-inline">
                                    <input type="radio" name="childSex" value="1" title="男" >
                                    <input type="radio" name="childSex" value="0" title="女">
                                </div>
                                <label class="eui-form-label">第一个孩子年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="childAge"   placeholder="请输入孩子年龄" class="eui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="eui-textAlignC eui-paddingTB20">
                        <a onclick="$('#baseInfoForm').submit()" class="eui-btn eui-btn-normal">下一步</a>
                    </div>
                </div>
                <!--家庭-->
                <div style="display: none;" class="flip out eui-bg-white  eui-padding20 visitor commonDiv">
                    <!--<div class="eui-row eui-paddingB10 eui-borderB eui-marginB20">
                        <div class="eui-col-md6 eui-font20">家庭情况</div>
                        <div class="eui-col-md6 eui-textAlignR eui-paddingT10 upward eui-cursorp">

                        </div>
                    </div>-->
                    <form id="familyForm" onsubmit="return false">
                    <div class="eui-bg-white eui-form">
                        <div class="eui-form-item">
                            <label class="eui-form-label">父亲是否健在</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="father_is_alive" name="father_is_alive" value="1" title="是" >
                                <input type="radio" e-filter="father_is_alive" name="father_is_alive" value="0" title="否">
                            </div>
                        </div>

                        <div class="eui-form-item">

                            <div style="display: none;" class="father_leave">
                                <label style="width: 150px" class="eui-form-label">父亲去世时你的年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="fatherDeathYourAge"   placeholder="请输入父亲去世时你的年龄" class="eui-input">
                                </div>
                            </div>

                            <div style="display: block;" class="father_info">
                                <label class="eui-form-label">父亲职业</label>
                                <div class="eui-input-inline">
                                    <select  class="eui-input"  name="fatherOccupation">
                                        <option value="">请选择</option>
                                        <option th:each="category:${selectOptionList}" th:value="${category.optionName}"
                                                th:text="${category.optionName}"  ></option>
                                    </select>
                                </div>

                                <label class="eui-form-label">父亲年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="fatherAge"   placeholder="请输入父亲年龄" class="eui-input">
                                </div>

                                <label class="eui-form-label">父亲学历</label>
                                <div class="eui-input-inline">
                                    <select name="fatherEducation"   class="eui-input">
                                        <option value="">请选择</option>
                                        <option value="小学">小学</option>
                                        <option value="初中">初中</option>
                                        <option value="高中">高中</option>
                                        <option value="专科">专科</option>
                                        <option value="本科">本科</option>
                                        <option value="研究生">研究生</option>
                                        <option value="博士">博士</option>
                                    </select>

                                </div>
                            </div>

                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">母亲是否健在</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="mother_is_alive" name="mother_is_alive" value="1" title="是" >
                                <input type="radio" e-filter="mother_is_alive" name="mother_is_alive" value="0" title="否">
                            </div>
                        </div>

                        <div class="eui-form-item">

                            <div style="display: none;" class="mother_leave">
                                <label  style="width: 150px" class="eui-form-label">母亲去世时你的年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="motherDeathYourAge"   placeholder="请输入母亲去世时你的年龄" class="eui-input">
                                </div>
                            </div>

                            <div style="display: block;" class="mother_info">
                                <label class="eui-form-label">母亲职业</label>
                                <div class="eui-input-inline">
                                    <select  class="eui-input" e-ignore1 name="motherOccupation">
                                        <option value="">请选择</option>
                                        <option th:each="category:${selectOptionList}" th:value="${category.optionName}"
                                                th:text="${category.optionName}"  ></option>
                                    </select>
                                </div>

                                <label class="eui-form-label">母亲年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="motherAge"   placeholder="请输入母亲年龄" class="eui-input">
                                </div>

                                <label class="eui-form-label">母亲学历</label>
                                <div class="eui-input-inline">
                                    <select name="motherEducation" class="eui-input">
                                        <option value="">请选择</option>
                                        <option value="小学">小学</option>
                                        <option value="初中">初中</option>
                                        <option value="高中">高中</option>
                                        <option value="专科">专科</option>
                                        <option value="本科">本科</option>
                                        <option value="研究生">研究生</option>
                                        <option value="博士">博士</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">父母是否分居</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="parental_separation" name="parental_separation" value="1" title="是">
                                <input type="radio" e-filter="parental_separation" name="parental_separation" value="0" title="否" >
                            </div>

                            <div style="display: none" class="parentalSeparationYourAge">
                                <label style="width: 150px;" class="eui-form-label">父母分居时你的年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="parentalSeparationYourAge"   placeholder="请输入父母分居时你的年龄" class="eui-input">
                                </div>
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">父母是否离婚</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="divorce" name="divorce" value="1" title="是">
                                <input type="radio" e-filter="divorce" name="divorce" value="0" title="否" >
                            </div>

                            <div style="display: none;" class="divorce">
                                <label style="width: 150px;" class="eui-form-label">父母离婚时你的年龄</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="parentalDivorceYourAge"   placeholder="请输入父母离婚时你的年龄" class="eui-input">
                                </div>
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">兄弟姐妹人数</label>
                            <div class="eui-input-inline">
                                <input type="text" name="brothersSistersTotal" class="eui-input" placeholder="请输入兄弟姐妹人数">
                            </div>

                            <div class="default_show">
                                <label class="eui-form-label">排行第几</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="brothersSistersRanking"   placeholder="请输入排行第几" class="eui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="eui-textAlignC eui-paddingTB20">
                        <a onclick="tabShowHide(0)" class="eui-btn eui-btn-normal">上一步</a>
                        <a onclick="$('#familyForm').submit()"  class="eui-btn eui-btn-normal">下一步</a>
                    </div>
                </div>

                <!--咨询-->
                <div  style="display: none;" class="flip out eui-bg-white eui-padding20 visitor commonDiv">
                    <!--<div class="eui-row eui-paddingB10 eui-borderB eui-marginB20">
                        <div class="eui-col-md6 eui-font20">咨询情况</div>
                        <div class="eui-col-md6 eui-textAlignR eui-paddingT10 upward eui-cursorp">


                        </div>
                    </div>-->
                    <form id="consultForm" onsubmit="return false;">
                        <input type="hidden" name="id" th:value="${id}">
                        <input type="hidden" name="creator" >
                        <input type="hidden" name="createTime" >
                        <input type="hidden" name="deleted" >
                        <input type="hidden" name="visitorCode">

                        <div class="eui-bg-white eui-form">
                        <div class="eui-form-item">
                            <label class="eui-form-label" style="width: 240px;">以前进行过心里咨询吗？</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="psychologicalCounseling" name="psychologicalCounseling" value="0" title="没有" >
                                <input type="radio" e-filter="psychologicalCounseling" name="psychologicalCounseling" value="1" title="有">
                            </div>
                        </div>

                        <div style="display: none;" class="consult_info">
                            <div class="eui-form-item">

                                <label style="width: 240px;" class="eui-form-label">做过几次咨询</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="counselingTotal"   placeholder="请输入做过几次咨询" class="eui-input">
                                </div>

                                <label style="width: 240px;" class="eui-form-label">最近一次咨询距现在多少天</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="awayNowTotal"   placeholder="请输入最近一次咨询距现在多少天" class="eui-input">
                                </div>

                            </div>
                        </div>

                        <div style="display: none;" class="consult_info">
                            <div class="eui-form-item">

                                <label style="width: 240px;" class="eui-form-label">最近一次咨询的地址</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="counselingAddress"   placeholder="请输入最近一次咨询的地址" class="eui-input">
                                </div>

                                <label style="width: 240px;" class="eui-form-label">是否因心理问题就医</label>
                                <div class="eui-input-inline">
                                    <input type="radio" name="medicalTreatment" value="2" title="否">
                                    <input type="radio" name="medicalTreatment" value="1" title="是">
                                </div>

                            </div>
                        </div>
                        <div style="display: none;" class="consult_info">
                            <div class="eui-form-item">
                                <label style="width: 240px;" class="eui-form-label">最近一次诊断结果</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="diagnosisResult"   placeholder="请输入最近一次诊断结果" class="eui-input eui-width700">
                                </div>
                            </div>
                        </div>

                        <div class="eui-form-item">

                            <label class="eui-form-label" style="width: 240px;">是否慢性疾病,家族病史和过敏史</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="medicalHistory" name="medicalHistory" value="0" title="没有" >
                                <input type="radio" e-filter="medicalHistory" name="medicalHistory" value="1" title="有">
                            </div>
                            <div style="display: none" class="medicalHistory">
                                <label class="eui-form-label">具体情况</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="specificCircumstances" style="width: 370px"  placeholder="请输入具体情况" class="eui-input">
                                </div>
                            </div>
                        </div>

                        <div class="eui-form-item">

                            <label class="eui-form-label" style="width: 240px;">曾长期服用过何种药物?</label>
                            <div class="eui-input-inline">
                                <input type="radio" e-filter="longMedication" name="longMedication" value="0" title="没有" >
                                <input type="radio" e-filter="longMedication"  name="longMedication" value="1" title="有">
                            </div>
                            <div style="display: none" class="LongMedication">
                                <label class="eui-form-label">药物不良症状</label>
                                <div class="eui-input-inline">
                                    <input type="text" name="adverseDrugSymptoms" style="width: 370px"  placeholder="请输入药物不良症状" class="eui-input">
                                </div>
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label style="width: 240px;" class="eui-form-label">目前与健康有关的疾病及所接受的治疗</label>
                            <div class="eui-input-inline">
                                <input type="text" name="treatmentCondition"
                                       placeholder="请输入目前与健康有关的疾病及所接受的治疗" class="eui-input eui-width700">
                            </div>
                        </div>


                    </div>
                    </form>
                    <div class="eui-textAlignC eui-paddingTB20">
                        <a onclick="tabShowHide(1)" class="eui-btn eui-btn-normal">上一步</a>
                        <a onclick="$('#consultForm').submit()"  class="eui-btn eui-btn-normal">保存</a>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="xymfFooter">
        <!-- 底部固定区域 -->
        © 2017 广州市易度软件开发有限公司旗下心云魔方品牌
    </div>

</body>
<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/plugins/distpicker.data.js"></script>
<script src="/Scripts/plugins/distpicker.js"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script src="/pack.ajax.js"></script>
<script src="/card.js"></script>
<script src="/date2format.js"></script>
<script src="/nation.js"></script>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script>
    var form,layedit,laydate;
    eui.use(['form', 'layedit', 'laydate'], function(){
        form = eui.form
            ,layer = eui.layer
            ,layedit = eui.layedit
            ,laydate = eui.laydate;

        //常规用法
        laydate.render({
            elem: '#test1'
        });

        form.on('radio(maritalStatus)', function(data){
            if (data.value !='1'){
                $('.marital').show();
                $('.marital input').removeAttr('disabled');

            }else {
                $('.marital').hide();
                $('.marital input').attr('disabled','disabled');
            }
            form.render();
        });

        form.on('radio(Have_children)', function(data){
            if (data.value =='1'){
                $('.children_info').show();
                $('.children_info input').removeAttr('disabled');
            }else {
                $('.children_info').hide();
                $('.children_info input').attr('disabled','disabled');
            }
        });
        form.on('radio(father_is_alive)', function(data){

            if (data.value =='1'){
                $('.father_info').show();
                $('.father_leave').hide();

                $('.father_info input').removeAttr('disabled');
                $('.father_leave input').attr('disabled','disabled');
                $(".father_info select").removeAttr("disabled");
            }else {
                $('.father_info').hide();
                $('.father_leave').show();
                $('.father_info input').attr('disabled','disabled');
                $('.father_leave input').removeAttr('disabled');
                $(".father_info select").attr("disabled", true);
            }
        });

        form.on('radio(mother_is_alive)', function(data){
            if (data.value =='1'){
                $('.mother_info').show();
                $('.mother_leave').hide();

                $('.mother_info input').removeAttr('disabled');
                $('.mother_leave input').attr('disabled','disabled');
                $(".mother_info select").removeAttr("disabled");
            }else {
                $('.mother_info').hide();
                $('.mother_leave').show();
                $('.mother_info input').attr('disabled','disabled');
                $('.mother_leave input').removeAttr('disabled');
                $(".mother_info select").attr("disabled", true);
            }
        });

        form.on('radio(parental_separation)', function(data){
            if (data.value =='1'){
                $('.parentalSeparationYourAge').show();
                $('.parentalSeparationYourAge input').removeAttr('disabled');
            }else {
                $('.parentalSeparationYourAge').hide();
                $('.parentalSeparationYourAge input').attr('disabled','disabled');
            }
        });

        form.on('radio(divorce)', function(data){
            if (data.value =='1'){
                $('.divorce').show();
                $('.divorce input').removeAttr('disabled');
            }else {
                $('.divorce').hide();
                $('.divorce input').attr('disabled','disabled');

            }
        });

        form.on('radio(psychologicalCounseling)', function(data){
            if (data.value =='1'){
                $('.consult_info').show();
                $('.consult_info input').removeAttr('disabled');
                form.render();
            }else {
                $('.consult_info').hide();
                $('.consult_info input').attr('disabled','disabled');
            }
        });
        form.on('radio(medicalHistory)', function(data){
            if (data.value =='1'){
                $('.medicalHistory').show();
                $('.medicalHistory input').removeAttr('disabled');
            }else {
                $('.medicalHistory').hide();
                $('.medicalHistory input').attr('disabled','disabled');
            }
        });

        form.on('radio(longMedication)', function(data){
            if (data.value =='1'){
                $('.LongMedication').show();
                $('.LongMedication input').removeAttr('disabled');
            }else {
                $('.LongMedication').hide();
                $('.LongMedication input').attr('disabled','disabled');

            }
        });
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");
        // 身份证号码验证
        jQuery.validator.addMethod("isIdCardNo", function(value, element) {
            return this.optional(element) || idCardNoUtil.checkIdCardNo(value);
        }, "请正确输入您的身份证号码");

        jQuery.validator.addMethod("isProvincePNo", function(value, element) {
            return this.optional(element) || value!='—— 省 ——';
        }, "请选择省份");
        baseInfoFormCheck();
        familyFormCheck();
        consultFormCheck();

    });

    $(function () {
        $.post('/visitor/register/detail',{id:$("#consultForm input[name='id']").val()},function (result) {
            result.data.birthday=new Date(result.data.birthday).Format('yyyy-MM-dd');

            var obj = result.data;
            obj.Have_children=0;

            if (obj.childSex!=null && obj.childAge!=0){
                obj.Have_children=1;
                $(".children_info").show();
            }else{
                $(".children_info").hide();
            }

            $("#baseInfoForm").setForm(obj);
            $("#consultForm").setForm(obj);

            var infos = idCardNoUtil.getBirthDaySexAge(obj.idCard);
            $("#baseInfoForm").setForm(infos);

            $('#province').val(obj.province);
            $('#province').trigger("change");

            $('#city').val(obj.city);
            $('#city').trigger("change");

            $('#district').val(obj.district);
            $('#district').trigger("change");
            $("#baseInfoForm select[name='occupation'] option").each(function(){
                if($(this).text() === result.data.occupation){
                    $(this).attr('selected', 'selected');
                }
            });

            $("#familyForm select[name='motherOccupation'] option").each(function(){
                if($(this).text() === result.data.motherOccupation){
                    $(this).attr('selected', 'selected');
                }
            });
            $("#familyForm select[name='fatherOccupation'] option").each(function(){
                if($(this).text() === result.data.fatherOccupation){
                    $(this).attr('selected', 'selected');
                }
            });


            $("#baseInfoForm select[name='exigenceContacts'] option").each(function(){
                if($(this).text() === result.data.exigenceContacts){
                    $(this).attr('selected', 'selected');
                }
            });


            $("#familyForm select[name='motherEducation'] option").each(function(){
                if($(this).text() === result.data.motherEducation){
                    $(this).attr('selected', 'selected');
                }
            });
            $("#familyForm select[name='fatherEducation'] option").each(function(){
                if($(this).text() === result.data.fatherEducation){
                    $(this).attr('selected', 'selected');
                }
            });

            $("#baseInfoForm select[name='income'] option").each(function(){
                if($(this).text() === result.data.income){
                    $(this).attr('selected', 'selected');
                }
            });
            obj.father_is_alive=0;
            if (obj.fatherOccupation !='' || obj.fatherAge !=0 || obj.fatherEducation !=''){
                obj.father_is_alive=1;
            }
            obj.mother_is_alive=0;
            if (obj.motherOccupation !='' || obj.motherAge !=0 || obj.motherEducation !=''){
                obj.mother_is_alive=1;
            }

            obj.parental_separation=0;
            if (obj.parentalSeparationYourAge !=0){
                obj.parental_separation=1;
            }
            obj.divorce=0;
            if (obj.parentalDivorceYourAge !=0){
                obj.divorce=1;
            }

            $("#familyForm").setForm(obj);


            if (obj.maritalStatus !='1'){
                $('.marital').show();
                $('.marital input').removeAttr('disabled');

            }else {
                $('.marital').hide();
                $('.marital input').attr('disabled','disabled');
            }

            if (obj.fatherDeathYourAge!=''){
                $('.father_info').hide();
                $('.father_leave').show();
            }else {
                $('.father_info').show();
                $('.father_leave').hide();
            }

            if (obj.motherDeathYourAge!=''){
                $('.mother_info').hide();
                $('.mother_leave').show();
            }else {
                $('.mother_info').show();
                $('.mother_leave').hide();
            }

            if (obj.parentalSeparationYourAge!=''){
                $('#parental_separation1').attr('checked','checked');
                $('.parentalSeparationYourAge').show();
            }else {
                $('.parentalSeparationYourAge').hide();
            }
            if (obj.parentalDivorceYourAge!=''){
                $('#divorce1').attr('checked','checked');
                $('.divorce').show();
            }

            if (obj.psychologicalCounseling==1){
                $('.consult_info').show();
            }else {
                $("#consultForm input[name='medicalTreatment']").attr('disabled','disabled');
            }

            if (obj.medicalHistory==1){
                $('.medicalHistory').show();
            }
            if (obj.longMedication==1){
                $('.LongMedication').show();
            }

            eui.use(['form', 'layedit', 'laydate'], function(){
                var form = eui.form

                form.render();
            });
        });
    });
    
    function baseInfoFormCheck() {
        $("#baseInfoForm").validate({
            rules: {
                visitorName: {
                    required : true
                }
                ,
                idCard:{
                    required : true,
                    isIdCardNo:true
                },
                phone:{
                    required : true,
                    minlength : 11,
                    isMobile : true
                },
                address:{
                    required : true
                },
                nation:{
                    required : true
                },
                email:{
                    required : true,
                    email:true
                },
                province:{
                    required:true,
                    isProvincePNo:true
                },
                exigenceContacts:{
                    required:true
                },
                occupation:{
                    required:true,
                },
                exigencePhone:{
                    required : true,
                    minlength : 11,
                    isMobile : true
                },
                marryTotal:{
                    required :true,
                    digits:true
                }

            },
            messages: {
                province:{
                    required:'请选择选择省',
                    isProvincePNo:'请选择省份'
                },
                exigenceContacts:{
                    required:'请选择紧急联系人关系'
                },
                occupation:{
                    required:'请选择职业',
                },
                visitorName: {
                    required : "请输入姓名"
                },
                idCard:{
                    required : '请输入身份证号码',
                    isIdCardNo:"请输入正确的身份证号"
                },
                phone:{
                    required : '请输入手机号码',
                    minlength : "确认手机不能小于11个字符",
                    isMobile : "请正确填写您的手机号码"
                },
                address:{
                    required : '请输入通讯具体地址'
                },
                exigencePhone:{
                    required : '请输入紧急联系人电话',
                    minlength : "确认手机不能小于11个字符",
                    isMobile : "请正确填写您的手机号码"
                },
                marryTotal:{
                    required : '请输入结婚年数',
                    digits:'只能输入整数'
                },
                nation:{
                    required : '请输入民族'
                },
                email:{
                    required : '请输入Email地址',
                    email:'请输入正确Email地址'
                }
            },
            success:function(label) {
                if (label[0].htmlFor == 'idCard'){
                    var idcar = $("#baseInfoForm input[name='idCard']").val();
                    var infos = idCardNoUtil.getBirthDaySexAge(idcar);
                    infos.nativePlace=idCardNoUtil.getProvinceNameByIdNo(idcar);
                    $("#baseInfoForm").setForm(infos);
                    form.render('radio');
                }
            },
            submitHandler: function() {
                var names = {'bloodType':'请勾选血型选项','educationLevel':'请勾选教育程度选项',
                    'religiousBelief':'请勾选宗教信仰选项','maritalStatus':'请勾选婚姻情况选项',
                    'Have_children':'请勾选是否有孩子选项'}
                var checkNull =   nationUtil.checkRadioFieldNoNull(names,'baseInfoForm');
                if(checkNull!=''){
                    layer.msg(checkNull);
                    return;
                }
                $(".entirety .commonDiv").hide().addClass('out');
                $(".entirety .commonDiv").eq(1).show().removeClass('out').addClass('in');
            }
        });
    }

    function familyFormCheck() {
        $("#familyForm").validate({
            rules: {
                brothersSistersTotal: {
                    required : true,
                    digits:true

                },
                brothersSistersRanking:{
                    required : true,
                    digits:true

                }
            },
            messages: {
                brothersSistersTotal:{
                    required : '请输入兄弟姐妹人数',
                    digits:'只能输入整数'
                },
                brothersSistersRanking:{
                    required : '请输入排行第几',
                    digits:'只能输入整数'
                }
            },
            submitHandler: function() {

                $(".entirety .commonDiv").hide().addClass('out');
                $(".entirety .commonDiv").eq(2).show().removeClass('out').addClass('in');
            }
        });
    }

    function consultFormCheck() {
        $("#consultForm").validate({
            rules: {
                counselingTotal:{
                    required : true,
                    digits:true
                },
                awayNowTotal:{
                    required : true,
                    digits:true
                },
                counselingAddress:{
                    required : true
                },
                diagnosisResult:{
                    required : true
                },
                specificCircumstances:{
                    required : true
                },
                adverseDrugSymptoms:{
                    required : true
                }
            },
            messages: {
                counselingTotal:{
                    required : '做过几次咨询',
                    digits:'只能输入整数'
                },
                awayNowTotal:{
                    required : '最近一次咨询距现在多少天',
                    digits:'只能输入整数'
                },
                counselingAddress:{
                    required : '最近一次咨询的地址'
                },
                diagnosisResult:{
                    required : '最近一次诊断结果'
                },
                specificCircumstances:{
                    required : '请输入具体情况'
                },
                adverseDrugSymptoms:{
                    required : '请输入药物不良症状'
                }
            },
            submitHandler: function() {
                var names = {psychologicalCounseling:'请勾选以前进行过心里咨询吗',
                    medicalTreatment:'请勾选是否因心理问题就医',
                    medicalHistory:'请勾选是否慢性疾病,家族病史和过敏史',
                    psychologicalCounseling:'请勾选以前进行过心里咨询吗',
                    'longMedication':'请勾选曾长期服用过何种药物'}
                var checkNull =   nationUtil.checkRadioFieldNoNull(names,'consultForm');
                if(checkNull!=''){
                    layer.msg(checkNull);
                    return;
                }
                var obj1 = $("#baseInfoForm").serializeObject();
                var obj2 = $("#familyForm").serializeObject();
                var obj3 = $("#consultForm").serializeObject();
                var empty = Object();
                $.extend(empty , obj1, obj2,obj3);
                layer.load();
                $.post('/visitor/register/update',{json:JSON.stringify(empty)},function (result) {
                    if (result.code==200){
                        layer.msg(result.message);
                        layer.closeAll();
                        self.opener.location.reload();
                    }else {
                        layer.msg(result.message);
                    }
                });
            }
        });
    }

    function tabShowHide(index) {
        $(".entirety .commonDiv").hide().addClass('out').removeClass('in');
        $(".entirety .commonDiv").eq(index).show().removeClass('out').addClass('in');
    }



</script>
</html>