<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>来访管理</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <style>
        .defaultDiv{width: 100%;}
        .formDiv .eui-form-item label{
            width: 80px;
            padding: 9px 20px;
            text-align: left;
        }
        .subBtn{color: white; background: #3f89ec;}

        input[type="button"],[type="submit"]{
            cursor: pointer;
        }
        input[name='userName'],[name='addr']{
            border: 1px solid #1aa194;
        }
        input[type='text']{height: 30px; line-height: 30px;}

        .eui-form-label{padding: 5px 15px;}
        .eui-input-inline{margin-left: 20px;}
        .tb{cursor: pointer;margin-left: 5px;}

        table { table-layout: fixed;}
        td { white-space: nowrap;overflow: hidden;
            text-overflow: ellipsis;}
    </style>
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/cube/common/header :: header">Header</div>
    <div class="eui-area">
        <div th:replace="project/cube/common/left :: left">sidebar</div>
        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent">
                <div class="defaultDiv">
                    <form id="searchFrom" onsubmit="return false;">
                        <input type="hidden" name="creator" th:value="${session.userSession.id}" />
                            <div class="eui-form eui-margin10">
                                <div class="eui-form-item">
                                    <label class="eui-form-label">客户姓名</label>
                                    <div class="eui-input-inline eui-width200">
                                        <input type="text" name="visitorName"  placeholder="关键字查询" class="eui-input eui-width200">
                                    </div>
                                        <label class="eui-form-label">联系方式</label>
                                        <div  class="eui-input-inline eui-width200">
                                            <input  type="text" name="phone"  placeholder="手机" class="eui-input eui-width200">
                                        </div>

                                    <div class="eui-input-inline eui-width200">
                                        <span  class="eui-btn eui-btn-small eui-btn-normal" onclick="doSearch()"  >查询</span>
                                        <span class="eui-btn eui-btn-small eui-btn-primary" onclick="resetForm()">重置</span>
                                    </div>
                                </div>

                                <div class="eui-form-item">
                                    <label class="eui-form-label">类型</label>
                                    <div class="eui-input-inline eui-width200">
                                        <select e-filter="type" name="type">
                                            <option value="">全部</option>
                                            <option value="2">预约</option>
                                            <option value="1">来访</option>

                                        </select>
                                    </div>
                                    <label class="eui-form-label">时间区间</label>
                                    <div class="eui-input-inline eui-width200">
                                        <input  type="text" name="visitor_time" id="visitor_time"  placeholder="请选择" class="eui-input ">
                                    </div>
                                </div>
                            </div>
                    </form>
                    <div class="eui-row eui-padding10 eui-borderB">
                        <div class="eui-col-md6 eui-font18">
                           &nbsp;
                        </div>
                        <div class="eui-col-md6 eui-textAlignR">
                            <a onclick="openSchrdule('add','')" class="eui-btn eui-btn-small eui-btn-normal">来访预约</a>
                        </div>
                    </div>

                    <div class="xymfForm">
                        <table class="eui-table eui-form" e-even e-skin="nob" id="userTable">
                            <colgroup>
                                <col width="60">
                                <col width="150">
                                <col width="80">
                                <col width="100">
                                <col width="120">
                                <col width="350">
                                <col >
                            </colgroup>
                            <thead>
                            <tr>
                                <th><input type="checkbox" e-skin="primary" title=""></th>
                                <th>时间</th>
                                <th>类型</th>
                                <th>客户姓名</th>
                                <th>联系方式</th>
                                <th>描述</th>
                                <th>操    作</th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                        <div style="margin-left: 30px;" id="pages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="project/cube/common/footer :: footer">footer</div>
</div>
</body>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>


<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script>
    function resetForm() {
        document.getElementById('searchFrom').reset();
    }
    //表单
    eui.use(['form', 'laydate', 'element'], function () {
        var form = eui.form
            , element = eui.element
            , laydate = eui.laydate;


        laydate.render({
            elem: '#visitor_time'
            ,type: 'datetime'
            ,range: true
        });

        form.on('select(type)', function(data){
            doSearch()
        });
    });
    $(function () {
        doSearch();
    });
    
    function openSchrdule(type,id) {
        var index = layer.open({
            title: '预约登记'
            , type: 2
            , area: ['600px', '500px']
            , content: '/web/schedule/visitor/schedule?type='+type+'&id='+id
        });
    }

    function layuiAlertClose(o) {
        layer.closeAll();
        if (o){
            doSearch();
        }
    }

    //加载数据
    function doSearch() {
        eui.use(['form','laypage','layer'], function(){
            var form = eui.form
                ,laypage = eui.laypage
                ,layer = eui.layer,
                $ = eui.jquery;
            //全选
            form.on('checkbox(allChoose)', function(data){
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                child.each(function(index, item){
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            var params = $("#searchFrom").serializeObject();
            if (params.visitor_time!=''){
                var time = params.visitor_time.split(' - ');
                params.start=time[0];
                params.end=time[1];
            }
            var index = layer.load(2); //加载
            $.ajax({
                url:"/visiting/record/listByparameter",
                data: {
                    json:JSON.stringify(params),
                    page:1,
                    pagesize:10
                },
                type:"post",
                success:function(result){
                    layer.closeAll();
                    // 分页
                    laypage.render({
                        elem: 'pages'
                        ,count: result.data.total //数据总数
                        ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                        ,skip: true
                        ,theme: '#1E9FFF'
                        ,jump: function(obj,first){
                            if (first){
                                //第一次，不需要查询数据
                                var userList = result.data.list;
                                console.log(userList)
                                //遍历，拼接表格
                                var tableHtml = getTable(userList);
                                $("#userTable tbody").html(tableHtml);
                                form.render('checkbox');
                            }else {
                                var params = $("#searchFrom").serializeObject();
                                $.ajax({
                                    url: "/visiting/record/listByparameter",
                                    data: {
                                        json: JSON.stringify(params),
                                        page: obj.curr,
                                        pagesize: obj.limit
                                    },
                                    type: "post",
                                    success: function (result) {
                                        var userList = result.data.list;
                                        //遍历，拼接表格
                                        var tableHtml = getTable(userList);
                                        $("#userTable tbody").html(tableHtml);
                                        //重新加载复选框
                                        form.render('checkbox');
                                    }
                                });
                            }
                        }
                    });
                }
            });

        });
    }

    //渲染数据，拼接表格
    function getTable(userList) {
        console.log(userList)
        var tableHtml = '';
        for (var item in userList){
            var secUser = userList[item];

            var id = "'" + secUser.ID_ + "'";
            var type = '来访';
            var aicon = '<a title="来访记录" target="_blank" href="/web/customer/visitorInfo?id='
                + secUser.visitor_id + '"><i class="eui-icon tb">&#xe60e;</i></a>';
                var update = "'update'";
            if (secUser.type == 2){
                aicon='<a title="预约详情" onclick="openSchrdule('+update+','+id+')"  href="javasrcipt:void;"><i class="eui-icon tb">&#xe60e;</i></a>';
                type = '预约';
            }
            tableHtml +=  '<tr>' +
                '<td><input name="" e-skin="primary" class="mycheckbox" type="checkbox"><input name="userId" type="hidden" value="' + secUser.id + '"></td>' +
                '<td>'+ new Date(secUser.visitor_time).Format('yyyy-MM-dd hh:mm') +'</td>' +
                '<td>'+type+'</td>' +
                '<td><a target="_blank" href="/web/customer/visitorUpdate?id=' + secUser.visitor_id + '">'+ secUser.visitor_name +'</a></td>' +
                '<td>'+secUser.phone+'</td>' +
                '<td title="'+secUser.Visiting_purpose+'">'+secUser.Visiting_purpose+'</td>' +
                '<td>'+aicon+'</td>' +
                '</tr>';
        }
        return tableHtml;
    }
</script>

</html>