<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.business.dao.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.business.domain.Schedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="consultant_id" jdbcType="VARCHAR" property="consultantId" />
    <result column="visitor_id" jdbcType="VARCHAR" property="visitorId" />
    <result column="visitor_time" jdbcType="TIMESTAMP" property="visitorTime" />
    <result column="visitor_name" jdbcType="VARCHAR" property="visitorName" />
    <result column="visitor_total" jdbcType="INTEGER" property="visitorTotal" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />

    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />

    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>

  <select id="findScheduleDataTimeOrEvent" parameterType="com.yidusoft.project.business.domain.Schedule" resultMap="BaseResultMap">
      SELECT * FROM `schedule` WHERE deleted=0 AND consultant_id=#{consultantId}

      <if test="visitorTimeStr!=null and visitorTimeStr!=''">
        AND visitor_time LIKE '%${visitorTimeStr}%'
      </if>

    ORDER BY visitor_time DESC

  </select>
</mapper>