<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidusoft.project.business.dao.VisitingRecordMapper">
  <resultMap id="BaseResultMap" type="com.yidusoft.project.business.domain.VisitingRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="record_code" jdbcType="VARCHAR" property="recordCode" />
    <result column="Visiting_purpose" jdbcType="VARCHAR" property="visitingPurpose" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="visitor_time" jdbcType="TIMESTAMP" property="visitorTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="visitor_id" jdbcType="VARCHAR" property="visitorId" />
    <result column="process_log" jdbcType="LONGVARCHAR" property="processLog" />
    <result column="Follow_up_plan" jdbcType="LONGVARCHAR" property="followUpPlan" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />

    <result column="interview" jdbcType="VARCHAR" property="interview" />
    <result column="evaluate" jdbcType="VARCHAR" property="evaluate" />
    <result column="this_time" jdbcType="VARCHAR" property="thisTime" />
    <result column="resolved" jdbcType="VARCHAR" property="resolved" />
    <result column="visitor_goal" jdbcType="VARCHAR" property="visitorGoal" />


  </resultMap>

    <select id="findComeToCallGoalAreaCount" parameterType="java.util.Map" resultType="Map">
        SELECT b.* FROM (
        SELECT  soo.option_name,
        (SELECT vr1.province FROM visitor_register vr1 WHERE vr1.ID_= vr.visitor_id) province,sum(1) total

         FROM visiting_record vr


        LEFT JOIN select_option soo ON vr.visitor_goal=soo.option_id
                WHERE vr.deleted=0 AND vr.visitor_goal
              in(SELECT so.option_id FROM select_option so WHERE so.option_category='goal')

        <if test="startTime!='' and endTime!=''">
            AND vr.create_time  &gt;=#{startTime} AND vr.create_time &lt;= #{endTime}
        </if>


        GROUP BY soo.option_name,province

        ) b WHERE 1=1

        <if test="province!='' and province!=null">
            AND b.province=#{province}
        </if>

        <if test="option_name!='' and option_name!=null">
            AND b.option_name=#{option_name}
            ORDER BY b.total DESC LIMIT 0,1
        </if>

    </select>

  <select id="findGoalBarChart" resultType="Map" parameterType="java.util.Map">
      SELECT vr.visitor_goal, soo.option_name, count(vr.visitor_goal) total FROM visiting_record vr LEFT JOIN select_option soo ON vr.visitor_goal=soo.option_id
        WHERE vr.deleted=0 AND vr.visitor_goal
      in(SELECT so.option_id FROM select_option so WHERE so.option_category='goal')

      <if test="startTime!='' and endTime!=''">
          AND vr.create_time  &gt;=#{startTime} AND vr.create_time &lt;= #{endTime}
      </if>

      GROUP BY vr.visitor_goal,soo.option_name
  </select>

  <!--AND visitor_time &gt;=#{startTime} AND visitor_time &lt;=#{endTime}-->
  <select id="findVisitingRecordShaftTimeByCustomerId" parameterType="com.yidusoft.project.business.domain.VisitingRecord"
          resultMap="BaseResultMap">
    SELECT vv.ID_,vv.visitor_time,
    (
        SELECT count(*)  from
            data_acquisition  d
            LEFT JOIN
            questionnaire   q
            ON  q.ID_=d.data_question
            WHERE   d.create_time = DATE_FORMAT(vv.visitor_time,'%Y-%m-%d')  AND d.user_id=#{visitorId}
    ) flag,
		(
        SELECT count(*)  from
            visiting_record_file  f  WHERE f.deleted=0 AND f.creator=vv.creator AND f.record_id=vv.ID_
        ) filesCount

     FROM visiting_record vv WHERE vv.deleted=0 AND vv.visitor_id=#{visitorId}

    ORDER BY vv.visitor_time DESC

  </select>

  <select id="findVisitingRecordByParameter" parameterType="com.yidusoft.project.business.domain.VisitingRecord"
         resultType="java.util.HashMap">

     SELECT vr2.visitor_name, vr2.phone ,vr.*,1 type FROM visiting_record vr
      LEFT JOIN visitor_register vr2 ON vr.visitor_id=vr2.ID_

    WHERE vr.deleted=0 AND vr.creator=#{creator}

    <if test="visitorName!=null and visitorName!=''">
      AND vr2.visitor_name LIKE '%${visitorName}%'
    </if>

  </select>

  <select id="findVisitorAndScheduleByParameter" parameterType="Map" resultType="java.util.HashMap">
    SELECT b.* FROM (
    SELECT vr2.visitor_name, vr2.phone ,vr.ID_,vr.Visiting_purpose,vr.visitor_time,
					1 type,vr.visitor_id,vr.create_time FROM visiting_record vr
					LEFT JOIN visitor_register vr2 ON vr.visitor_id=vr2.ID_
					WHERE vr.deleted=0 AND vr.creator=#{creator}
    UNION ALL

    SELECT s.visitor_name,s.phone,s.ID_,  s.describes Visiting_purpose,s.visitor_time,
				2 type, s.visitor_id,s.create_time FROM schedule s
				WHERE s.deleted=0 AND s.consultant_id=#{consultantId}

    ) b WHERE  1=1

    <if test="visitorName!=null and visitorName!=''">
      AND b.visitor_name LIKE '%${visitorName}%'
    </if>


    <if test="phone!=null and phone!=''">
      AND b.phone LIKE '%${phone}%'
    </if>

    <if test="visitor_time!=null and visitor_time!=''">
      AND b.visitor_time &gt;= #{start} AND b.visitor_time &lt;= #{end}
    </if>

    <if test="type!=null and type!=''">
      AND b.type=#{type}
    </if>

    <if test="create_time!=null and create_time!=''">
      AND b.create_time &gt;= #{start1} AND b.create_time &lt;= #{end1}
    </if>

      ORDER BY b.visitor_time DESC

  </select>

  <select id="getVisitingTotal" resultType="int" parameterType="String">
     select count(*)  from
       visiting_record
         where visitor_id =#{userId}
  </select>
<!--
  <select id="getVisitingTotal" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT * FROM visiting_record WHERE DATE(create_time) BETWEEN #{startTime} AND #{endTime}
  </select>-->

</mapper>