<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>渠道入驻</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <style>
        .titleSize{font-family: "微软雅黑", "宋体", Arial, sans-serif;
        color: black;font-size: 18px;}
        .t-line { height:60px;line-height: 60px;}
        .error{color: red;font-size: 12px;}
        .subBtn {
            color: white;
            background: #3f89ec;
            cursor: pointer;
        }
    </style>
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <header >
        <div class="eui-header">
            <div class="headerIn">
                <div class="eui-logo"><img th:src="@{/Styles/images/xymfImages/xymf/logo.png}" alt=""></div>
                <ul class="eui-nav xymfNav">
                    <li class="eui-nav-item"><h1 class="titleSize">渠道入驻登记</h1></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="eui-area">
        <div class="eui-body">
            <!-- 内容主体区域 -->
            <div class="xymfContent">
                <form class="eui-marginT5 eui-paddingR10" id="channelAdd" onsubmit="return false;">
                <div class="eui-row eui-marginT5">
                        <div class="eui-col-md8">
                            <div class="eui-form-item">
                                <label class="eui-form-label">公司名称</label>
                                <div class="eui-input-block">
                                    <input type="text" name="channelName"    placeholder="请输入公司名称" class="eui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                </div>

                <div class="eui-row eui-marginT5">
                    <div class="eui-col-md8">
                        <div class="eui-form-item">
                            <label class="eui-form-label">联系人姓名</label>
                            <div class="eui-input-block">
                                <input type="text" name="linkman"    placeholder="请输入联系人姓名" class="eui-input" />
                            </div>
                        </div>
                    </div>
                    <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                </div>

                    <div class="eui-row eui-marginT5">
                        <div class="eui-col-md8">
                            <div class="eui-form-item">
                                <label class="eui-form-label">手机号码</label>
                                <div class="eui-input-block">
                                    <input type="text" name="linkmanTell"  id="linkmanTell"  placeholder="请输入手机号码" class="eui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                    </div>

                <div class="eui-row eui-marginT5">
                    <div class="eui-col-md8">
                        <div class="eui-col-md6">
                            <div class="eui-form-item">
                                <label class="eui-form-label">图形验证码</label>
                                <div class="eui-input-block">
                                    <input type="text" name="vrifyCode" id="vrifyCodeIn"   placeholder="请输入图形验证码" class="eui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md4 eui-marginL20">
                                <img onclick = "this.src='/sign/imgcode?d='+new Date()*1"  src="/sign/imgcode" width="95" alt="">
                        </div>

                    </div>
                    <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                </div>

                <div class="eui-row eui-marginT5">
                    <div class="eui-col-md8">
                        <div class="eui-col-md6">
                            <div class="eui-form-item">
                                <label class="eui-form-label">手机验证码</label>
                                <div class="eui-input-block">
                                    <input type="text" name="msgCode"    placeholder="请输入手机验证码" class="eui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md4 eui-marginL20">
                            <button disabled="disabled"  onclick="sendMsgCode(this)" id="btnSendCode"
                                    type="button"  class="eui-btn eui-btn-primary  securityBut eui-btn-disabled">点击获取</button>
                        </div>

                    </div>
                    <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                </div>
                    <div class="eui-row eui-marginT5">
                        <div class="eui-col-md8">
                            <div class="eui-form-item">
                                <label class="eui-form-label">登录密码</label>
                                <div class="eui-input-block">
                                    <input type="password" name="userPass" id="userPass"   placeholder="请输登录密码" class="eui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                    </div>
                    <div class="eui-row eui-marginT5">
                        <div class="eui-col-md8">
                            <div class="eui-form-item">
                                <label class="eui-form-label">确认密码</label>
                                <div class="eui-input-block">
                                    <input type="password" name="newPass"    placeholder="请输入确认密码" class="eui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                    </div>

                <div class="eui-row eui-marginT5">
                    <div class="eui-col-md8">
                        <div  data-toggle="distpicker">
                        <div class="eui-col-md5">
                            <div class="eui-form-item">
                                <label class="eui-form-label">代理范围</label>
                                <div class="eui-input-block">
                                    <select data-province="" class="eui-input" e-ignore name="province">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="eui-col-md3 eui-marginL20">
                            <select data-province="" class="eui-input" e-ignore name="city">
                            </select>

                        </div>
                        <div class="eui-col-md3 eui-marginL20">
                            <p class="eui-font12 eui-color-red">*提示: 如果要代理多个城市,请申请多个账号</p>
                        </div>
                    </div>
                    </div>
                    <div class="eui-col-md4"> <label class="eui-form-label error"></label></div>
                </div>

                <!--<div class="eui-row eui-marginT5">-->
                    <!--<div class="eui-col-md8">-->
                            <!--<div class="eui-form-item">-->
                                <!--<label class="eui-form-label"></label>-->
                                <!--<div class="eui-input-block">-->
                                    <!--<input type="text" name="linkmanAddr"    placeholder="请输入详细地址" class="eui-input" />-->
                                <!--</div>-->
                            <!--</div>-->
                    <!--</div>-->
                    <!--<div class="eui-col-md4"> <label class="eui-form-label error"></label></div>-->
                <!--</div>-->

                <div class="eui-row eui-marginT5">
                    <div class="eui-col-md8">
                        <div class="eui-col-md4">
                            <div class="eui-form-item">
                                <label class="eui-form-label"></label>
                                <div class="eui-input-block">
                                    <input class="eui-input subBtn" type="submit" value="提交">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/module/eui.js" charset="utf-8"></script>
<script src="/Scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script src="/Scripts/plugins/distpicker.data.js"></script>
<script src="/Scripts/plugins/distpicker.js"></script>

<script src="/Scripts/libs/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
<script src="/pack.ajax.js" type="text/javascript"></script>
<script src="/Scripts/date2format.js" type="text/javascript"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<script th:src="@{/Scripts/plugins/md5/md5.min.js}" charset="utf-8"></script>
<script>

    var form,layedit,laydate;
    eui.use(['form', 'layedit', 'laydate'], function() {
        form = eui.form
            , layer = eui.layer
            , layedit = eui.layedit
            , laydate = eui.laydate;

    });





        var InterValObj; //timer变量，控制时间
    var count = 100; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    $(function () {
        // 手机号码验证
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");

        jQuery.validator.addMethod("isProvincePNo", function(value, element) {
            return this.optional(element) || value!='—— 省 ——';
        }, "请选择省份");

        $("#channelAdd").validate({
            rules: {
                linkmanTell: {
                    required : true,
                    minlength : 11,
                    isMobile : true
                },
                vrifyCode: {
                    required: true,
                },
                linkman: {
                    required: true,
                },
                channelName: {
                    required: true,
                },
                msgCode: {
                    required: true,
                },
                linkmanAddr: {
                    required: true,
                },
                province: {
                    required: true,
                    isProvincePNo:true
                },
                userPass: {
                    required: true,
                },
                newPass: {
                    required: true,
                    equalTo: "#userPass"
                }
            },
            messages: {
                linkmanTell: {
                    required : "请输入手机号",
                    minlength : "确认手机不能小于11个字符",
                    isMobile : "请正确填写您的手机号码"
                },
                msgCode: {
                    required: "请输入手机证码",
                },
                vrifyCode: {
                    required: "请输入图形验证码",
                },
                linkman: {
                    required: "请输入联系人姓名",
                },
                channelName: {
                    required: "请输入公司名称",
                },
                linkmanAddr: {
                    required: "请输入详细地址",
                },
                province: {
                    required: "请选择省份地区",
                    isProvincePNo:'请选择省份地区'
                },
                userPass: {
                    required: "请输入密码",
                },
                newPass: {
                    required: "请输入确认密码",
                    equalTo: "两次输入密码不一致"
                }
            },
            showErrors : function(errorMap, errorList) {
                for(var obj in errorMap) {
                    if (obj == 'linkmanTell'){
                        $("#btnSendCode").attr('disabled','true')
                            .css("background","")
                            .css("color","#ce6197").addClass('eui-btn-disabled');
                    }
                }
                this.defaultShowErrors();
            },
            success:function(label) {
                if (label[0].htmlFor == 'linkmanTell'){
                    $.post('/sign/check/phone',{mobile:$("#linkmanTell").val()},function (resule) {
                        if (resule.code == 200){
                            $("#btnSendCode").removeAttr('disabled')
                                .css("background","#7dbbfa").css("color","#fff").removeClass('eui-btn-disabled');
                        }else {
                            layer.msg("该手机号码已存在，请换一个试试！");
                            $("#btnSendCode").attr('disabled','true')
                                .css("background","")
                                .addClass('eui-btn-disabled');
                        }
                    });
                }
            },
            submitHandler: function() {
                sign();
            }
        });
    });
    function sign() {
        var obj = $("#channelAdd").serializeObject();
        obj.userPass=md5(obj.userPass);
        obj.newPass=md5(obj.newPass);
        layer.load();
        $.ajax({
            url:'/sign/channel',
            type:"post",
            data:{
                json:JSON.stringify(obj)
            },
            dataType:"json",
            success:function(resule){
                layer.closeAll();
                layer.msg(resule.message);
                if (resule.code == 200){
                    location.href='/index';
                }
            }
        });
    }
    function sendMsgCode(o) {
        if ($("#vrifyCodeIn").val()!=''){
            var m = $("#linkmanTell").val();
            curCount = count;
            $(o).attr('disabled','true');

            $.ajax({
                url:'/sign/code',
                type:"post",
                data:{
                    mobile:m,
                    vrifyCode:$("#vrifyCodeIn").val(),
                    templateType:'用户注册'
                },
                dataType:"json",
                success:function(data){
                    layer.msg(data.message);
                    if(data.code ==200) {
                        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                    }else {
                        $(o).removeAttr('disabled');
                    }
                }
            });
        }else {
            layer.msg('请填写图形验证码');
        }
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").html("点击获取");
        }
        else {
            curCount--;
            $("#btnSendCode").html('倒计'+curCount+'秒');
        }
    }
</script>
</body>
</html>