<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>结算记录</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <link rel="stylesheet" th:href="@{/Styles/themes/default/shutter.css}" media="all">
    <style>
        .main {
            height: 400px;
            /* width: 778px !important; */
            overflow: hidden;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #e3e3e3;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }
    </style>
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/channelentrance/common/header :: header">Header</div>
    <div class="eui-area">
        <div  class="eui-body">

            <div class="xymfContent">
                <div class="eui-row eui-padding10 eui-borderB">
                    <div class="eui-col-md6 eui-font18">
                        佣金结算
                    </div>
                    <div class="eui-col-md6 eui-textAlignR">
                    </div>
                </div>
                <form id="searchFrom2" onsubmit="return false;">
                    <input  type="hidden" id="channelId" name="channel_id" th:value="${session.userSession.channelId}"/>
                    <div class="eui-form eui-margin10">
                        <div class="eui-form-item">
                            <label class="eui-form-label">支付状态</label>
                            <div class="eui-input-inline">
                                <select  name="status">
                                        <option value="">全部</option>
                                        <option value="1">未支付</option>
                                        <option value="2">已支付</option>
                                        <option value="3">未结算</option>
                                </select>
                            </div>
                            <label class="eui-form-label">用户姓名</label>
                            <div class="eui-input-inline">
                                <select    name="referrer">
                                    <option value="">全部</option>
                                    <th:block th:each="maps : ${channelAccountMap}">
                                        <option  th:text="${maps.USER_NAME}" th:value="${maps.ID_}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="eui-input-inline">
                                <span class="eui-btn eui-btn-small eui-btn-normal" onclick="doSearch()">查询</span>
                                <span class="eui-btn eui-btn-small eui-btn-primary" onclick="resetForm()">重置</span>
                            </div>
                        </div>

                        <div class="eui-form-item">
                            <label class="eui-form-label">起始时间</label>
                            <div class="eui-input-inline">
                                <input id="startTime" name="startTime" readonly="readonly" class="eui-input" type="text" value="">
                            </div>

                            <label class="eui-form-label">截至时间</label>
                            <div class="eui-input-inline">
                                <input id="endTime" name="endTime" readonly="readonly" class="eui-input" type="text" value="">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="eui-row eui-padding10 eui-borderB">
                    <div class="eui-col-md6 eui-font18">
                        <span style="margin-left: 40px;" class="eui-color-blue">金额: <span id="z">0</span></span>
                        <span class="eui-color-blue" style="margin-left: 40px;">佣金: <span id="y">0</span> </span>
                    </div>
                    <div class="eui-col-md6 eui-textAlignR">

                    </div>
                </div>
                <div id="analysis"  style="width: 100%;height:250px;"></div>
                <table id="test2"></table>

             </div>
    </div>
    <div th:replace="project/channelentrance/common/footer :: footer">footer</div>
</div>
</body>
<script th:src="@{/Scripts/module/eui.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/jquery-1.9.0.min.js}"></script>
<script type="text/javascript" th:src="@{/date2format.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/shutter.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/velocity.js}"></script>
<script type="text/javascript" th:src="@{/pack.ajax.js}"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="/Scripts/plugins/echarts/echarts.min.js"></script>
<!-- 引入 macarons 主题 -->
<script src="/Scripts/plugins/echarts/macarons.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('analysis'), 'macarons');
    var tableIns;
    var table;


    var form,laypage,layer,laydate;
    eui.use(['form','laypage','layer','laydate'], function() {
         form = eui.form
            , laypage = eui.laypage
            , layer = eui.layer
            ,laydate = eui.laydate;

        form.on('select(inviter_user)', function(data){
            userLineChart();
        });

        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        });

    });
    function resetForm() {
        document.getElementById('searchFrom2').reset()
    }

    $(function () {
        var obj =$("#searchFrom2").serializeObject();
        obj.type=2;
        oneLine(obj);
        dynamicTable(obj);

        myChart.on('click', function (param) {
            var obj = $("#searchFrom2").serializeObject();
            if (obj.referrer!=''){
                obj.type=1;
                obj.inviter_user=obj.referrer;
            }else {
                obj.type=2;
            }
            obj.create_time=param.name;
            dynamicTable(obj);
        });
    });

    function doSearch() {
        var obj = $("#searchFrom2").serializeObject();
        if (obj.startTime!='' &&  obj.endTime!=''){
            obj.startTime=obj.startTime+' 00:00:00';
            obj.endTime=obj.endTime+' 24:00:00';
        }

        if (obj.referrer!=''){
            obj.type=1;
            obj.inviter_user=obj.referrer;
        }else {
            obj.type=2;
        }
        oneLine(obj);
        dynamicTable(obj);

    }

    function oneLine(obj) {
        var timeDataX=new Array;
        var timeDataY=new Array;
        $.post('/clearing/manage/clearingLineChartNew',{json:JSON.stringify(obj)},function (result) {
            var setingObj = new Object();
            setingObj.maxY=100;
            setingObj.interval=25;
            if(result.data !=null &&result.data.length>0){
                for(var i=0;i<result.data.length;i++){
                    timeDataX[i]= result.data[i].create_time;
                    timeDataY[i]=result.data[i].brokerage;
                }
                setingObj.maxY=Math.ceil((result.data[0].maxY)/50)*50;
                setingObj.interval=Math.ceil((setingObj.maxY)/4);
            }
            myChart.setOption(getOption(timeDataX,timeDataY,setingObj));
        }) ;
    }

    function getOption(timeData,data,setingObj) {
        option = {
            title: {
                text: '',
                x: 'left',
            },
            tooltip: {
                trigger: 'axis',

                axisPointer: {
                    animation: false
                }
            },
            legend: {
                data: ['流量'],
                x: 'left'
            },
            toolbox: {
                feature: {
//                    dataZoom: {
//                        yAxisIndex: 'none'
//                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            axisPointer: {
                link: {
                    xAxisIndex: 'all'
                }
            },
            dataZoom: [{
                show: true,
                realtime: true,
                start: 30,
                end: 70,

                xAxisIndex: [0, 1]
            }, {
                type: 'inside',
                realtime: true,
                start: 30,
                end: 70,
                xAxisIndex: [0, 1]
            }],
            grid: [{
                left: 40,
                right: 40,
            }, {
                left: 40,
                right: 40,
            }],
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLine: {
                    onZero: true
                },
                data: timeData
            }, {
                gridIndex: 1
            }],

            yAxis: [{
                type: 'value',
                max: setingObj.maxY,
                name: '单位:￥',
                min: 0,
                interval: setingObj.interval,


            }, {
                gridIndex: 1
            }],
            series: [{
                name: '佣金',
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 9,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                },
                markPoint: {
                    data: [{
                        type: 'max',
                        name: '最大值'
                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                markArea: {
                    silent: true,
                    label: {
                        normal: {
                            position: ['10%', '100%']
                        }
                    }
                },
                data: data

            }]
        };

        return option;
    }


    function dynamicTable(obj) {
        layer.load(2);
        eui.use(['table', 'laydate'], function(){
            table = eui.table;
            var laydate = eui.laydate;

            laydate.render({
                elem: '#startTime'
                ,done: function(value, date, endDate){
                }
            });
            laydate.render({
                elem: '#endTime'
                ,done: function(value, date, endDate){
                }
            });
            tableIns = table.render({
                id: 'idTest'
                ,elem: '#test2'
                ,url:'/clearing/manage/listOrderOnlineClearing'
                ,method:'post'
                ,where: {json: JSON.stringify(obj)}
                ,height: 420
                ,cols: [[ //标题栏
                    {field: 'order_code', title: '订单编号', width: 120}
                    ,{field: 'order_money', title: '金额(￥)', width: 100}
                    ,{field: 'brokerage', title: '佣金(￥)', width: 100,templet:'<div>{{# if(d.brokerage==undefined ){ }} 未结算  {{#  }else{   }} {{ d.brokerage}} {{# } }}</div>'}
                    ,{field: 'status', title: '支付状态', width: 100,templet:'<div>{{# if(d.status=="1"){ }} 未支付  {{#  } }}  {{# if(d.status=="2"){ }} 已支付  {{#  } }}   {{# if(d.status==undefined){ }} 未结算  {{#  } }}</div>'}
                    ,{field: 'consultant_name', title: '咨询师', width: 100}
                    ,{field: 'referrer', title: '推荐人', width: 100}
                    ,{field: 'payment_time', title: '订单时间', width: 180,templet:'<div>{{new Date(d.payment_time).Format("yyyy-MM-dd hh:mm:ss")}}</div>'}
                    ,{field: 'create_time', title: '结算时间', width: 180,templet:'<div>{{# if(d.create_time==undefined ){ }} 未结算  {{#  }else{   }} {{new Date(d.create_time).Format("yyyy-MM-dd hh:mm:ss")}} {{# } }}</div>'}

                    ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'message' //状态信息的字段名称，默认：msg
                    ,countName: 'count' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,skin: 'row' //表格风格
                ,even: true
                ,loading: true
                ,page: true //是否显示分页
                ,limits: [10,30,50,100]
                ,limit: 10 //每页默认显示的数量
                ,done: function(res, curr, count){
                    $("#z").html(0);
                    $("#y").html(0);
                    if (count>0){
                        $("#z").html(res.data[0].gross);
                        $("#y").html(res.data[0].bk);
                    }
                    layer.closeAll();
                }
            });

            //监听工具条
            table.on('tool(idTest)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                if(layEvent === 'edit'){ //编辑
                    var parentId = channelTree.getSelected().data.parentId;
                    var list = new Array();

                    var obj = new Object();
                    obj.ID_=data.ID_;
                    obj.payment_time=data.payment_time;
                    obj.order_money=data.order_money;
                    list.push(obj);
                    if (parentId=='0'){
                        parentId=channelTree.getSelected().data.id
                    }
                    sendSave(list,parentId);
                }
            });
        });
    }
</script>
<script type="text/html" id="barDemo">
    <div class="eui-btn-group">


        <div>{{# if(d.status=="1"){ }}
            <button  class="eui-btn eui-btn-primary eui-btn-mini"
                     title="支付佣金" e-event="edit3" >
                <i class="eui-icon">&#xe618;</i></button>  {{#  }else{   }}
            {{# } }}</div>
    </div>
</script>
</html>