<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>结算记录</title>
    <link rel="stylesheet" th:href="@{/Styles/themes/default/style.css}" media="all">
    <link rel="stylesheet" th:href="@{/Styles/themes/default/shutter.css}" media="all">
    <style>
        .main {
            height: 400px;
            /* width: 778px !important; */
            overflow: hidden;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #e3e3e3;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }
    </style>
</head>
<body class="eui-layout-body ">
<div class="eui-layout eui-layout-admin xymfHome">
    <div th:replace="project/channelentrance/common/header :: header">Header</div>
    <div class="eui-area">
        <div  class="eui-body">
            <div class="eui-padding20 xymfContent">
            <input type="hidden" th:value="${session.userSession.channelId}" id="user">

            <div class="eui-form">
                <input type="radio" name="month" e-filter="month" value="1" checked="checked" title="上月">
                <input type="radio" name="month" e-filter="month" value="3" title="近三月">
                <input type="radio" name="month" e-filter="month" value="6" title="近半年">
                <input type="radio" name="month" e-filter="month" value="" title="其他">
                <div style="display: none;" id="_qtsj" class="eui-input-inline">
                    <input type="text" id="qtsj" name="g" class="eui-input"  placeholder="时间区间" >
                </div>
            </div>
            <div class="eui-marginT10">
                <span class="eui-marginL40">订单总数: </span><span class="acj">0</span>
                <span class="eui-marginL40">佣金总额: </span><span class="acy">0</span>
            </div>
            <form class="eui-form eui-marginT20" id="searchFrom">
                <div class="eui-form-item">
                    <label class="eui-form-label">订单编号</label>
                    <div class="eui-input-inline">
                        <input type="text" name="order_code" class="eui-input" id="order_code"  placeholder="订单编号" >
                    </div>

                    <label class="eui-form-label">订单时间</label>
                    <div class="eui-input-inline eui-width300">
                        <input type="text"  class="eui-input eui-width300" id="orderTime" placeholder="订单时间" >
                    </div>

                    <div class="eui-input-inline">
                        <span class="eui-btn" onclick="doSearch2()">查询</span>
                        <span class="eui-btn eui-btn-primary" onclick="resetForm()">重置</span>
                    </div>
                </div>
            </form>
            <div class="eui-row eui-padding10 eui-borderB">
                <div class="eui-col-md6 eui-font18">
                    <i class='eui-icon eui-font24'>&#xe61d;</i> 佣金统计
                </div>
                <div class="eui-col-md6 eui-textAlignR">
                </div>
            </div>
                <div id="analysis"  class="main"></div>

                <div class="eui-row eui-padding10 eui-borderB">
                <div class="eui-col-md6 eui-font18">
                    <i class='eui-icon eui-font24'>&#xe61d;</i> 订单列表
                </div>
                <div class="eui-col-md6 eui-textAlignR">
                </div>
            </div>
            <table class="eui-marginT10" id="test2"></table>
            </div>
        </div>
    <div th:replace="project/channelentrance/common/footer :: footer">footer</div>
</div>
</body>
<script th:src="@{/Scripts/module/eui.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/jquery-1.9.0.min.js}"></script>
<script type="text/javascript" th:src="@{/date2format.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/shutter.js}"></script>
<script type="text/javascript" th:src="@{/Scripts/velocity.js}"></script>
<script type="text/javascript" th:src="@{/pack.ajax.js}"></script>
<script src="/Scripts/plugins/jquery.validate.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="/Scripts/plugins/echarts/echarts.min.js"></script>
<!-- 引入 macarons 主题 -->
<script src="/Scripts/plugins/echarts/macarons.js"></script>
<script>
    var leftObj;
    var orderCountFlag = true;
    // 表单
    eui.use(['form', 'laydate', 'layer'], function(){
        var form = eui.form
            ,layer = eui.layer
            ,laydate = eui.laydate;

        laydate.render({
            elem: '#orderTime'
            ,type:'datetime'
            ,range: true
            ,done: function(value, date, endDate){
                var startTime = value.split(" - ")[0];
                var endTime = value.split(" - ")[1];
                leftObj.startTime=startTime;
                leftObj.endTime=endTime;
                doSearch2()

            }
        });

        laydate.render({
            elem: '#qtsj'
            ,type: 'month'
            ,range: true
            ,done: function(value, date, endDate){
                var startTime = date.year+'-'+date.month+'-01 00:00:00';
                var endTime = getMonthEndDate(endDate.year,endDate.month)+' 24:00:00';
                leftObj.startTime=startTime;
                leftObj.endTime=endTime;
                doSearch()
            }
        });

        form.on('radio(month)', function(data){
            if (data.value!=''){
                $("#_qtsj").hide();
                var s = getMonthStartDate();
                leftObj.startTime=removemulMonth(s,Number(data.value))+' 00:00:00';
                leftObj.endTime=s+' 00:00:00';
                doSearch();

            }else {
                leftObj.startTime=null;
                leftObj.endTime=null;
                $("#_qtsj").show();
            }
        });


        leftObj = new Object();
        leftObj.type='cityList';
        var s = getMonthStartDate();
        leftObj.startTime=removemulMonth(s,1)+' 00:00:00';
        leftObj.endTime=s+' 00:00:00';
        dynamicTable(leftObj);
    });



    function doSearch() {
        dynamicTable(leftObj);
    }
    function doSearch2() {
        leftObj.order_code=$("#order_code").val();
        orderCountFlag = false;
        doSearch();
    }

    function resetForm() {
        document.getElementById('searchFrom').reset();
        leftObj.startTime=null;
        leftObj.endTime=null;
        leftObj.order_cod=null;
    }

    var table;
    function dynamicTable(obj) {
        //获取渠道ID
        obj.id_=$("#user").val();
        lineChartRight(obj)
        eui.use(['table', 'laydate','layer'], function(){
            table = eui.table;
            var laydate = eui.laydate;
            var layer = eui.layer;

            layer.load();
            tableIns = table.render({
                id: 'idTest'
                ,elem: '#test2'
                ,url:'/platform/settlement/areaAndChannelOrderList'
                ,method:'post'
                ,where: {json: JSON.stringify(obj)}
                ,height: 420
                ,cols: [[ //标题栏
                    {field: 'order_code', title: '订单编号', width: 200}
                    ,{field: 'payment_time', title: '订单时间', width: 180,templet:'<div>{{new Date(d.payment_time).Format("yyyy-MM-dd hh:mm:ss")}}</div>'}
                    ,{field: 'order_money', title: '金额(￥)', width: 100}
                    ,{field: 'brokerage', title: '佣金(￥)', width: 100}
//                    ,{field: 'rule', title: '结算比例', width: 100}
//                    ,{field: 'rule_name', title: '结算规则', width: 110}
                ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'message' //状态信息的字段名称，默认：msg
                    ,countName: 'count' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,skin: 'row' //表格风格
                ,even: true
                ,loading: true
                ,page: true //是否显示分页
                ,limits: [10,30,50,100]
                ,limit: 10 //每页默认显示的数量
                ,done: function(res, curr, count){
                    if (orderCountFlag){
                        $(".acy").html('0');
                        $(".acj").html(count);
                        if (res.data.length>0){
                            $(".acy").html(res.data[0].ZYJ);
                        }
                    }
                    layer.closeAll();
                    orderCountFlag = true;
                }
            });
        });
    }
    var myChart = echarts.init(document.getElementById('analysis'), 'macarons');

    function lineChartRight(obj) {
        var timeDataX=new Array;
        var timeDataY=new Array;
        $.post('/clearing/manage/clearingLineChart',{json:JSON.stringify(leftObj)},function (result) {
            var setingObj = new Object();
            setingObj.maxY=100;
            setingObj.interval=25;
            if(result.data !=null &&result.data.length>0){
                for(var i=0;i<result.data.length;i++){
                    timeDataX[i]= result.data[i].create_time;
                    timeDataY[i]=result.data[i].brokerage;
                }
                setingObj.maxY=Math.ceil((result.data[0].maxY)/50)*50;
                setingObj.interval=Math.ceil((setingObj.maxY)/4);
            }
            myChart.setOption(getOption(timeDataX,timeDataY,setingObj));
        }) ;
    }
    function getOption(timeData,data,setingObj) {
        option = {
            title: {
                text: '',
                x: 'left',
            },
            tooltip: {
                trigger: 'axis',

                axisPointer: {
                    animation: false
                }
            },
            legend: {
                data: ['流量'],
                x: 'left'
            },
            toolbox: {
                feature: {
//                    dataZoom: {
//                        yAxisIndex: 'none'
//                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            axisPointer: {
                link: {
                    xAxisIndex: 'all'
                }
            },
            dataZoom: [{
                show: true,
                realtime: true,
                start: 30,
                end: 70,

                xAxisIndex: [0, 1]
            }, {
                type: 'inside',
                realtime: true,
                start: 30,
                end: 70,
                xAxisIndex: [0, 1]
            }],
            grid: [{
                left: 40,
                right: 40,
            }, {
                left: 40,
                right: 40,
            }],
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLine: {
                    onZero: true
                },
                data: timeData
            }, {
                gridIndex: 1
            }],

            yAxis: [{
                type: 'value',
                max: setingObj.maxY,
                name: '单位:￥',
                min: 0,
                interval: setingObj.interval,


            }, {
                gridIndex: 1
            }],
            series: [{
                name: '佣金',
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 9,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                },
                markPoint: {
                    data: [{
                        type: 'max',
                        name: '最大值'
                    }, {
                        type: 'min',
                        name: '最小值'
                    }]
                },
                markArea: {
                    silent: true,
                    label: {
                        normal: {
                            position: ['10%', '100%']
                        }
                    }
                },
                data: data

            }]
        };

        return option;
    }
</script>
</html>