/* @charset "utf-8"; */
/*  */
.xymfHome .eui-header{
    background: #fff;
    box-shadow: 0 0 10px #68a8d7;
    position: static;
}
.xymfHome .headerIn{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.xymfHome .eui-nav .eui-nav-item a{
    color: #333;
}
.xymfHome .eui-nav .eui-this:after,.eui-nav-bar{
    background-color: #1e9eff;
}
.xymfHome .eui-logo {
    position: static;
    float: left;
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: left;
    color: #009688;
    font-size: 16px;
}
.xymfHome .eui-nav .eui-badge, .eui-nav .eui-badge-dot {
    margin: 0;
    top: 14px;
    left: 38px;
}
.xymfHome .xymfNav{
    float: left;
}
.xymfHome .personage{
    float: right;
}
.xymfHome .eui-area{
    overflow: hidden;
    margin-bottom: 40px;
}
.xymfHome .eui-layout-admin .eui-side {
    position: static;
    width: 200px;
}
.xymfHome .eui-body {
    position: static;
    margin-left: 210px;
    width: auto;
    box-sizing: border-box;
}

.xymfHome .eui-side {
    position: static;
    width: 200px;
    margin: 20px 0;
    float: left;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 10px #b4ccde;
    min-height: 524px;
}

.xymfHome .eui-user-top {
    background: url(../../images/xymfImages/xymf/bg.png) no-repeat center top;
    background-size: 200px;
    position: relative;
    color: #333;
    height: auto;
}
.xymfHome .eui-userImg{
    right: 118px;
    bottom: -24px;
    width: 60px;
    height: 60px;
}
.xymfHome .eui-user-top .eui-userName {
    padding: 60px 0 0 90px;
}
.xymfHome .eui-user-top .eui-userJob {
    padding:20px 0 0 90px;
    color: #333;
}

.cymfNav{
    line-height: 50px;
    margin: 50px 0;
}
.cymfNav li{
    padding-left: 20px;
    cursor: pointer;
}
.cymfNav li:nth-child(1){
    padding-left: 70px;
    background: url(../../images/xymfImages/xymf/order.png) no-repeat 40px center;
}
.cymfNav li:nth-child(2){
    padding-left: 70px;
    background: url(../../images/xymfImages/xymf/PSQ.png) no-repeat 40px center;
}
.cymfNav li:nth-child(3){
    padding-left: 70px;
    background: url(../../images/xymfImages/xymf/privilege.png) no-repeat 40px center;
}
.cymfNav li:nth-child(4){
    padding-left: 70px;
    background: url(../../images/xymfImages/xymf/personal.png) no-repeat 40px center;
}
.cymfNav li:hover{
    background: #e6f4ff;
    color: #1e9eff;
}
.cymfNav li:nth-child(1):hover{
    background:#e6f4ff url(../../images/xymfImages/xymf/order-2.png) no-repeat 40px center;
}
.cymfNav li:nth-child(2):hover{
    padding-left: 70px;
    background:#e6f4ff url(../../images/xymfImages/xymf/PSQ-2.png) no-repeat 40px center;
}
.cymfNav li:nth-child(3):hover{
    padding-left: 70px;
    background:#e6f4ff url(../../images/xymfImages/xymf/privilege-2.png) no-repeat 40px center;
}
.cymfNav li:nth-child(4):hover{
    padding-left: 70px;
    background:#e6f4ff url(../../images/xymfImages/xymf/personal-2.png) no-repeat 40px center;
}
.cymfNav li:nth-child(1).nav-this{
    padding-left: 70px;
    color: #1e9eff;
    background:#e6f4ff url(../../images/xymfImages/xymf/order-2.png) no-repeat 40px center;
}
.cymfNav li:nth-child(2).nav-this{
    padding-left: 70px;
    color: #1e9eff;
    background:#e6f4ff url(../../images/xymfImages/xymf/PSQ-2.png) no-repeat 40px center;
}
.cymfNav li:nth-child(3).nav-this{
    padding-left: 70px;
    background:#e6f4ff url(../../images/xymfImages/xymf/privilege-2.png) no-repeat 40px center;
    color: #1e9eff;
}
.cymfNav li:nth-child(4).nav-this{
    padding-left: 70px;
    color: #1e9eff;
    background:#e6f4ff url(../../images/xymfImages/xymf/personal-2.png) no-repeat 40px center;
}

.xymfHome .xymfContent{
    overflow: hidden;
    margin: 20px 10px 10px 10px;
    box-shadow: 2px 2px 10px #b4ccde;
    border-radius:5px 5px 0 0;
}
.xymfContent .contentL{
    float: left;
    width: 676px;
    height: auto;
    margin-right: 20px;
}
.xymfContent .contentR{
    height: auto;
    margin-left: 696px;
    width: 272px;
}
.xymfContent .activity img{
    box-shadow: 0 0 10px #68a8d7;
    margin-bottom: 20px;
}


.contentForm .formTop{
    padding-top: 20px;
}
.contentForm .formTop .eui-btn{
    border-radius: 20px;
    box-shadow: 0 2px 10px #84caff;
}
.contentForm .xymfForm{
    padding: 20px;
}

.contentForm .eui-table thead tr{
    /*background: transparent;*/
    border-bottom: 1px solid #eee;
}
.contentForm .eui-table[e-even] tr:nth-child(even){
    background: transparent;
}

.contentForm,.contentR{
    background: #fff;
    box-shadow:  2px 2px 10px #b4ccde;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
    min-height: 377px;
}
.xymfContent .contentR .eui-laydate-footer{
    display: none;
}
.contentR .eui-laydate-content td, .eui-laydate-content th{
    height: 36px;
    border-radius: 50%;
}
.contentR .eui-laydate-header{
    border-bottom: 0;
    background: #1e9eff;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.contentR .eui-laydate, .eui-laydate-hint{
    border-radius: 6px 6px 0 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

.contentR .eui-laydate-header i{
    color: #fff;
}

.contentR .eui-laydate .eui-this{
    background-color: #1e9eff!important;
}

.contentR .calendarEvents{
    padding: 20px;
    min-height: 171px;
}


.xymfHome .eui-footer{
    width: 100%;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    text-align:center;
    z-index: 3;
}


/* 我的订单 */
.orderContent{
    margin-top: 20px;
    background: #fff;
    box-shadow:0 0 10px #68a8d7;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
    min-height: 524px;
    width: 970px;
}
.orderContent .eui-tab-title{
    height: 50px;
}
.orderContent .eui-tab-title li{
    line-height: 52px;
}
.orderContent .eui-tab-title .eui-this:after{
    height: 50px;
    border-bottom: 2px solid #1e9eff;
}
.orderContent .eui-tab-brief>.eui-tab-title .eui-this{
    color:#1e9eff;
}

.orderForm .orderT{
    background: transparent;
    width: 100%;
    margin: 16px 0;
    padding-left: 10px;
}
.orderForm .orderT th:nth-child(1){
    padding-left: 10px;
}
.orderForm .eui-table tr:hover{
    background: transparent;
}

.orderForm .orderIn{
    background: #f4f9fd;
    margin-top: 16px;
    width: 100%;
}
.orderForm .orderIn td:nth-child(1){
    width: 300px;
}
.orderForm .orderIn td:nth-child(2){
    width: 140px;
}
.orderForm .orderIn td:nth-child(5){
    width: 120px;
}

.orderForm .orderNum{
    padding: 12px;
}
.orderForm .orderInfo{
    border: 1px solid #f4f9fd;
    height: 100px;
}

.orderForm .eui-table{
    margin: 0;
}

.orderForm .orderIn .eui-table tr:hover{
    background-color: #ffffff!important;
}


/* 支付中心 */
.xymfPay .payCentre{
    border-left: 2px solid #ddd;
    padding-left: 10px;
    margin-left: 10px;
}
.xymfPay .eui-logo{
     width: 200px;
     color: #333;
     font-size: 18px;
}
.xymfPay .payPerson{
    float: left;
    margin: 10px;
    margin-left: 480px;
    padding-left: 48px;
    background: url(../../images/avatar.png) no-repeat left center;
    background-size: 38px;
    cursor: pointer;
}

.payLeft{
    width: 840px;
    float: left;
    background: #fff;
    box-shadow: 2px 2px 10px #b4ccde;
    border-radius: 5px 5px 0 0;
    margin: 20px 0;
    line-height: 60px;
}
.payRight{
    width: 290px;
    background: #fff;
    box-shadow:2px 2px 10px #b4ccde;
    border-radius: 5px 5px 0 0;
    float: left;
    margin: 20px 0 20px 20px;
    min-height: 520px;
}
.pay-color-red{
    color:#fd4c69;
}
.payTicket0{
    padding: 16px 0;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    width: 210px;
}
.payTicket0{
    border: 1px solid #cccccc;
}
.payTicket0 .discount{
    color: #fff;
    width: 0px;
    height: 0px;
    border-top: 50px solid #cccccc;
    border-right: 50px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.payTicket0 .discountFont{
    position: absolute;
    left: 3px;
    top: 4px;
    color: #fff;
    transform:rotate(315deg);
}
.payTicket0 .tick{
    color: #fff;
    width: 0px;
    height: 0px;
    border-bottom: 34px solid #cccccc;
    border-left: 34px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.payTicket0 .tickFont{
    position: absolute;
    right: 2px;
    bottom: -2px;
    color: #fff;
    font-size: 16px;
    z-index:2;
}
.payTicket1 {
    border: 1px solid #fd4c69;
    color: #fd4c69;
    width: 180px;
}

.payTicket .payTicket0{
    width: 210px;
}
.payTicket1 .discount{
    border-top: 50px solid #fd4c69;
}

.payTicket1 .discount{
    border-top: 50px solid #fd4c69;
}
.payTicket1 .tick{
    border-bottom: 34px solid #fd4c69;
}
.payLeft .send{
    margin: -40px 0 -10px 90px;
}
.payTicket .wechatpay{
    height: 38px;
    line-height: 38px;
    width: 180px;
}
.payTicket .wechatpay .tickFont{
    right: 2px;
    bottom: -8px;
}
.payCode{
    margin-left: 90px;
    margin-top: 10px;
}

.pay-color-yellow{
    background: #f39128;
}

.pay-color-gray{
    background: #A3A3A3;
}

.vipTitle{
    width: 300px;
    height: 84px;
    text-align: center;
    color: #fff;
    line-height: 84px;
    font-size: 24px;
    background: url(../../../Styles/images/xymfImages/xymf/vipbg.png) no-repeat left top;
    background-size: 290px 81px;
    margin-bottom: 40px;
}
.payRight .eui-row{
    padding:18px 30px;
    line-height: 30px;
}






/* 心云魔方样式 */

/* 问卷填写 */
.eui-area{width: 1200px;margin: 0 auto;}
.eui-display-Ib{display:inline-block;}
.questionHeader{width: 100%;height: 60px;background:#ffffff; background-size: 100%;box-shadow: 0 0 10px #68a8d7;margin-bottom: 20px; position: fixed; top: 0; left: 0; z-index: 11;}
.xymfLogo{color: #333;font-size: 18px;padding-top: 14px;}
.xymfLogo .payCentre{display:inline-block; border-left: 2px solid #ddd; padding-left: 10px; margin-left: 10px; }
.questionContent{width: 100%;height: auto;}
.contentBar{padding: 24px 0 0 24px;}
.subject{width: 100%;height: 100px;background:#ffffff;}
.subject { width: 992px; height: 532px; margin: 20px auto; position: relative; }
.subject>ul{ position:relative; z-index:1;display:block;width: 100%;height: 100%;}
.subject>ul>li {display: none; position: absolute; left: 0; top: 0;width: 100%;height: 100%;}
/*这里的li必须是定位元素，这样所有的li才能重叠在一起*/
.subject>ul .current { display: block; }
.subject>ol { position: absolute; bottom: -62px;left: 0; z-index:2;}
.subject>ol>li { float: left; width: 20px; height: 20px;background:#adadad; border-radius: 50%; line-height: 24px; margin-left: 10px; text-align:center; cursor:pointer;color: #fff;font-size: 16px;}
.subject>ol>.current{ background:#666666;}
.subject .sliderLeft,.sliderRight{position: absolute; z-index:3; width: 36px; height: 100px;background:url(../../images/xymfImages/arr12.png) no-repeat 0 0; top: 50%; left:-100px; margin-top: -40px; cursor:pointer;opacity: 0.8;}
.subject .sliderLeft,.sliderRight:hover{opacity: 0.6;}
.subject .sliderRight { right: -100px; left:auto; background-position: right top; }
.subject .eui-progress-bar{}
.grade .br-wrapper-e .br-widget a{display: inline-block; width: 110px; height: 30px; padding: 0;border-right: 1px solid #ffffff;background:#eeeeee;}
.grade .br-wrapper-e .br-widget a.br-active, .br-wrapper-e .br-widget a.br-selected{
    background: -webkit-linear-gradient(left, #c7e3fa , #a5d2f7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #c7e3fa, #a5d2f7); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #c7e3fa, #a5d2f7); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #c7e3fa , #a5d2f7); /* 标准的语法 */
}
.grade .br-wrapper-e .br-widget a:nth-child(2).br-active, .br-wrapper-e .br-widget a:nth-child(2).br-selected{
    background: -webkit-linear-gradient(left,#a5d2f7 , #72b9f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #a5d2f7, #72b9f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #a5d2f7, #72b9f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #a5d2f7 , #72b9f3); /* 标准的语法 */
}
.grade .br-wrapper-e .br-widget a:nth-child(3).br-active, .br-wrapper-e .br-widget a:nth-child(3).br-selected{
    background: -webkit-linear-gradient(left,#72b9f3 , #3c9eef); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #72b9f3, #3c9eef); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #72b9f3, #3c9eef); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #72b9f3 , #3c9eef); /* 标准的语法 */
}
.grade .br-wrapper-e .br-widget a:nth-child(4).br-active, .br-wrapper-e .br-widget a:nth-child(4).br-selected{
    background: -webkit-linear-gradient(left,#3c9eef, #2c96ed); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3c9eef, #2c96ed); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#3c9eef, #2c96ed); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,#3c9eef, #2c96ed); /* 标准的语法 */
}
.grade .br-wrapper-e .br-widget a:nth-child(5).br-active, .br-wrapper-e .br-widget a:nth-child(5).br-selected{
    background: -webkit-linear-gradient(left,#2c96ed, #0f84e3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #2c96ed, #0f84e3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #2c96ed, #0f84e3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #2c96ed, #0f84e3); /* 标准的语法 */
}
.gradeSubject{line-height: 30px;font-size: 16px;}
.degree{width: 100%; height: 30px; font-size: 14px;color: #1e9eff;}
.degree li{float: left;width: 110px;text-align: center;}
.questionSubmit{background: #ececec;}
.submitBtn{display:inline-block; margin-right: 106px;width: 150px; height: 58px;line-height: 58px;text-align: center; background: #1e9eff;color:#ffffff;font-size: 16px;margin-left: 20px; cursor: pointer;}
.submitBtn img{margin-right: 10px;}
.conetentHint{margin-left: 98px;padding-top:10px;}
/* 常用投影 */
.eui-box-shadow{box-shadow: 2px 2px 10px #b4ccde;}


/* 来访者咨询管理 */
.questionBody .visitorContent{ margin-top: 80px;}
.visitorContent .eui-area{box-shadow: 2px 2px 10px #b4ccde;border-radius: 5px;}
.visitorTitle{font-size: 18px;padding:16px;background: #f4f9fd;border-bottom: 1px solid #1e9eff;color: #1e9eff; }
.visitorContent .visitorIn{background: #ffffff;}
.visitorPhone1{padding-left: 34px;background: url(../../images/xymfImages/phone.png) no-repeat left center;background-size: 26px;}
.visitorPhone2{padding-left: 34px;background: url(../../images/xymfImages/mobile-phone.png) no-repeat left center;background-size: 22px;}

/* 来访者记录 */
.consuletTop{height: 58px; border-bottom: 1px solid #eee; box-shadow: 0 10px 10px #ccc;}
.consultSheet{width: auto; padding: 5px 14px;background: #f2f2f2; margin-bottom: 10px;}
.consultSheet .eui-icon{padding: 6px;background: #e5e5e5;margin-right: 2px;}
.xymfFooter{width: 100%;height: 40px; background: #eeeeee;position: fixed;left: 0; bottom: 0; line-height: 40px; text-align: center;margin-top: 20px;z-index: 11;}
.xymfContent{background: #ffffff;}
.questionbg{background: #f4f9fd;border-bottom: 1px solid #1e9eff;height: 60px;}
.xymfMargin{margin-bottom: 60px;}

/* 2017-11-10 */
/* 选择问卷模版弹窗 */
.classify .eui-colla-title{
    background-color: #fcfcfc;
}
.classify h2{
    font-weight: 400;
}
#checkQuestionnaire{
    background: #ffffff!important;
}

body .eui-layer-title{
    background: #f4f9fd;
    border-bottom: 1px solid #1e9eff;
    color: #1e9eff;
    padding: 26px;
    height: auto;
    line-height: 0;
    font-size: 16px;
}

.personage1{
    padding: 10px;
    background: #1e9eff;
    border-radius: 5px 5px 0 0;
}
.personage1 a{
    color:#ffffff;
    font-size: 16px;
}
.visitorLeft .eui-timeline{
    background:#f4f9fd;
    padding:20px 20px 40px 20px;
    /*max-height: 450px;*/
    overflow-y: auto;
    min-height: 410px;
}
.visitorLeft{
    position: fixed;
    left: 50%;
    margin-left: -600px;
    box-shadow:2px 2px 10px #b4ccde;
}
.visitorLeft .record{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.visitorInCon .eui-area{
    background: none;
    box-shadow: none;
}
.visitorInCon .eui-area .eui-mn1-type1{
    margin:0 10px 10px 110px;
    border-radius: 5px 5px 0 0;
}
.switch{
    font-size: 16px;
    padding: 0 14px;
    margin: 8px 10px 0 0;
}
.visitorInput input{
    background:#f4f9fd;
    border: 1px solid #1e9eff;
}
.visitorInput input::-webkit-input-placeholder{
    color: #cccccc;opacity:1;
}
.questionWhite{
    width: 88px;
}

/* 2017-11-11 */
.orderIn .orderCode{
    padding: 10px;
}
.eui-bg-none{
    background: none !important;
    box-shadow: none !important;
}
.payTicket .payTicketNew{
    width: 170px;
}
.shutter{
    box-shadow: 2px 2px 10px #b4ccde;
}
.activityContent{
    margin-top: 80px;
}
.eui-textIndent{
    text-indent: 2em;
}
.agreement{
    position: fixed;
    left:50%;
    bottom:20px;
    margin-left: -83px;
}
.xymf-width800{ width: 800px;}
.xymf-width1000{ width: 1000px;}

.xymf-marginB60{
    margin-bottom: 60px;
}
.xymf-marginT80{
    margin-bottom: 60px;
}
.updateProcess{
    font-size: 16px;
    color: #999;
}
.updateProcess .updateNum{
    border: 1px solid #999;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    margin:0 10px;
}
.updateProcess .updateLine{
    display: inline-block;
    width: 60px;
    height: 2px;
    background: #ccc;
    margin: 8px 0 0 8px;
}
.updateProcess .updateFont{
    width: 70px;
}
.updateProcess-this{
    color: #1e9eff;
}
.updateProcess-this .updateNum{
    border: 1px solid #1e9eff;
}
.updateProcess-this .updateLine{
    background: #1e9eff;
}
.updateProcess>div{
    cursor: pointer;
}

.welcomePage{
    background: #f4f9fd;
}
.xymfShadow{
    box-shadow: 2px 2px 10px #b4ccde;
}

.welcomeContent{
    margin-top: 80px;
    box-shadow: 2px 2px 10px #b4ccde;
}
.welcomeContent>div{
    min-height: 480px;
}
.subjectCon{
    margin-top: 70px;
}

.xymfHome .xymfNav .eui-nav .eui-this:after .eui-nav-itemed:after{
    background-color:#f4f9fd!important;
}
.eui-btn-primary:hover{
    border-color: #1e9eff;
}

/* 2017-11-16 admin 后台样式 */
.pagesBg .eui-laypage .eui-laypage-curr .eui-laypage-em{
    background-color: #009688!important;
}
.pagesbgBlue .eui-laypage .eui-laypage-curr .eui-laypage-em{
    background-color: #1e9eff!important;
}
.l-tree .l-over span{
    text-decoration: none!important;
}
.xymfLogoIn{
    width: 148px!important;
}

/* 2017-11-20 咨询师页面 */
.showTitle h1{
    padding: 22px!important;
    border-bottom: none!important;
    font-weight: 500!important;
    font-size: 22px!important;
    margin: 0 !important;

}

/* 2017-11-27 */
#tagScene p{
    margin: 5px;
}
#noMember{
    overflow: hidden;
    margin-top: 14px;
}
#isMember{
    margin-top: 20px;
}

/* 2017.11.29  */

#dataResult .eui-table tr:last-child{
    background: #f4f9fd;
}
#dataResult .eui-table tr:last-child td{
    color: #1e9eff;
    font-weight: 800;
}
#dataResult .eui-table tr:last-child:hover{
    background: #f4f9fd;
}
