<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <aside th:fragment="left">
    <div class="eui-side eui-bg-white">
      <div class="eui-user-top">
          <p th:text="${session.userSession.userName}" class="eui-font18 eui-userName"></p>
          <p class="eui-font14 eui-userJob">VIP</p>
          <div class="eui-userImg">
              <th:block th:if="${session.userSession.headImg!='' || session.userSession.headImg!=null}">
                  <img th:src="${'/files'+session.userSession.headImg}" width="60" alt="">
              </th:block>
              <th:block th:if="${session.userSession.headImg=='' || session.userSession.headImg==null}">
                  <img src="/Styles/images/default-pic.png" width="60" alt="">
              </th:block>
          </div>
      </div>
      <ul class="cymfNav" id="cymfNav">
          <li><a href="/cube/order">我的订单</a></li>
          <li>我的问卷</li>
          <li>我的特权</li>
          <li><a href="/web/user/userInfo">个人信息</a></li>
      </ul>

    </div>
    </aside>
  </div>
</body>
</html>
