<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的订单</title>
    <link rel="stylesheet" href="/Styles/themes/default/style.css">
    <script th:src="@{/Scripts/date2format.js}" charset="utf-8"></script>
    <script src="/Scripts/module/eui.js" charset="utf-8"></script>
</head>
<body class="eui-layout-body">
<div class="eui-layout eui-layout-admin xymfHome">
    <div class="eui-header">
        <div th:replace="project/cube/common/header :: header(${-1})">Header</div>
        <div class="eui-area">
            <div th:replace="project/cube/common/left :: left(${0})">sidebar</div>
            <div class="eui-body">
                <!-- 内容主体区域 -->
                <div class="orderContent">
                    <div class="eui-tab eui-tab-brief" e-filter="docDemoTabBrief">
                        <ul class="eui-tab-title">
                            <li class="eui-this">全部订单</li>
                            <li>已支付</li>
                            <li>未支付</li>
                            <li>已关闭</li>
                        </ul>
                        <div class="eui-tab-content">
                            <div class="eui-tab-item eui-show">
                                <div class="orderForm">
                                    <table class="orderT">
                                        <colgroup>
                                            <col width="350">
                                            <col width="170">
                                            <col width="170">
                                            <col width="150">
                                            <col>
                                        </colgroup>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>订单金额</th>
                                            <th>下单时间</th>
                                            <th>订单状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </table>
                                    <div class="orderIn">
                                    </div>
                                </div>
                                <div style="margin-left: 30px;" id="pages"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="eui-footer">
            <!-- 底部固定区域 -->
            © 2017 广州市易度软件开发有限公司旗下心云魔方品牌
        </div>
    </div>
</div>
<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>

<script>
    //表单
    eui.use(['form', 'laydate', 'element', 'layer'], function () {
        var form = eui.form
                , element = eui.element
                , laydate = eui.laydate
                , layer = eui.layer;

        // 日期
        laydate.render({
            elem: '#test-n1'
            , position: 'static'
        });

    });

    /**
     * 初始化数据
     */
    $(function () {
        doSearch();
    })

    function doSearch(orderState) {
        eui.use(['form', 'laypage', 'layer'], function () {
            var form = eui.form
                    , laypage = eui.laypage
                    , layer = eui.layer;
            $.post("/order/online/list", {orderState: orderState,page:1,size:5}, function (result) {
                if (result.code = 200) {
                    laypage.render({
                        elem: 'pages'
                        , pages: result.data.pages
                        , count: result.data.total //数据总数
                        , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                        , limit: 5
                        , limits: [5,10,15]
                        , skip: true
                        , theme: '#1E9FFF'
                        , jump: function (obj, first) {
                            //第一次，不需要查询数据
                            if(first){
                                var orderList = result.data.list;
                                console.log(orderList);
                                //遍历，拼接表格
                                var tableHtml = getTable(orderList);
                                $(".orderIn").html(tableHtml);
                            }else{
                                $.ajax({
                                    url: "/order/online/list",
                                    data: {
                                        orderState: orderState,
                                        page: obj.curr,
                                        size: obj.limit
                                    },
                                    type: "post",
                                    success: function (result) {
                                        var orderList = result.data.list;
                                        console.log(orderList);
                                        //遍历，拼接表格
                                        var tableHtml = getTable(orderList);
                                        $(".orderIn").html(tableHtml);
                                    }
                                })
                            }
                        }
                    });
                }
                /*if (result.code = 200) {
                    var tableHtml = getTable(result.data);
                    $(".orderIn").html(tableHtml);
                }*/
            })
        })
    }
    /**
     * 拼接表格
     * @param orderList
     */
    function getTable(orderList) {
        var tableHtml = "";
        for (var index in orderList) {
            var order = orderList[index];
            var id = "'" + order.id + "'";//订单Id
            var promotionsId = "'" + order.id + "'";//活动id
            tableHtml += ' <p class="orderCode">订单编号：' + order.orderCode + '</p>' +
                    '<table class="eui-table" e-skin="nob">' +
                    ' <tr class="orderInfo">' +
                    '<td>' + order.productName + '</td>' +
                    '<td>' + order.orderMoney + '元</td>' +
                    '<td>' + new Date(order.createTime).Format("yyyy-MM-dd hh:mm:ss") + '</td>';
            if (order.orderState == 1) {
                tableHtml += '<td>已支付</td>';
            } else if (order.orderState == 2) {
                tableHtml += '<td>未支付</td>';
            } else {
                tableHtml += '<td>已关闭</td>';
            }
            if (order.orderState == 1 || order.orderState == 3) {
                tableHtml += '<td class="eui-textAlignC">' +
                        '<span class="eui-btn eui-btn-normal" onclick="cancelOrder(' + id + ','+"'delete'"+')">删除订单</span>' +
                        '</td>' +
                        '</tr>' +
                        '</table>';
                continue;
            }
            tableHtml += '<td class="eui-textAlignC">' +
                    '<span class="eui-btn eui-btn-normal" onclick="payment(' + id + ')">立即付款</span>' +
                    '<br>' +
                    '<div class="eui-color-blue" onclick="cancelOrder(' + id + ','+"'cancel'"+')">取消订单</div>' +
                    '</td>' +
                    '</tr>' +
                    '</table>';
        }
        return tableHtml;
    }


    /**
     * 取消订单或者删除订单
     * @param id
     */
    function cancelOrder(id,orderType) {
        var confirm="确认删除订单吗？删除后不可恢复";
        if(orderType=="cancel"){
            confirm="确定取消订单吗？";
        }
        layer.confirm(confirm,{
            btn:['确认','取消']
        },function () {
            $.post("/order/online/delete", {id: id,orderType:orderType}, function (result) {
                if (result.message = "SUCCESS") {
                    if(orderType=="cancel"){
                        layer.msg('取消成功！',{icon:1});
                    }else{
                        layer.msg('删除成功！',{icon:1});
                    }
                    !//刷新数据
                            getDoSearchByState();
                }
            })
        })
    }

    /**
     * 付款
     * @param id
     */
    function payment(id) {
        $.post("/order/online/getState", {id: id}, function (result) {
            if (result.message = "success") {
                if (result.data == 3) {
                    layer.msg('该套餐已下架！', {});
                    getDoSearchByState();
                } else {
                    layer.confirm('确认付款', {
                        btn: ['确认', '取消']
                    }, function () {
                        $.post("/order/online/payment", {id: id,SerialNumber:"123213131313"}, function (result) {
                            if (result.message = "success") {
                                layer.msg('支付成功！', {icon: 1});
                                getDoSearchByState();
                            }
                        })
                    })
                }
            } else {
                layer.msg(result.message, {});
            }
        })
    }
    /**
     * tab栏点击事件
     */
    $('ul.eui-tab-title').click(function () {
        if (event.target.innerHTML == "全部订单") {
            doSearch();
        } else if (event.target.innerHTML == "已支付") {
            doSearch(1);
        } else if (event.target.innerHTML == "未支付") {
            doSearch(2);
        } else {
            doSearch(3)
        }
    })

    /**
     * 根据当前的tab栏来查询数据
     * @param text
     */
    function getDoSearchByState() {
        var text = $('.eui-this').text();
        if(text=='全部订单'){
            doSearch();
        }else if(text=='已支付'){
            doSearch(1);
        }else if(text=='未支付'){
            doSearch(2);
        }else{
            doSearch(3);
        }
    }

</script>
</body>
</html>
