<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的订单</title>
    <link rel="stylesheet" href="/Styles/themes/default/style.css">
    <script th:src="@{/Scripts/date2format.js}" charset="utf-8"></script>
    <script src="/Scripts/module/eui.js" charset="utf-8"></script>
</head>
<body class="eui-layout-body">
<div hidden id="alipayResultForm"></div>
<div class="eui-layout eui-layout-admin xymfHome">
    <div class="eui-header">
        <div th:replace="project/cube/common/header :: header(${-1})">Header</div>
        <div class="eui-area">
            <div th:replace="project/cube/common/left :: left(${0})">sidebar</div>
            <div class="eui-body">
                <!-- 内容主体区域 -->
                <div class="orderContent">
                    <div class="eui-tab eui-tab-brief" e-filter="docDemoTabBrief">
                        <ul class="eui-tab-title">
                            <li class="eui-this">全部订单</li>
                            <li>已支付</li>
                            <li>未支付</li>
                           <!-- <li>已关闭</li>-->
                        </ul>
                        <div class="eui-tab-content">
                            <div class="eui-tab-item eui-show">
                                <div class="orderForm">
                                    <table class="orderT">
                                        <colgroup>
                                            <col width="350">
                                            <col width="168">
                                            <col width="204">
                                            <col width="105">
                                            <col>
                                        </colgroup>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>订单金额</th>
                                            <th>下单时间</th>
                                            <th>订单状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </table>
                                    <div class="orderIn">
                                    </div>
                                </div>
                                <div style="margin-left: 30px;" id="pages"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="eui-footer">
            <!-- 底部固定区域 -->
           Copyright © 2018 北京科奥飞科技有限公司 版权所有 京ICP备17072234号
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.yidusoft.net" target="_blank">易度软件</a>
        </div>
    </div>
</div>
<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" th:src="@{/Scripts/cube/header.js}"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>

<script>
    //表单
    eui.use(['form', 'laydate', 'element', 'layer'], function () {
        var form = eui.form
                , element = eui.element
                , laydate = eui.laydate
                , layer = eui.layer;

        // 日期
        laydate.render({
            elem: '#test-n1'
            , position: 'static'
        });

    });

    /**
     * 初始化数据
     */
    $(function () {
        doSearch();
    })

    function doSearch(orderState) {
        eui.use(['form', 'laypage', 'layer'], function () {
            var form = eui.form
                    , laypage = eui.laypage
                    , layer = eui.layer;
            $.post("/order/online/list", {orderState: orderState, page: 1, size: 5}, function (result) {
                if (result.code = 200) {
                    laypage.render({
                        elem: 'pages'
                        , pages: result.data.pages
                        , count: result.data.total //数据总数
                        , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                        , limit: 5
                        , limits: [5, 10, 15]
                        , skip: true
                        , theme: '#1E9FFF'
                        , jump: function (obj, first) {
                            //第一次，不需要查询数据
                            if (first) {
                                var orderList = result.data.list;
                                console.log(orderList);
                                //遍历，拼接表格
                                var tableHtml = getTable(orderList);
                                $(".orderIn").html(tableHtml);
                            } else {
                                $.ajax({
                                    url: "/order/online/list",
                                    data: {
                                        orderState: orderState,
                                        page: obj.curr,
                                        size: obj.limit
                                    },
                                    type: "post",
                                    success: function (result) {
                                        var orderList = result.data.list;
                                        console.log(orderList);
                                        //遍历，拼接表格
                                        var tableHtml = getTable(orderList);
                                        $(".orderIn").html(tableHtml);
                                    }
                                })
                            }
                        }
                    });
                }
                /*if (result.code = 200) {
                 var tableHtml = getTable(result.data);
                 $(".orderIn").html(tableHtml);
                 }*/
            })
        })
    }
    /**
     * 拼接表格
     * @param orderList
     */
    function getTable(orderList) {
        var tableHtml = "";
        for (var index in orderList) {
            var order = orderList[index];
            var id = "'" + order.id + "'";//订单Id
            var promotionsId = "'" + order.id + "'";//活动id
            tableHtml += ' <p class="orderCode">订单编号：' + order.orderCode + '</p>' +
                    '<table class="eui-table" e-skin="nob">' +
                    ' <tr class="orderInfo">' +
                    '<td>' + order.productName + '</td>' +
                    '<td>' + order.orderMoney + '元</td>' +
                    '<td>' + new Date(order.createTime).Format("yyyy-MM-dd hh:mm:ss") + '</td>';
            if (order.orderState == 1) {
                tableHtml += '<td>已支付</td>';
            } else if (order.orderState == 2) {
                tableHtml += '<td>未支付</td>';
            } /*else {
                tableHtml += '<td>已关闭</td>';
            }*/
            if (order.orderState == 1 || order.orderState == 3) {
                tableHtml += '<td class="eui-textAlignC">' +
                        '<span class="eui-btn eui-btn-normal" onclick="cancelOrder(' + id + ',' + "'delete'" + ')">删除订单</span>' +
                        '</td>' +
                        '</tr>' +
                        '</table>';
                continue;
            }
            tableHtml += '<td class="eui-textAlignC">' +
                    '<button class="eui-btn eui-btn-normal payment" onclick="payment(' + id + ')">立即付款</button>' +
                    '<br>' +
                /*    '<div class="eui-color-blue eui-marginT5" onclick="cancelOrder(' + id + ',' + "'cancel'" + ')">取消订单</div>' +*/
                    '</td>' +
                    '</tr>' +
                    '</table>';
        }
        return tableHtml;
    }


    /**
     * 取消订单或者删除订单
     * @param id
     */
    function cancelOrder(id, orderType) {
        var confirm = "确认删除订单吗？删除后不可恢复";
        if (orderType == "cancel") {
            confirm = "确定取消订单吗？";
        }
        layer.confirm(confirm, {
            btn: ['确认', '取消']
        }, function () {
            $.post("/order/online/delete", {id: id, orderType: orderType}, function (result) {
                if (result.message = "SUCCESS") {
                    if (orderType == "cancel") {
                        layer.msg('取消成功！', {icon: 1});
                    } else {
                        layer.msg('删除成功！', {icon: 1});
                    }
                          //刷新数据
                            getDoSearchByState();
                }
            })
        })
    }

    /**
     * 付款
     * @param id
     */
    function payment(id) {
        $('.payment').attr("disabled","disabled");
        $.post("/order/online/getState", {id: id}, function (result) {
            console.log(result);
            if (result.code = 200) {
                var orderOnline = result.data;
                if (orderOnline.orderState == 3) {
                    layer.msg('该套餐已下架！', {
                        icon: 2,
                        time: 1500
                    });
                    $('.payment').removeAttr("disabled");
                    getDoSearchByState();
                } else {
                    /*var orderCode = new Date().Format("yyyy-MM-dd-hh-mm-ss");
                    orderCode = orderCode.replace(/-/g, "") + parseInt(Math.random() * 100000);*/
                    var obj = new Object();
                    obj.orderCode = orderOnline.orderCode;
                    obj.total_amount = orderOnline.orderMoney;//金额
                    obj.subject = orderOnline.productName;
                    obj.body = "";
                    $.ajax({
                        type: 'POST',
                        url: '/alipaytradepagepay/paymentByAlipay',
                        data: {
                            formDatas: JSON.stringify(obj)
                        },
                        dataType: 'html',//支付宝接口响应支付表单字符串
                        success: function (data) {
                            console.log(data);
                            $('.payment').removeAttr("disabled");
                            //将响应回来的支付表单插入html，保证此表单为第一表单，以完成表单的默认提交
                            $("#alipayResultForm").append(data);
                        }
                    });
                }
            } else {
                $('.payment').removeAttr("disabled");
                layer.msg('系统繁忙，请稍后再试！', {
                    icon: 2,
                    time: 1500
                });
            }
        })
    }
    /**
     * tab栏点击事件
     */
    $('ul.eui-tab-title').click(function () {
        if (event.target.innerHTML == "全部订单") {
            doSearch();
        } else if (event.target.innerHTML == "已支付") {
            doSearch(1);
        } else if (event.target.innerHTML == "未支付") {
            doSearch(2);
        } /*else {
            doSearch(3)
        }*/
    })

    /**
     * 根据当前的tab栏来查询数据
     * @param text
     */
    function getDoSearchByState() {
        var text = $('.eui-this').text();
        if (text == '全部订单') {
            doSearch();
        } else if (text == '已支付') {
            doSearch(1);
        } else if (text == '未支付') {
            doSearch(2);
        } else {
            doSearch(3);
        }
    }

</script>
</body>
</html>
