<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>问卷填写</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Styles/themes/default/style.css" rel="stylesheet" type="text/css"/>

    <style>
        /*.eui-col-md7 .degree li {*/
            /*margin-right: 20px;*/
        /*}*/
    </style>

</head>
<body>
<div class="questionHeader">
    <input type="hidden" th:value="${#httpServletRequest.getParameter('questionnaireId')}" id="questionnaireId"/>
    <input type="hidden" th:value="${userId}" id="userId"/>
    <input type="hidden" th:value="${visitorTimes}" id="visitorTimes"/>

    <div class="eui-row eui-area">
        <div class="xymfLogo">
            <img src="../../Styles/images/xymfImages/xymf/logo.png" alt="">
            <span class="payCentre">问卷填写</span>
        </div>
    </div>
</div>


<div class="questionContent">
    <div class="eui-area">
        <p class="eui-lineHeight24 conetentHint eui-font14">
            下面有<span th:text="${questionnaireQuestionSize}">90</span>道条测试项目，列出了有些人可能会有的问题，请仔细阅读每一条，然后根据最新一星期以内，您的实际感觉，选择适合的答案点击，请注意不要漏题。
        </p>
        <div class="subject">
            <ul id="questionUl">
                <li th:each="questions : ${questionlist}">
                    <div class="eui-row eui-marginB20 questionbg">
                        <div class="eui-col-md4 contentBar">
                            <!--<div class="eui-progress" e-showpercent="yes" e-filter="questionProgress">-->
                                <!--<div class="eui-progress-bar" e-percent="20%"></div>-->
                            <!--</div>-->
                            <div class="eui-progress eui-progress-big" e-showpercent="yes" e-filter="demo">
                                <div class="eui-progress-bar eui-bg-blue" e-percent="0%"></div>
                            </div>
                        </div>
                        <div class="eui-col-md7 eui-font16 eui-marginT15 eui-col-md-offset1">
                            <ul class="degree">
                                <li th:each="answer : ${optionAnswers}" th:text="${answer}"></li>

                            </ul>
                        </div>
                    </div>
                    <div class="eui-row " th:each="question ,iterStat : ${questions}">
                        <div class="eui-col-md5 eui-textAlignR gradeSubject eui-paddingR20"
                             th:text="${iterStat.index+1} + '.' +${question.questionContent}"
                             name="questionContent"
                             th:value="${question.questionType}"
                             th:attr="questionId=${question.id}"
                        >
                            1.头痛
                        </div>
                        <div class="eui-col-md7">
                            <div style="height: 50px;" class="grade">
                                <select class="example-0 rating" name="rating">

                                    <option th:each="an : ${answers}" th:value="${an}"></option>

                                </select>

                            </div>
                        </div>
                    </div>


                </li>
            </ul>
            <span class="sliderLeft"></span>
            <span class="sliderRight"></span>
            <ol class="sliderNum" id="sliderOl">
                <li th:each="questions : ${questionlist}"></li>

            </ol>
        </div>
    </div>


    <div class="questionSubmit">
        <div class="eui-area eui-textAlignR">
            <img src="/Styles/images/xymfImages/QRcode.png" width="50" alt="">
            <span class="submitBtn" id="submitBtn" onclick="calScore();"><img src="/Styles/images/xymfImages/submit.png"
                                                                              width="30" alt="">提交问卷</span>
        </div>

    </div>

</div>

<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<!-- 评分 -->
<script src="/Scripts/plugins/grade/js/jquery.barrating.js"></script>
<script src="/Scripts/plugins/grade/js/examples.js"></script>

<script th:inline="javascript">

    var pageIndex = 0;
    var pageSize = $('.subject>ul>li').length;
    var progress = 0;


    eui.use(['form', 'layedit', 'laydate', 'laypage', 'layer'], function () {
        var form = eui.form
            , layer = eui.layer
            , layedit = eui.layedit
            , laydate = eui.laydate
            , laypage = eui.laypage;
    });

    // 焦点图---------------------------------------------
    ;(function () {
        $(function () {
            //初始化中执行
            //自动播放
            var timer = null;
            var num = 0;


            var selectOption = $('.subject>ul>li .rating');
            for (var i = 0; i < selectOption.length; i++) {
                selectOption[i].value = '0';
            }


            function go() {
                clearInterval(timer);
                timer = setInterval(function () {
                    num++;
                    if (num > pageSize) {
                        num = 0;
                    }
                    $('.subject>ul>li').eq(num).fadeIn().siblings().hide();
                    $('.subject>ol>li').eq(num).addClass('current').siblings().removeClass();
                }, 1000);
            }

            //事件中执行
            //清除动画与左右切换显示
            $('.subject').hover(function (e) {
                //清除动画
                clearInterval(timer);
                //左右切换图标显示
            });
            //角标与左右切换
            $('.subject>ol>li').mouseover(function (e) {
                var index = $(this).index();
                num = index;
                $('.subject>ul>li').eq(index).fadeIn().siblings().hide();
                $(this).addClass('current').siblings().removeClass();
            });
            //左侧点击
            $('.subject .sliderLeft').click(function (e) {
                num--;
                pageIndex--;
                if (num < 0) {
                    num = pageSize;
                    pageIndex = pageSize;
                }
                $('.subject>ul>li').eq(num).fadeIn().siblings().hide();
                $('.subject>ol>li').eq(num).addClass('current').siblings().removeClass();
            });

            eui.use('element', function () {
                var element =  element = eui.element;
                element.init(); //这样element对动态生成的元素才会重新有效


                //右侧点击
            $('.subject .sliderRight').click(function (e) {

                //判断当前页面是否答完题目
                if (!isSelected(num)) {
                    return;
                }


                pageIndex++;
                num++;
                progress++;
                if (progress / pageSize * 100 <= 100){
                    element.progress('demo', Math.floor(num / pageSize * 100) + '%');
                }

                if (num > pageSize) {
                    num = 0;
                    pageIndex = 0;
                }
                $('.subject>ul>li').eq(num).fadeIn().siblings().hide();
                $('.subject>ol>li').eq(num).addClass('current').siblings().removeClass();
            });

            });
        })
    })();
    //判断当前页面是否答完题目
    function isSelected(num) {
        var selectOption = $('.subject>ul>li:eq(' + num + ') .rating');
        for (var i = 0; i < selectOption.length; i++) {

            if (selectOption[i].selectedIndex == -1) {
                layer.msg('您还有题目没完成！', {
                    time: 2000
                });
                return false;
            }
        }
        return true;
    }

    //分数计算
    function calScore() {

        //判断当前页面是否答完题目

        if (!isSelected(pageIndex)) {
            return;
        }

        //判断是否已经全部完成答题
        for (var i = 0; i < pageSize; i++) {
            if (!isSelected(i)) {
                return;
            }
        }
        var score = 0;
        var selectOption = $('.subject>ul>li .rating');
        var questionContent = $('div[name="questionContent"]');
        var array = new Array;
        for (var i = 0; i < selectOption.length; i++) {
            var obj = new Object();
            score = parseInt(selectOption[i].value);
            //分数
            obj.score = score+'';
            //问题
            obj.questionId = questionContent[i].getAttribute("questionid");
            obj.answer = $('.degree li:eq(' + selectOption[i].selectedIndex + ')').text();
            obj.questionType = questionContent[i].getAttribute("value");
            array.push(obj);
        }
        var questionnaireId = $("#questionnaireId").val();
        var userId = $("#userId").val();
        var visitorTimes= $("#visitorTimes").val();
        $.post("/cube/questionnaire/submitQuestionnaire", {
            "param": JSON.stringify(array),
            "questionnaireId": questionnaireId,
            "userId": userId,
            "visitorTimes":visitorTimes
        }, function (result) {
            if (result.code == 200) {
                window.location.href="/web/cube/getSuccess";
            }
        });
    }
    $('#questionUl li').eq(0).addClass('current');
    $('#sliderOl li').eq(0).addClass('current');
</script>

</body>
</html>
