<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的订单</title>
    <link rel="stylesheet" href="/Styles/themes/default/style.css">
    <script th:src="@{/Scripts/date2format.js}" charset="utf-8"></script>
    <style>

    </style>
<body class="eui-layout-body">
<div hidden id="alipayResultForm"></div>
<div class="eui-layout eui-layout-admin xymfHome xymfPay">
    <div th:replace="project/cube/common/header :: header(${-1})">Header</div>
    <div class="eui-area">
        <div th:object="${indexImg}">
            <input type="hidden" th:value="*{imageText}" id="imageText">
        </div>
        <div style="width: 800px;height: auto;align-content: center" id="showHtml"></div>
    </div>
</div>
<script src="/Scripts/module/eui.js"></script>
<script type="text/javascript" src="/Scripts/jquery-1.9.0.min.js"></script>
<script>
    $(function () {
        $('#showHtml').append($('#imageText').val());
    })
</script>
</body>
</html>
